vista-yardi/vista-yardi-interface/buildings.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="building" type="buildingRS"/>

  <xs:element name="buildings" type="buildingsRS"/>

  <xs:complexType name="buildingsRS">
    <xs:sequence>
      <xs:element ref="building" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buildingRS">
    <xs:sequence>
      <xs:element name="propertyCode" type="xs:string" minOccurs="0"/>
      <xs:element name="info" type="buildingInfoRS" minOccurs="0"/>
      <xs:element name="contactEmail" type="xs:string" minOccurs="0"/>
      <xs:element name="contactPhones" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="marketing" type="marketingRS" minOccurs="0"/>
      <xs:element name="floorplans" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="floorplan" type="floorplanRS" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="medias" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="media" type="mediaRS" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="amenities" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="amenity" type="amenityRS" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="parkings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="parking" type="parkingRS" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="includedUtilities" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="utility" type="utilityRS" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buildingInfoRS">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="buildingType" type="buildingType" minOccurs="0"/>
      <xs:element name="address" type="addressRS" minOccurs="0"/>
      <xs:element name="shape" type="xs:string" minOccurs="0"/>
      <xs:element name="totalStoreys" type="xs:string" minOccurs="0"/>
      <xs:element name="residentialStoreys" type="xs:string" minOccurs="0"/>
      <xs:element name="structureType" type="structureType" minOccurs="0"/>
      <xs:element name="structureBuildYear" type="xs:string" minOccurs="0"/>
      <xs:element name="constructionType" type="constructionType" minOccurs="0"/>
      <xs:element name="foundationType" type="foundationType" minOccurs="0"/>
      <xs:element name="floorType" type="floorType" minOccurs="0"/>
      <xs:element name="landArea" type="xs:string" minOccurs="0"/>
      <xs:element name="waterSupply" type="waterSupply" minOccurs="0"/>
      <xs:element name="centralAir" type="xs:boolean" minOccurs="0"/>
      <xs:element name="centralHeat" type="xs:boolean" minOccurs="0"/>
      <xs:element name="unitCount" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addressRS">
    <xs:sequence>
      <xs:element name="addressType" type="xs:string" minOccurs="0"/>
      <xs:element name="streetNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="streetName" type="xs:string" minOccurs="0"/>
      <xs:element name="streetNumberSuffix" type="xs:string" minOccurs="0"/>
      <xs:element name="streetDirection" type="xs:string" minOccurs="0"/>
      <xs:element name="streetType" type="xs:string" minOccurs="0"/>
      <xs:element name="unitNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="province" type="xs:string" minOccurs="0"/>
      <xs:element name="provinceCode" type="xs:string" minOccurs="0"/>
      <xs:element name="postalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="county" type="xs:string" minOccurs="0"/>
      <xs:element name="location" type="geoLocationRS" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="geoLocationRS">
    <xs:sequence>
      <xs:element name="latitude" type="xs:double"/>
      <xs:element name="longitude" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="marketingRS">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="blurbs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="blurb" type="advertisingBlurbRS" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="phones" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="phone" type="phoneRS" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="advertisingBlurbRS">
    <xs:sequence>
      <xs:element name="content" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="phoneRS">
    <xs:sequence>
      <xs:element name="number" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="floorplanRS">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="marketingName" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="floorCount" type="xs:int" minOccurs="0"/>
      <xs:element name="unitCount" type="xs:int" minOccurs="0"/>
      <xs:element name="bedrooms" type="xs:int" minOccurs="0"/>
      <xs:element name="dens" type="xs:int" minOccurs="0"/>
      <xs:element name="bathrooms" type="xs:int" minOccurs="0"/>
      <xs:element name="halfBath" type="xs:int" minOccurs="0"/>
      <xs:element name="rentFrom" type="xs:decimal" minOccurs="0"/>
      <xs:element name="rentTo" type="xs:decimal" minOccurs="0"/>
      <xs:element name="sqftFrom" type="xs:int" minOccurs="0"/>
      <xs:element name="sqftTo" type="xs:int" minOccurs="0"/>
      <xs:element name="availableFrom" type="xs:date" minOccurs="0"/>
      <xs:element name="amenities" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="amenity" type="amenityRS" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="medias" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="media" type="mediaRS" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="amenityRS">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mediaRS">
    <xs:sequence>
      <xs:element name="mediaType" type="mediaType" minOccurs="0"/>
      <xs:element name="caption" type="xs:string" minOccurs="0"/>
      <xs:element name="mimeType" type="xs:string" minOccurs="0"/>
      <xs:element name="fileId" type="xs:string" minOccurs="0"/>
      <xs:element name="youTubeVideoID" type="xs:string" minOccurs="0"/>
      <xs:element name="url" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parkingRS">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="utilityRS">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="buildingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="agricultural"/>
      <xs:enumeration value="commercial"/>
      <xs:enumeration value="mixed_residential"/>
      <xs:enumeration value="residential"/>
      <xs:enumeration value="industrial"/>
      <xs:enumeration value="military"/>
      <xs:enumeration value="parking_storage"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="structureType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lowRise"/>
      <xs:enumeration value="highRise"/>
      <xs:enumeration value="midRise"/>
      <xs:enumeration value="walkUp"/>
      <xs:enumeration value="townhouse"/>
      <xs:enumeration value="condo"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="constructionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="brick"/>
      <xs:enumeration value="wood"/>
      <xs:enumeration value="block"/>
      <xs:enumeration value="panel"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="foundationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pile"/>
      <xs:enumeration value="continuousFooting"/>
      <xs:enumeration value="spreadFooting"/>
      <xs:enumeration value="foundationWalls"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="floorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hardwood"/>
      <xs:enumeration value="tile"/>
      <xs:enumeration value="laminate"/>
      <xs:enumeration value="carpet"/>
      <xs:enumeration value="mixed"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="waterSupply">
    <xs:restriction base="xs:string">
      <xs:enumeration value="municipal"/>
      <xs:enumeration value="privateWell"/>
      <xs:enumeration value="privateCommunityWell"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mediaType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="file"/>
      <xs:enumeration value="youTube"/>
      <xs:enumeration value="externalUrl"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

