vista-biz/vista-biz-yardi-interface-wsdl/src/main/resources/common/Itf_MITS_ApplicantScreening2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Bruce Coltman (National Multi Housing Council) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Phat (Home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:MITS="http://my-company.com/namespace" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://my-company.com/namespace" schemaLocation="./Itf_MITS_CoreData2.0.xsd"/>
	<xs:element name="ApplicantScreening">
		<xs:annotation>
			<xs:documentation>MITS ApplicantScreening Standard version 2.0 Final DRAFT 01/04/07</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Request">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PropertyID" type="MITS:PropertyIDType">
								<xs:annotation>
									<xs:documentation>MITS PropertyID Core Data Module version 2.0</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RequestType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Agencies" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Agency" minOccurs="0" maxOccurs="10">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReportOptions" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReportName" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Option1" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Option2" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Option3" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Option4" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReportID" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OriginatorID" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OriginatorTrackingID" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MarketingSource" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UserAccount" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SecondaryUserState" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SecondaryUserName" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UserName">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UserPassword">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LeaseTerms">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MonthlyRent" type="xs:decimal"/>
							<xs:element name="LeaseMonths" type="xs:integer" minOccurs="0"/>
							<xs:element name="ApplicationDate" type="xs:date" minOccurs="0"/>
							<xs:element name="NumberBedrooms" type="xs:decimal" minOccurs="0"/>
							<xs:element name="AffordableLease" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:boolean">
											<xs:attribute name="SubsidyAmount" type="xs:decimal" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="SecurityDeposit" type="xs:decimal" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Applicant" maxOccurs="10">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Other">
								<xs:complexType>
									<xs:all>
										<xs:element name="CurrentRent" type="xs:decimal"/>
										<xs:element name="ConsentObtained" type="xs:string"/>
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="Income">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EmploymentStatus" type="xs:string" minOccurs="0"/>
										<xs:element name="EmploymentType" type="xs:string" minOccurs="0"/>
										<xs:element name="EmployerName" type="xs:string" minOccurs="0"/>
										<xs:element name="EmploymentGrossIncome" type="xs:decimal" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Monthly</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="EmploymentStartDate" type="xs:date" minOccurs="0"/>
										<xs:element name="EmploymentEndDate" type="xs:date" minOccurs="0"/>
										<xs:element name="OtherIncomeAmount" type="xs:decimal" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Monthly</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OtherIncomeType" type="xs:string" minOccurs="0"/>
										<xs:element name="OtherIncomePeriod" type="xs:string" minOccurs="0"/>
										<xs:element name="Assets" type="xs:decimal" minOccurs="0"/>
										<xs:element name="TotalLiabilities" type="xs:decimal" minOccurs="0"/>
										<xs:element name="NetWorth" type="xs:decimal" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CriminalRecord" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Information" minOccurs="0" maxOccurs="10">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CriminalRecordType" type="xs:string"/>
													<xs:element name="CriminalRecordDescription" type="xs:string"/>
													<xs:element name="CriminalRecordDate" type="xs:date"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AS_Information">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ApplicantIdentifier" type="xs:string"/>
										<xs:element name="ApplicantType" type="xs:string"/>
										<xs:element name="GuarantorFor" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Spouse" type="xs:string" minOccurs="0"/>
										<xs:element name="MothersMaidenName" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Birthdate" type="xs:date" minOccurs="0"/>
										<xs:element name="SocSecNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="DriversLicenseID" type="xs:string" minOccurs="0"/>
										<xs:element name="DriversLicenseState" type="xs:string" minOccurs="0"/>
										<xs:element name="DriversLicenseCountry" type="xs:string" minOccurs="0"/>
										<xs:element name="Citizenship" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Country of citizenship</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AddressTerms" minOccurs="0" maxOccurs="10">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Address" type="MITS:AddressType"/>
												</xs:sequence>
												<xs:attribute name="MoveInDate" type="xs:date" use="optional"/>
												<xs:attribute name="MoveOutDate" type="xs:date" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Customers" type="MITS:CustomersType">
								<xs:annotation>
									<xs:documentation>MITS Customers Core Data module version 2.0</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RentalHistory" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PaidAsAgreed" type="xs:integer" minOccurs="0"/>
							<xs:element name="DelinquentHistory" type="xs:integer" minOccurs="0"/>
							<xs:element name="SecurityDesposit" type="xs:boolean" minOccurs="0"/>
							<xs:element name="Utilities" type="xs:string" minOccurs="0"/>
							<xs:element name="SubsidyPayments" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Response" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransactionNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ReportDate" type="xs:date"/>
							<xs:element name="ApplicantDecision" type="xs:string" minOccurs="0"/>
							<xs:element name="ApplicationDecision" type="xs:string" minOccurs="0"/>
							<xs:element name="ApplicantScore" type="xs:integer" minOccurs="0"/>
							<xs:element name="BackgroundReport" type="xs:string" minOccurs="0"/>
							<xs:element name="InvoiceAmount" type="xs:decimal" minOccurs="0"/>
							<xs:element name="ErrorCode" type="xs:string" minOccurs="0"/>
							<xs:element name="ErrorDescription" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="1000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Status" type="xs:string" minOccurs="0"/>
							<xs:element name="CreditApplicationDecision" type="xs:string" minOccurs="0"/>
							<xs:element name="RequestID_Returned" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Credit" minOccurs="0" maxOccurs="3">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CreditBureauName">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CreditReportLastUpdatedDate" type="xs:date" minOccurs="0"/>
							<xs:element name="CreditScoreModelName" type="xs:string" minOccurs="0"/>
							<xs:element name="CreditScoreValue" type="xs:string" minOccurs="0"/>
							<xs:element name="CreditComment" minOccurs="0" maxOccurs="10">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CreditCommentText" type="xs:string" minOccurs="0"/>
										<xs:element name="CreditCommentCode" type="xs:integer" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="Number" type="xs:integer" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address2" minOccurs="0" maxOccurs="10">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="State" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Province" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Zip" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountyName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnparsedAddress" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Email" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" type="MITS:addressinfo" use="required"/>
	</xs:complexType>
	<xs:simpleType name="addressinfo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="property"/>
			<xs:enumeration value="mailing"/>
			<xs:enumeration value="shipping"/>
			<xs:enumeration value="billing"/>
			<xs:enumeration value="current"/>
			<xs:enumeration value="previous"/>
			<xs:enumeration value="forwarding"/>
			<xs:enumeration value="legal notice"/>
			<xs:enumeration value="termination notice"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
