vista-biz/vista-biz-yardi-interface-wsdl/src/main/resources/common/ItfApplicantScreening20.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>		
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening">
      <s:element name="UpdateReport_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UpdateXml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReport_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateReport_LoginResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReport_ExplicitValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationDecision" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplicantDecision" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReport_ExplicitValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateReport_ExplicitValuesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReport_Login_Post">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UpdateXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReport_Login_PostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateReport_Login_PostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReport_WithMits_MP_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UpdateXml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReport_WithMits_MP_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateReport_WithMits_MP_LoginResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReport_Criminal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UpdateXml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateReport_CriminalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateReport_CriminalResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TotalScreenLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedVoyagerUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VoyagerPropertyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplicantId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GuarantorId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TotalScreenLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TotalScreenLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPropertyConfigurations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPropertyConfigurationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPropertyConfigurationsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionNumber_Str">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionNumber_StrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionNumber_StrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionNumber">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateReport_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReport_Login" />
  </wsdl:message>
  <wsdl:message name="UpdateReport_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReport_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateReport_ExplicitValuesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReport_ExplicitValues" />
  </wsdl:message>
  <wsdl:message name="UpdateReport_ExplicitValuesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReport_ExplicitValuesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateReport_Login_PostSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReport_Login_Post" />
  </wsdl:message>
  <wsdl:message name="UpdateReport_Login_PostSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReport_Login_PostResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateReport_WithMits_MP_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReport_WithMits_MP_Login" />
  </wsdl:message>
  <wsdl:message name="UpdateReport_WithMits_MP_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReport_WithMits_MP_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateReport_CriminalSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateReport_Criminal" />
  </wsdl:message>
  <wsdl:message name="UpdateReport_CriminalSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateReport_CriminalResponse" />
  </wsdl:message>
  <wsdl:message name="TotalScreenLoginSoapIn">
    <wsdl:part name="parameters" element="tns:TotalScreenLogin" />
  </wsdl:message>
  <wsdl:message name="TotalScreenLoginSoapOut">
    <wsdl:part name="parameters" element="tns:TotalScreenLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetPropertyConfigurationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPropertyConfigurations" />
  </wsdl:message>
  <wsdl:message name="GetPropertyConfigurationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPropertyConfigurationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionNumber_StrSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersionNumber_Str" />
  </wsdl:message>
  <wsdl:message name="GetVersionNumber_StrSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionNumber_StrResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersionNumber" />
  </wsdl:message>
  <wsdl:message name="GetVersionNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionNumberResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="ItfApplicantScreeningSoap">
    <wsdl:operation name="UpdateReport_Login">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Accepts XmlNode Object.  Returns a XmlNode Object. Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:UpdateReport_LoginSoapIn" />
      <wsdl:output message="tns:UpdateReport_LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReport_ExplicitValues">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Accepts String Values.  Returns a XmlNode Object. Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:UpdateReport_ExplicitValuesSoapIn" />
      <wsdl:output message="tns:UpdateReport_ExplicitValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReport_Login_Post">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Accepts Xml as String.  Returns a String Representation of the XmlNode Object returned in the WebMethod 'UpdateReport'.  For remote clients invoking method via POST Protocol. Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input name="UpdateReport_Login_Post" message="tns:UpdateReport_Login_PostSoapIn" />
      <wsdl:output name="UpdateReport_Login_Post" message="tns:UpdateReport_Login_PostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReport_WithMits_MP_Login">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Accepts Xml with MITS Messaging Protocol.  Returns a XmlNode Object. Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:UpdateReport_WithMits_MP_LoginSoapIn" />
      <wsdl:output message="tns:UpdateReport_WithMits_MP_LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReport_Criminal">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Accepts Xml complying with MITS Resident Screening 2.0, Response including Applicant Criminal Record. Up to 10 Information elements are accepted. Returns a XmlNode Object. Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:UpdateReport_CriminalSoapIn" />
      <wsdl:output message="tns:UpdateReport_CriminalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TotalScreenLogin">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Accepts String Values.  Returns a XmlNode Object.</documentation>
      <wsdl:input message="tns:TotalScreenLoginSoapIn" />
      <wsdl:output message="tns:TotalScreenLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertyConfigurations">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Allows export of the Property Configuration with the Database.  The Unique Interface Entity name is needed in order to return the Property Id's the 3rd party has access to. Can be used thru 1/1/13 without an InterfaceLicense </documentation>
      <wsdl:input message="tns:GetPropertyConfigurationsSoapIn" />
      <wsdl:output message="tns:GetPropertyConfigurationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionNumber_Str">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">(Deprecated)</documentation>
      <wsdl:input message="tns:GetVersionNumber_StrSoapIn" />
      <wsdl:output message="tns:GetVersionNumber_StrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionNumber">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns current version number of Interfaces concatenated with Screening Plugin version (XX_Y)</documentation>
      <wsdl:input message="tns:GetVersionNumberSoapIn" />
      <wsdl:output message="tns:GetVersionNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItfApplicantScreeningSoap" type="tns:ItfApplicantScreeningSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="UpdateReport_Login">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening/UpdateReport_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReport_ExplicitValues">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening/UpdateReport_ExplicitValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReport_Login_Post">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening/UpdateReport_Login_Post" style="document" />
      <wsdl:input name="UpdateReport_Login_Post">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateReport_Login_Post">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReport_WithMits_MP_Login">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening/UpdateReport_WithMits_MP_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReport_Criminal">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening/UpdateReport_Criminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalScreenLogin">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening/TotalScreenLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPropertyConfigurations">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening/GetPropertyConfigurations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionNumber_Str">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening/GetVersionNumber_Str" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionNumber">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening/GetVersionNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfApplicantScreening/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItfApplicantScreening">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Used for credit agencies to update non-instantaneous credit reports. Accepts XML in MITS Applicant Screening 1.2, or MITS Resident Screening 2.0. All web methods contained in this web service that read/write data from Voyager will require login credentials.</documentation>
    <wsdl:port name="ItfApplicantScreeningSoap" binding="tns:ItfApplicantScreeningSoap">
      <soap:address location="http://www.iyardiasp.com/8223thirddev/webservices/ItfApplicantScreening.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>