vista-biz/vista-biz-equifax-gen/src/main/resources/CNCommCreditType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Karen Pilkington (Equifax, Inc.) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Daniel Aubé (Equifax Canada) -->
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="CNCommCreditSegTypes.xsd"/>
	<!-- Standard Canadian Commercial Credit Report -->
	<xs:complexType name="CNCommercialCreditReportType">
		<xs:sequence minOccurs="0">
			<xs:element name="CNIdentificationSection" type="IdentificationSectionType" minOccurs="0"/>
			<xs:element name="CNSubjectSummary" type="SubjectSummary" minOccurs="0"/>
			<xs:element name="CNInquiries" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNInquiry" type="InquiryType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="Comments" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNTradesInfo" type="TradesInfoType" minOccurs="0"/>
			<xs:element name="CNPaymentTrends" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNPaymentTrend" type="PaymentTrendType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNReturnedCheques" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNReturnedCheque" type="ReturnedChequeType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="Comments" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNLegalInformations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNLegalInformation" type="LegalInformationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="Comments" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNCollectionClaims" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNCollectionClaim" type="CollectionClaimType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="Comments" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNBankruptcies" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNBankruptcy" type="BankruptcyType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNBusinessDetails" type="BusinessDetailsType" minOccurs="0"/>
			<xs:element name="CNBankingInformations" type="BankingInformationsType" minOccurs="0"/>
			<xs:element name="CNOtherFilesIncluded" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNOtherFileIncluded" type="OtherFileIncluded" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNComments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNComment" type="CommentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNCIPI" type="CIPIType" minOccurs="0"/>
			<xs:element name="CNScores" type="CNScoresType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
