vista-biz/vista-biz-equifax-gen/src/main/resources/CNConsCreditSegTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Patrice Magnan (EQUIFAX CANADA INC.) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by PM (SHI) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Daniel Aubé (Equifax Canada) -->
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="CNEfxCommon.xsd"/>
	<!--Declaration of All Standard Canadian Consumer Credit (ACRO) Segment Types -->
	<xs:complexType name="CNAddressType">
		<xs:sequence>
			<xs:element ref="DateReported" minOccurs="0"/>
			<xs:element name="CivicNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="StreetName" type="xs:string" minOccurs="0"/>
			<xs:element ref="City"/>
			<xs:element ref="Province"/>
			<xs:element ref="PostalCode" minOccurs="0"/>
			<xs:element name="Occupancy" type="CodeDateType" minOccurs="0"/>
			<xs:element ref="UpdateSource" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="CNBankruptcyOrActType">
		<xs:sequence>
			<xs:element ref="DateFiled"/>
			<xs:element ref="CourtId"/>
			<xs:element ref="CaseNumberAndTrustee"/>
			<xs:element ref="Type"/>
			<xs:element ref="Filer" minOccurs="0"/>
			<xs:element ref="IntentOrDisposition"/>
			<xs:element ref="LiabilityAmount" minOccurs="0"/>
			<xs:element ref="AssetAmount" minOccurs="0"/>
			<xs:element ref="Narratives" minOccurs="0"/>
			<xs:element ref="UpdateSource" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNBankAccountType">
		<xs:sequence>
			<xs:element ref="DateReported"/>
			<xs:element name="CreditorId" type="CustomerIdAndPhoneType"/>
			<xs:element ref="AccountNumber" minOccurs="0"/>
			<xs:element name="FigureAmount" type="xs:string" minOccurs="0"/>
			<xs:element ref="DateOpened" minOccurs="0"/>
			<xs:element name="AccountType" type="CodeType" minOccurs="0"/>
			<xs:element ref="Status" minOccurs="0"/>
			<xs:element name="NumberOfNSF" type="xs:string" minOccurs="0"/>
			<xs:element ref="Narratives" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="CNCollectionType">
		<xs:sequence>
			<xs:element name="AssignedDate" type="xs:gYearMonth"/>
			<xs:element ref="AgencyId"/>
			<xs:element name="LedgerNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CollectionCreditor" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element ref="AccountNumberAndOrName" minOccurs="0"/>
						<xs:element ref="Industry" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Reason" minOccurs="0"/>
			<xs:element name="OriginalAmount" type="MoneyType" nillable="true" minOccurs="0"/>
			<xs:element ref="BalanceAmount" minOccurs="0"/>
			<xs:element name="DateOfLastPayment" type="xs:gYearMonth" minOccurs="0"/>
			<xs:element name="DatePaid" type="xs:gYearMonth" minOccurs="0"/>
			<xs:element ref="VerificationDate" minOccurs="0"/>
			<xs:element ref="Narratives" minOccurs="0"/>
			<xs:element ref="UpdateSource" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="CNConsentIndicatorType">
		<xs:sequence>
			<xs:element ref="DataManagements" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="CNConsumerStatementType">
		<xs:sequence>
			<xs:element ref="DateReported"/>
			<xs:element name="DateToBePurged" type="xs:gYearMonth"/>
			<xs:element name="Statement" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNDateOfBirthType">
		<xs:sequence>
			<xs:element ref="DateOfBirth"/>
			<xs:element ref="DataManagements" minOccurs="0"/>
			<xs:element ref="DataControls" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNDepositAlertType">
		<xs:sequence>
			<xs:element name="CustomerId" type="CustomerIdAndPhoneType"/>
			<xs:element ref="DateReported"/>
			<xs:element name="AccountType" type="CodeType"/>
			<xs:element name="SegmentNbrDecreasing"/>
			<xs:element ref="Indicator"/>
			<xs:element name="ClosureReason" type="CodeType"/>
			<xs:element ref="DateOpened" minOccurs="0"/>
			<xs:element name="DateClosed" type="xs:gYearMonth" minOccurs="0"/>
			<xs:element name="DateWrittenOff" type="xs:gYearMonth" minOccurs="0"/>
			<xs:element name="AmountWrittenOff" type="AmountDecimal" minOccurs="0"/>
			<xs:element name="TransitNumber" minOccurs="0"/>
			<xs:element name="StatusCode" type="CodeDateType" minOccurs="0"/>
			<xs:element ref="AccountNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNDriverLicenseNumberType">
		<xs:sequence>
			<xs:element name="DriverLicenseNumber" type="xs:string"/>
			<xs:element ref="Province"/>
			<xs:element ref="DateOfExpiry"/>
			<xs:element ref="DataManagements" minOccurs="0"/>
			<xs:element ref="DataControls" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNEIDType">
		<xs:sequence>
			<xs:element name="EIDStatus">
				<xs:complexType>
					<xs:attributeGroup ref="CodeAndDescription"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="EIDAssessment">
				<xs:complexType>
					<xs:attributeGroup ref="CodeAndDescription"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="EIDOverallScore" type="xs:string" minOccurs="0"/>
			<xs:element name="EIDName">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EIDFirstName" type="xs:string"/>
						<xs:element name="EIDLastName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EIDAddress">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EIDStreet" type="xs:string"/>
						<xs:element name="EIDCity" type="xs:string"/>
						<xs:element name="EIDProvince">
							<xs:complexType>
								<xs:attributeGroup ref="CodeAndDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EIDErrors" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EIDError" minOccurs="0" maxOccurs="35">
							<xs:complexType>
								<xs:attributeGroup ref="CodeAndDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EIDReasons" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EIDReason" minOccurs="0" maxOccurs="25">
							<xs:complexType>
								<xs:attributeGroup ref="CodeAndDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="productId" type="xs:string"/>
		<xs:attribute name="description" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CNEIDsType">
		<xs:sequence>
			<xs:element name="CNEID" type="CNEIDType" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNEmploymentType">
		<xs:sequence minOccurs="0">
			<xs:element ref="Occupation" minOccurs="0"/>
			<xs:element ref="Employer" minOccurs="0"/>
			<xs:element ref="City" minOccurs="0"/>
			<xs:element ref="Province" minOccurs="0"/>
			<xs:element ref="DateEmployed" minOccurs="0"/>
			<xs:element ref="DateLeft" minOccurs="0"/>
			<xs:element ref="Verification" minOccurs="0"/>
			<xs:element name="Salary" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="SalaryAmount" type="MoneyType" minOccurs="0"/>
						<xs:element name="SalaryVerification" type="CodeType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="CNExtendedTradeType">
		<xs:sequence>
			<xs:element name="AutoDataIndicator" type="CodeType"/>
			<xs:element name="CreditorId" type="CustomerIdAndPhoneType"/>
			<xs:element ref="ETDateReported"/>
			<xs:element name="ETDateOpened" type="xs:date"/>
			<xs:element ref="DateOfLastActivity" minOccurs="0"/>
			<xs:element name="AssociationCode" type="CodeType" minOccurs="0"/>
			<xs:element name="HistoryDerogatoryCounters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HistoryDerogatoryCounter" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:short">
										<xs:attributeGroup ref="CodeAndDescription"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TimesReported" type="xs:short"/>
			<xs:element ref="CreditLimitAmount" minOccurs="0"/>
			<xs:element ref="HighCreditAmount" minOccurs="0"/>
			<xs:element ref="BalanceAmount" minOccurs="0"/>
			<xs:element name="PaymentTermsAmount" type="MoneyType" minOccurs="0"/>
			<xs:element ref="PastDueAmount" minOccurs="0"/>
			<xs:element name="WrittenOffAmount" type="MoneyType" minOccurs="0"/>
			<xs:element name="ActualPaymentAmount" type="MoneyType" minOccurs="0"/>
			<xs:element name="DateClosed" type="xs:date" minOccurs="0"/>
			<xs:element name="DateFirstDelinquency" type="xs:date" minOccurs="0"/>
			<xs:element name="MemberNumberId" type="xs:string" minOccurs="0"/>
			<xs:element name="PreviousMemberNumberId" type="xs:string" minOccurs="0"/>
			<xs:element ref="AccountNumber"/>
			<xs:element name="PreviousAccountNumber" type="AccountNumberType" minOccurs="0"/>
			<xs:element ref="AccountType" minOccurs="0"/>
			<xs:element ref="FreezeFlag" minOccurs="0"/>
			<xs:element ref="Narratives" minOccurs="0"/>
			<xs:element name="PaymentProfiles" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PaymentProfile" type="PaymentProfileType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="DataManagements" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNForeignInquiryType">
		<xs:sequence>
			<xs:element name="CityNameOrInquiryNumber" type="xs:string"/>
			<xs:element name="InquiryProvince" type="xs:string" minOccurs="0"/>
			<xs:element ref="ConsumerOnlyDisplayIndicator" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="date" type="xs:date"/>
	</xs:complexType>
	<xs:complexType name="CNFraudWarningType">
		<xs:sequence>
			<xs:element name="Messages">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Message" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="priority" type="xs:short"/>
								<xs:attributeGroup ref="CodeAndDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="productId" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CNGarnishmentType">
		<xs:sequence>
			<xs:element ref="DateFiled"/>
			<xs:element ref="CourtId"/>
			<xs:element ref="CaseNumber"/>
			<xs:element ref="Amount" minOccurs="0"/>
			<xs:element ref="DateSatisfied" minOccurs="0"/>
			<xs:element ref="VerificationDate" minOccurs="0"/>
			<xs:element ref="Plaintiff" minOccurs="0"/>
			<xs:element ref="Garnishee" minOccurs="0"/>
			<xs:element ref="Defendant" minOccurs="0"/>
			<xs:element ref="Narratives" minOccurs="0"/>
			<xs:element ref="UpdateSource" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNHeaderType">
		<xs:sequence>
			<xs:element name="Request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Protocol" type="xs:string" minOccurs="0"/>
						<xs:element ref="CustomerReferenceNumber" minOccurs="0"/>
						<xs:element ref="CustomerNumber"/>
						<xs:element name="LanguageIndicator" type="xs:string"/>
						<xs:element name="InquiryType" type="xs:string"/>
						<xs:element name="OutputFormatCode" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreditFile">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UniqueNumber" type="xs:long" minOccurs="0"/>
						<xs:element ref="FileSinceDate" minOccurs="0"/>
						<xs:element ref="DateOfLastActivity" minOccurs="0"/>
						<xs:element ref="DateOfRequest"/>
						<xs:element name="TotalNumberOfInquiries" type="xs:short" minOccurs="0"/>
						<xs:element name="FileOwner" minOccurs="0">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="BureauCode" type="xs:string" minOccurs="0"/>
									<xs:element name="BureauContactInformation" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="HitCode"/>
						<xs:element name="HitStrengthIndicator" type="CodeType" minOccurs="0"/>
						<xs:element name="DataWarningMessages" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DataWarningMessage" type="CodeType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CardAlertWarningMessage" type="CodeType" minOccurs="0"/>
						<xs:element name="AlertIndicators" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AlertIndicator" type="CodeType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Subject" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubjectName" type="CNSubjectNameType"/>
						<xs:element name="SubjectId" minOccurs="0">
							<xs:complexType mixed="false">
								<xs:sequence minOccurs="0">
									<xs:element ref="SocialInsuranceNumber" minOccurs="0"/>
									<xs:element ref="DateOfBirth" minOccurs="0"/>
									<xs:element ref="DateOfDeath" minOccurs="0"/>
									<xs:element name="MaritalStatus" type="CodeType" minOccurs="0"/>
									<xs:element name="NumberOfDependants" type="xs:short" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNLegalItemType">
		<xs:sequence>
			<xs:element ref="DateFiled"/>
			<xs:element ref="CourtId"/>
			<xs:element ref="CaseNumber"/>
			<xs:element ref="Status" minOccurs="0"/>
			<xs:element ref="DateSatisfied" minOccurs="0"/>
			<xs:element ref="Amount" minOccurs="0"/>
			<xs:element ref="VerificationDate" minOccurs="0"/>
			<xs:element ref="Defendant"/>
			<xs:element ref="Plaintiff"/>
			<xs:element name="LawyerNameAddress" type="xs:string" minOccurs="0"/>
			<xs:element ref="Narratives" minOccurs="0"/>
			<xs:element ref="UpdateSource" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="CNLocalInquiryType">
		<xs:sequence>
			<xs:element name="CustomerId" type="CustomerIdAndPhoneType"/>
			<xs:element ref="ConsumerOnlyDisplayIndicator" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="date" type="xs:date"/>
	</xs:complexType>
	<xs:complexType name="CNMaritalItemType">
		<xs:sequence>
			<xs:element name="DivorceStatus" type="CodeType"/>
			<xs:element ref="DateFiled"/>
			<xs:element ref="CourtId"/>
			<xs:element ref="CaseNumber"/>
			<xs:element ref="SpouseName"/>
			<xs:element ref="VerificationDate" minOccurs="0"/>
			<xs:element ref="Narratives" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNNonMemberTradeType">
		<xs:sequence>
			<xs:element ref="DateReported"/>
			<xs:element name="CreditorName" type="xs:string"/>
			<xs:element ref="HighCreditAmount" minOccurs="0"/>
			<xs:element ref="BalanceAmount" minOccurs="0"/>
			<xs:element ref="PastDueAmount" minOccurs="0"/>
			<xs:element ref="DateOpened" minOccurs="0"/>
			<xs:element ref="PortfolioType" minOccurs="0"/>
			<xs:element ref="PaymentRate" minOccurs="0"/>
			<xs:element ref="Status" minOccurs="0"/>
			<xs:element ref="Narratives" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNNSFType">
		<xs:sequence>
			<xs:element ref="DateReported"/>
			<xs:element name="CreditorId" type="CustomerIdAndPhoneType"/>
			<xs:element name="NSFAmount" type="xs:string"/>
			<xs:element name="Details" type="xs:string"/>
			<xs:element ref="VerificationDate" minOccurs="0"/>
			<xs:element ref="Narratives" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNNonResponsibilityNoticeType">
		<xs:sequence>
			<xs:element ref="DateReported"/>
			<xs:element ref="Filer"/>
			<xs:element ref="Narratives" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNOtherNameType">
		<xs:complexContent>
			<xs:extension base="CNSubjectNameType">
				<xs:attributeGroup ref="CodeAndDescription"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CNOtherIncomeType">
		<xs:sequence>
			<xs:element ref="DateReported"/>
			<xs:element ref="Amount" minOccurs="0"/>
			<xs:element ref="IncomeSource"/>
			<xs:element ref="VerificationDate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNOtherSourceType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CNPassportNumberType">
		<xs:sequence>
			<xs:element name="PassportNumber" type="xs:string"/>
			<xs:element ref="Country"/>
			<xs:element ref="DateOfExpiry"/>
			<xs:element ref="DataManagements" minOccurs="0"/>
			<xs:element ref="DataControls" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNSecuredLoanType">
		<xs:sequence>
			<xs:element ref="DateFiled"/>
			<xs:element ref="CourtId"/>
			<xs:element name="SecuredLoanCreditorId">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NameAddressAndAmount" type="xs:string"/>
						<xs:element ref="Industry" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="MaturityDate" minOccurs="0"/>
			<xs:element ref="Narratives" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNSpecialServiceType">
		<xs:sequence>
			<xs:element ref="DateReported"/>
			<xs:element name="CustomerId" type="CustomerIdAndPhoneType"/>
		</xs:sequence>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="CNSocialInsuranceNumberType">
		<xs:sequence>
			<xs:element ref="SocialInsuranceNumber"/>
			<xs:element ref="DataManagements" minOccurs="0"/>
			<xs:element ref="DataControls" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNTelephoneNumberType">
		<xs:sequence>
			<xs:element ref="Telephone"/>
			<xs:element ref="DataManagements" minOccurs="0"/>
			<xs:element ref="DataControls" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNTradeType">
		<xs:sequence>
			<xs:element ref="DateReported"/>
			<xs:element name="CreditorId" type="CustomerIdAndPhoneType"/>
			<xs:element ref="AccountNumber" minOccurs="0"/>
			<xs:element name="Association" type="CodeType" minOccurs="0"/>
			<xs:element ref="HighCreditAmount" minOccurs="0"/>
			<xs:element name="PaymentTermAmount" type="MoneyType" minOccurs="0"/>
			<xs:element ref="BalanceAmount" minOccurs="0"/>
			<xs:element ref="PastDueAmount" minOccurs="0"/>
			<xs:element ref="MonthsReviewed" minOccurs="0"/>
			<xs:element ref="DateOpened" minOccurs="0"/>
			<xs:element ref="DateLastActivityOrPayment" minOccurs="0"/>
			<xs:element ref="PortfolioType" minOccurs="0"/>
			<xs:element ref="PaymentRate" minOccurs="0"/>
			<xs:element ref="Status" minOccurs="0"/>
			<xs:element name="HistoryDerogatoryCounters" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element ref="Count30DayPastDue" minOccurs="0"/>
						<xs:element ref="Count60DayPastDue" minOccurs="0"/>
						<xs:element ref="Count90DayPastDue" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreviousHighPaymentRates" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="PreviousHighPaymentRate" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Narratives" minOccurs="0"/>
			<xs:element ref="UpdateSource" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
