vista-biz/vista-biz-equifax-gen/src/main/resources/CNCommCreditSegTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Patrice Magnan (EQUIFAX CANADA INC.) -->
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by KAREN PILKINGTON (EQUIFAX, INC) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Karen Pilkington (Equifax, Inc.) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Daniel Aubé (Equifax Canada) -->
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="CNEfxCommon.xsd"/>
	<!-- Declaration of All Standard Canadian Commercial Segments-->
	<xs:complexType name="BankingInformationsType">
		<xs:sequence>
			<xs:element name="FinancialInstitution" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FinancialInstitutionDetail">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="FinancialInstitutionType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SigningOfficers" minOccurs="0">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="SigningOfficer" type="CNSubjectNameType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="SigningOfficerComment" type="CodeType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="BankAccounts" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BankAccount" type="BankAccountType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="LinesOfCredit" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LineOfCredit" type="LineOfCreditType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Loans" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Loan" type="LoanType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="Comments" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="institutionNumber" type="xs:short" use="required"/>
					<xs:attribute name="transitNumber" type="xs:integer" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankruptcyType">
		<xs:sequence>
			<xs:element name="Estate">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Name"/>
						<xs:element ref="CommAddress"/>
						<xs:element ref="CommCourtId" minOccurs="0"/>
						<xs:element ref="RegionalOfficeNumber"/>
						<xs:element name="District" type="CodeType" minOccurs="0"/>
						<xs:element name="DivisionNumber" type="xs:short" minOccurs="0"/>
						<xs:element name="AdministrationType" type="CodeType" minOccurs="0"/>
						<xs:element name="DebtorType" type="CodeType"/>
						<xs:element ref="SICs" minOccurs="0"/>
						<xs:element ref="FiledDate" minOccurs="0"/>
						<xs:element name="HearingDate" type="xs:date" minOccurs="0"/>
						<xs:element name="EstateBirthdate" type="xs:date" minOccurs="0"/>
						<xs:element name="Discharge" minOccurs="0">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="BankruptcyDischargeDate" type="xs:date" minOccurs="0"/>
									<xs:element name="TrusteeDischargeDate" type="xs:date" minOccurs="0"/>
								</xs:sequence>
								<xs:attributeGroup ref="CodeAndDescription"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="CreditorMeetingDate" type="xs:date" minOccurs="0"/>
						<xs:element name="Dividends" type="MoneyType"/>
						<xs:element name="AssetValue" type="MoneyType"/>
						<xs:element name="LiabilityValue" type="MoneyType"/>
						<xs:element ref="UpdateSource"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Trustee" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Name" minOccurs="0"/>
						<xs:element ref="CommAddress"/>
						<xs:element ref="LicenseNumbers" minOccurs="0"/>
						<xs:element ref="Telephone" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Receiver" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="RegionalOfficeNumber"/>
						<xs:element ref="Name"/>
						<xs:element ref="CommAddress" minOccurs="0"/>
						<xs:element ref="LicenseNumbers" minOccurs="0"/>
						<xs:element ref="Telephone" minOccurs="0"/>
						<xs:element ref="Fax" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="estateNumber" type="xs:long" use="required"/>
		<xs:attributeGroup ref="CodeAndDescription"/>
		<xs:attribute name="runDate" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="BankAccountType">
		<xs:sequence minOccurs="0">
			<xs:element name="NumberOfAccounts" type="CodeType" minOccurs="0"/>
			<xs:element ref="AccountTypes" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="OpenedDate" minOccurs="0"/>
				<xs:element ref="OpenedPeriod" minOccurs="0"/>
			</xs:choice>
			<xs:element name="Balance" type="AccountRangeType" minOccurs="0"/>
			<xs:element name="AccountReturnedCheques" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:choice minOccurs="0">
							<xs:element name="Quantity" type="xs:short" minOccurs="0"/>
							<xs:element name="QuantityComment" type="CodeType" minOccurs="0"/>
						</xs:choice>
						<xs:element name="Frequency" type="CodeType" minOccurs="0"/>
						<xs:element name="Reasons" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Reason" maxOccurs="unbounded">
										<xs:complexType>
											<xs:attributeGroup ref="CodeAndDescription"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="ReasonNotToHaveInfo" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="LastChangedDate" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="accountNumber" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="BusinessDetailsType">
		<xs:sequence>
			<xs:element name="IncorporationsAndRegistrations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IncorporationAndRegistration" type="IncorporationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OwnerPrincipals" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OwnerPrincipal" type="OwnerPrincipalType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Properties" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Property" type="PropertyType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FinancialsAndEmployees" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FinancialAndEmployee" type="FinancialAndEmployeeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InventoryAssets" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InventoryAsset" type="InventoryAssetType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CIPIType">
		<xs:sequence>
			<xs:element name="CIScore">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CI90Day" type="xs:string"/>
						<xs:element name="YearsOnFile">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:integer">
										<xs:attribute name="factor" type="xs:decimal" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="PaymentIndex">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="factor" type="xs:decimal" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="TradeLines">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="factor" type="xs:decimal" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="YearDifferencePI">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:short">
										<xs:attribute name="factor" type="xs:decimal" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="NumberOfNegativeOccurrences">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:short">
										<xs:attribute name="factor" type="xs:decimal" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="LastNegativeOccurrence">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:short">
										<xs:attribute name="factor" type="xs:decimal" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="NegativeOccurrencePercentage">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:short">
										<xs:attribute name="factor" type="xs:decimal" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="TotalOwingFactor" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PIScore">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PI90Day" type="xs:string"/>
						<xs:element name="PIAllLines" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CIPIQuarters" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CIPIQuarter" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CompositeIndex" type="xs:string"/>
									<xs:element name="PaymentIndex" type="xs:string"/>
								</xs:sequence>
								<xs:attribute name="trendYear" type="xs:gYear" use="required"/>
								<xs:attribute name="number" type="xs:short" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CollectionClaimType">
		<xs:sequence>
			<xs:element name="CreationDate" type="xs:date"/>
			<xs:element name="CreationStatus" type="CodeType"/>
			<xs:element name="ClaimAmount" type="MoneyType"/>
			<xs:element name="PaidAmount" type="MoneyType"/>
			<xs:element name="PaidDate" type="xs:date" minOccurs="0"/>
			<xs:element name="StatusDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ClosedDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ExpiryDate" type="xs:date"/>
			<xs:element name="AgencyReportedStatus" type="CodeType" minOccurs="0"/>
			<xs:element name="ClaimSupplier" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element ref="Name" minOccurs="0"/>
						<xs:element ref="SICs" minOccurs="0"/>
						<xs:element ref="ReferenceNumber" minOccurs="0"/>
						<xs:element name="DebtorReferenceNumber" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Debtor">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element ref="Name" minOccurs="0"/>
						<xs:element ref="CommAddress" minOccurs="0"/>
						<xs:element ref="ReferenceNumber" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Agency">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="SubjectNumber"/>
						<xs:element name="Folio" type="xs:string" minOccurs="0"/>
						<xs:element ref="CompanyNumber"/>
						<xs:element ref="Name" minOccurs="0"/>
						<xs:element name="ClaimNumber" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Report" type="CodeType"/>
			<xs:element ref="UpdateSource"/>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="placedDate" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="FinancialAndEmployeeType">
		<xs:sequence>
			<xs:element name="ItemType">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CodeType">
							<xs:sequence minOccurs="0">
								<xs:element name="ItemValue" minOccurs="0">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:long">
												<xs:attributeGroup ref="CodeAndDescription"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="SubmittingCompanyNumber" minOccurs="0"/>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="informationDate" type="xs:date" use="required"/>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionType">
		<xs:sequence>
			<xs:element ref="InformationDate"/>
			<xs:element name="CPAInformation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InstitutionName" type="xs:string"/>
						<xs:element name="BranchDomicil" type="xs:string" minOccurs="0"/>
						<xs:element ref="CommAddress"/>
						<xs:element ref="Telephone" minOccurs="0"/>
						<xs:element ref="Fax" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceName" type="xs:string" minOccurs="0"/>
			<xs:element name="ReferencePhone" type="TelephoneType" minOccurs="0"/>
			<xs:element name="ReferenceFax" type="TelephoneType" minOccurs="0"/>
			<xs:element ref="ReasonNotToHaveInfo" minOccurs="0"/>
			<xs:element name="BankIdNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CompanyNameReturnedByBank" type="xs:string" minOccurs="0"/>
			<xs:element ref="LastChangedDate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentificationSectionType">
		<xs:sequence>
			<xs:element ref="CompanyId"/>
			<xs:element ref="CommAddress"/>
			<xs:element name="ReportDate" type="xs:date" minOccurs="0"/>
			<xs:element name="FileOpenedDate" type="xs:date"/>
			<xs:element name="Requestor" type="xs:string" minOccurs="0"/>
			<xs:element name="Reference" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IncorporationType">
		<xs:sequence minOccurs="0">
			<xs:element name="RegistrationNumber" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="CodeAndDescription"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:date" minOccurs="0"/>
			<xs:element ref="OpenedDate" minOccurs="0"/>
			<xs:element name="Jurisdiction" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="Location" minOccurs="0">
							<xs:complexType>
								<xs:attributeGroup ref="CodeAndDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="CodeAndDescription"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="SubmittingCompanyNumber" minOccurs="0"/>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="informationDate" type="xs:date" use="required"/>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="InquiryType">
		<xs:sequence>
			<xs:element name="Inquirer" type="CompanyIdType"/>
		</xs:sequence>
		<xs:attribute name="date" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="InventoryAssetType">
		<xs:sequence>
			<xs:element name="AssetClass">
				<xs:complexType>
					<xs:choice minOccurs="0">
						<xs:element name="AssetDetails" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AssetDetail" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="Description" type="xs:string" minOccurs="0"/>
												<xs:element name="AssetValue" type="MoneyType" minOccurs="0"/>
												<xs:element name="LienHolder" minOccurs="0">
													<xs:complexType>
														<xs:sequence minOccurs="0">
															<xs:element ref="Name" minOccurs="0"/>
															<xs:element ref="UnstructuredAddress" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AssetValue" type="MoneyType" minOccurs="0"/>
					</xs:choice>
					<xs:attributeGroup ref="CodeAndDescription"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="SubmittingCompanyNumber" minOccurs="0"/>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="informationDate" type="xs:date" use="required"/>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="LegalInformationType">
		<xs:sequence>
			<xs:element name="LegalTypeDetail" type="CodeType"/>
			<xs:element ref="SystemDate"/>
			<xs:element ref="FiledDate"/>
			<xs:element ref="LegalAmount" minOccurs="0"/>
			<xs:element ref="CommDefendant"/>
			<xs:element ref="CommPlaintiff"/>
			<xs:element name="Supplementary" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CommLegalPartyType">
							<xs:attribute name="date" type="xs:date" use="optional"/>
							<xs:attribute name="dateType" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="CommCourtId"/>
			<xs:element ref="LegalNature" minOccurs="0"/>
			<xs:element name="SatisfiedDate" type="xs:date" minOccurs="0"/>
			<xs:element name="VerifiedDate" type="xs:date" minOccurs="0"/>
			<xs:element name="LoanMaturityDate" type="xs:date" minOccurs="0"/>
			<xs:element name="SecuredItem" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="ItemDescription" type="xs:string" minOccurs="0"/>
						<xs:element name="SiteAddress" type="xs:string" minOccurs="0"/>
					</xs:sequence>
					<xs:attributeGroup ref="CodeAndDescription"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="LineOfCreditType">
		<xs:sequence minOccurs="0">
			<xs:element name="NumberOfAccounts" type="CodeType" minOccurs="0"/>
			<xs:element ref="AccountTypes" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="OpenedDate" minOccurs="0"/>
				<xs:element ref="OpenedPeriod" minOccurs="0"/>
			</xs:choice>
			<xs:element name="AuthorizedAmount" type="AccountRangeType" minOccurs="0"/>
			<xs:element name="UtilizedAmount" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="AccountRangeType">
							<xs:attribute name="utilizedPercentage" type="xs:short" use="optional"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Rating" minOccurs="0"/>
			<xs:element ref="SecuredLines" minOccurs="0"/>
			<xs:element ref="LastChangedDate" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="accountNumber" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="LoanType">
		<xs:sequence minOccurs="0">
			<xs:element name="NumberOfAccounts" type="CodeType" minOccurs="0"/>
			<xs:element ref="AccountTypes" minOccurs="0"/>
			<xs:element name="MortgageAddress" type="UnparsedStreetAddressType" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="OpenedDate" minOccurs="0"/>
				<xs:element ref="OpenedPeriod" minOccurs="0"/>
			</xs:choice>
			<xs:element name="AuthorizedAmount" type="AccountRangeType" minOccurs="0"/>
			<xs:element name="BalanceOwing" type="AccountRangeType" minOccurs="0"/>
			<xs:element name="Terms" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="AccountRangeType">
							<xs:sequence minOccurs="0">
								<xs:element name="PaymentFrequency" type="CodeType" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Rating" minOccurs="0"/>
			<xs:element ref="SecuredLines" minOccurs="0"/>
			<xs:element ref="LastChangedDate" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="accountNumber" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MultipleType">
		<xs:sequence>
			<xs:element ref="CompanyId"/>
			<xs:element ref="CommAddress"/>
			<xs:choice>
				<xs:element name="ConfidenceLevelIndicator" type="xs:integer"/>
				<xs:element name="NumberOfItems" type="xs:integer">
					<xs:annotation>
						<xs:documentation>Legacy element that will be removed in the future. Your application should be adjusted to use "ConfidenceLevelIndicator".</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="companyNumber" type="xs:long" use="required"/>
		<xs:attribute name="relationType" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="OtherFileIncluded">
		<xs:sequence>
			<xs:element ref="CompanyId"/>
			<xs:element ref="CommAddress"/>
		</xs:sequence>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="OwnerPrincipalType">
		<xs:sequence>
			<xs:element name="OwnerName" type="CNSubjectNameType"/>
			<xs:element name="Title" type="CodeType" minOccurs="0"/>
			<xs:element ref="UnstructuredAddress" minOccurs="0"/>
			<xs:element name="PercentageSharesOwned" type="xs:short" minOccurs="0"/>
			<xs:element name="EquifaxConsumerNumber" type="xs:string" minOccurs="0"/>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="informationDate" type="xs:date" use="required"/>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="PaymentTrendType">
		<xs:sequence minOccurs="0">
			<xs:element name="Quarters" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Quarter" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element ref="TotalBalanceAmount" minOccurs="0"/>
									<xs:element ref="CurrentBalanceAmount" minOccurs="0"/>
									<xs:element ref="PastDueAmounts" minOccurs="0"/>
									<xs:element name="NumberOfSuppliers" type="xs:short" minOccurs="0"/>
								</xs:sequence>
								<xs:attribute name="number" type="xs:short"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="trendYear" type="xs:gYear"/>
	</xs:complexType>
	<xs:complexType name="PropertyType">
		<xs:sequence>
			<xs:element name="OwnershipType" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="CodeAndDescription"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValidationSource" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="CodeAndDescription"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartCovered" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="CodeAndDescription"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="UnstructuredAddress"/>
			<xs:element name="Evaluation" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element ref="Date" minOccurs="0"/>
						<xs:element ref="Amount" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="informationDate" type="xs:date" use="required"/>
		<xs:attributeGroup ref="CodeAndDescription"/>
	</xs:complexType>
	<xs:complexType name="ReturnedChequeType">
		<xs:sequence>
			<xs:element name="ChequeAmount" type="MoneyType"/>
			<xs:element name="ChequeNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CreditorCompany" type="CompanyIdType"/>
			<xs:element ref="Reason"/>
			<xs:element ref="Status"/>
			<xs:element name="BankInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element ref="CompanyNumber" minOccurs="0"/>
						<xs:element ref="AccountNumber" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="SystemDate"/>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="chequeDate" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="SubjectSummary">
		<xs:sequence>
			<xs:element ref="LastChangedDate"/>
			<xs:element name="FileDateOpened" type="xs:date"/>
			<xs:element name="Summaries" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Summary" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element name="Count" type="xs:short" minOccurs="0"/>
									<xs:element ref="Amount" minOccurs="0"/>
									<xs:element ref="DateOfLastActivity" minOccurs="0"/>
								</xs:sequence>
								<xs:attribute name="item" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>enumeration value: COLLECTIONCLAIMS</xs:documentation>
										<xs:documentation>enumeration value: LEGALSUITS</xs:documentation>
										<xs:documentation>enumeration value: JUDGMENTS</xs:documentation>
										<xs:documentation>enumeration value: RETURNEDCHEQUES</xs:documentation>
										<xs:documentation>enumeration value: OTHERLEGALITEMS</xs:documentation>
										<xs:documentation>enumeration value: BANKINFO</xs:documentation>
										<xs:documentation>enumeration value: BUSINESSINFO</xs:documentation>
										<xs:documentation>enumeration value: OTHER</xs:documentation>
										<xs:documentation>enumeration value: CLAIMSPLACED1MTH</xs:documentation>
										<xs:documentation>enumeration value: CLAIMSPLACED2MTHS</xs:documentation>
										<xs:documentation>enumeration value: CLAIMSPLACED3MTHS</xs:documentation>
										<xs:documentation>enumeration value: CLAIMSPLACEDMORE3MTHS</xs:documentation>
										<xs:documentation>enumeration value: PAIDCLAIMS</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TradesAdditionalInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="Characteristics" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Characteristic" maxOccurs="unbounded">
										<xs:complexType>
											<xs:attribute name="id" type="xs:string" use="required">
												<xs:annotation>
													<xs:documentation>enumeration value: TERMS</xs:documentation>
													<xs:documentation>enumeration value: HABITS</xs:documentation>
													<xs:documentation>enumeration value: ACCOUNTSTATUS</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attributeGroup ref="CodeAndDescription"/>
											<xs:attribute name="qty" type="xs:short" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="OldestDate" type="xs:date" minOccurs="0"/>
						<xs:element name="NewestDate" type="xs:date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TrendsAdditionalInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LastTrended">
							<xs:complexType>
								<xs:attribute name="year" type="xs:gYear" use="required"/>
								<xs:attribute name="quarter" type="xs:short" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradesTotalType">
		<xs:sequence>
			<xs:element name="LinesCount" type="xs:short"/>
			<xs:element ref="HighCreditAmount"/>
			<xs:element ref="TotalBalanceAmount"/>
			<xs:element ref="CurrentBalanceAmount"/>
			<xs:element ref="PastDueAmounts"/>
			<xs:element ref="FutureAmount"/>
			<xs:element ref="HoldbackAmount"/>
			<xs:element ref="CreditLimitAmount"/>
			<xs:element name="HighestCreditAmount" type="MoneyType"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="TradesInfoType">
		<xs:sequence>
			<xs:element name="Trades" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Trade" type="TradeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Comments" minOccurs="0"/>
			<xs:element name="TradesTotals">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TradesTotal" type="TradesTotalType" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeType">
		<xs:sequence>
			<xs:element ref="HighCreditAmount"/>
			<xs:element ref="TotalBalanceAmount"/>
			<xs:element ref="CurrentBalanceAmount"/>
			<xs:element ref="PastDueAmounts"/>
			<xs:element ref="FutureAmount" minOccurs="0"/>
			<xs:element ref="HoldbackAmount" minOccurs="0"/>
			<xs:element ref="CreditLimitAmount" minOccurs="0"/>
			<xs:element ref="CreditLimitDate" minOccurs="0"/>
			<xs:element name="CommercialPaymentTerms" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="PaymentTermAmount" type="MoneyType" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="code" type="xs:string" use="optional"/>
					<xs:attribute name="description" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentHabits" type="CodeType" minOccurs="0"/>
			<xs:element name="AccountStatus" type="CodeType" minOccurs="0"/>
			<xs:element name="AccountSecuredIndicator" type="YNFlagType"/>
			<xs:element name="AccountOpenedDate" type="xs:date" minOccurs="0"/>
			<xs:element name="TradeSupplier">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CompanyIdType">
							<xs:sequence minOccurs="0">
								<xs:element ref="ReferenceNumber" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="LastActivityDate" type="xs:date" minOccurs="0"/>
			<xs:element ref="UpdateSource"/>
			<xs:element ref="Comments" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="date" type="xs:date" use="required"/>
	</xs:complexType>
</xs:schema>
