vista-biz/vista-biz-yardi-interface-wsdl/src/main/resources/leaseapp30/MITSCoreData30.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>MITS CoreData 3.0  9/05/07</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="State" minOccurs="0">
				<xs:annotation>
					<xs:documentation>3 char State Code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Province" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountyName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnparsedAddress" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Email" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AddressType" type="addressinfo" use="required"/>
	</xs:complexType>
	<xs:complexType name="PhoneType">
		<xs:sequence>
			<xs:element name="PhoneDescription" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PhoneNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Extension" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="PhoneType" type="phoneinfo" use="required"/>
	</xs:complexType>
	<xs:complexType name="CustomersType">
		<xs:sequence>
			<xs:element name="Customer" type="CustomerType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerType">
		<xs:complexContent>
			<xs:extension base="IdentificationType">
				<xs:sequence>
					<xs:element name="Description" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Name">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="NamePrefix" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="FirstName">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="MiddleName" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="LastName">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="MaidenName" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="NameSuffix" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="10"/>
					<xs:element name="Phone" type="PhoneType" minOccurs="0" maxOccurs="10"/>
					<xs:element name="Lease" minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="IdentificationType">
									<xs:sequence>
										<xs:element name="CurrentRent" type="xs:decimal" minOccurs="0"/>
										<xs:element name="ExpectedMoveInDate" type="xs:date" minOccurs="0"/>
										<xs:element name="ExpectedMoveOutDate" type="xs:date" minOccurs="0"/>
										<xs:element name="LeaseFromDate" type="xs:date" minOccurs="0"/>
										<xs:element name="LeaseToDate" type="xs:date" minOccurs="0"/>
										<xs:element name="ActualMoveIn" type="xs:date" minOccurs="0"/>
										<xs:element name="ActualMoveOut" type="xs:date" minOccurs="0"/>
										<xs:element name="ResponsibleForLease" type="xs:boolean" minOccurs="0"/>
										<xs:element name="LeaseSignDate" type="xs:date" minOccurs="0"/>
										<xs:element name="SpecialStatus" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PaymentAccepted" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AccountNumber" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CurrentNumberOccupants" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Commonly used for actual number of occupants.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="MITS-Integer">
														<xs:attribute name="Total" type="MITS-Integer" use="required"/>
														<xs:attribute name="Child" type="MITS-Integer" use="optional"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentificationType">
		<xs:sequence>
			<xs:element name="Identification" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>IDType attribute should mirror the element it describes or be used as an IDRef for Company or Person in Contacts</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IDValue" type="xs:string">
							<xs:annotation>
								<xs:documentation>IDValue reflects ID string value or IDRef value</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OrganizationName" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Value reflects other IDScopeType value</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="IDType" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="IDScopeType" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="sender"/>
								<xs:enumeration value="recipient"/>
								<xs:enumeration value="thirdparty"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="IDRank" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="primary"/>
								<xs:enumeration value="secondary"/>
								<xs:enumeration value="tertiary"/>
								<xs:enumeration value="other"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertiesType">
		<xs:sequence>
			<xs:element name="Property" type="PropertyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyType">
		<xs:complexContent>
			<xs:extension base="IdentificationType">
				<xs:sequence>
					<xs:element name="MarketingName">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="120"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="APN" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="40"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LegalName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="120"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MSA_Number" type="xs:integer" minOccurs="0"/>
					<xs:element name="MSA_Name" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="StructureDescription" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="WebSite" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="10"/>
					<xs:element name="Phone" type="PhoneType" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UnitsType">
		<xs:sequence>
			<xs:element name="Unit" type="UnitType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnitType">
		<xs:complexContent>
			<xs:extension base="IdentificationType">
				<xs:sequence>
					<xs:element name="MarketingName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="120"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="UnitType" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="0"/>
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="UnitBedrooms" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:fractionDigits value="2"/>
								<xs:totalDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="UnitBathrooms" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="4"/>
								<xs:fractionDigits value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MinSquareFeet" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MaxSquareFeet" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SquareFootType" type="unitsqftinfo" minOccurs="0"/>
					<xs:element name="UnitRent" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="7"/>
								<xs:fractionDigits value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MarketRent" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="7"/>
								<xs:fractionDigits value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="UnitEconomicStatus" type="uniteconstatusinfo" minOccurs="0"/>
					<xs:element name="UnitEconomicStatusDescription" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="UnitOccupancyStatus" type="unitoccpstatusinfo" minOccurs="0"/>
					<xs:element name="UnitLeasedStatus" type="unitleasestatusinfo" minOccurs="0"/>
					<xs:element name="UnitLeasedStatusDescription" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NumberOccupants" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Commonly used for maximun number of occupants.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="MITS-Integer">
									<xs:attribute name="Total" type="MITS-Integer" use="required"/>
									<xs:attribute name="Child" type="MITS-Integer" use="optional"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="FloorplanName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PhaseName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BuildingName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CurrencyRangeType">
		<xs:annotation>
			<xs:documentation>A Range Of Currencies - pattern based</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Min" use="optional">
			<xs:annotation>
				<xs:documentation>Minimum acceptable amount</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="$\d+\.\d{2}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Max" use="optional">
			<xs:annotation>
				<xs:documentation>Maximum acceptable amount</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="$\d+\.\d{2}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Exact" use="optional">
			<xs:annotation>
				<xs:documentation>Exact currency amount</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="$\d+\.\d{2}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="NumericRangeType">
		<xs:annotation>
			<xs:documentation>A Range of Integers</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Min" type="xs:integer" use="optional"/>
		<xs:attribute name="Max" type="xs:integer" use="optional"/>
		<xs:attribute name="Exact" type="xs:integer" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CompanyContactType">
		<xs:sequence>
			<xs:element name="CompanyRef" type="IdentificationType" minOccurs="0"/>
			<xs:element name="CompanyRole" type="CompanyRoleType" minOccurs="0"/>
			<xs:element name="CompanyContacts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CompanyContact" type="CompanyPersonContactType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompanyType">
		<xs:complexContent>
			<xs:extension base="IdentificationType">
				<xs:sequence>
					<xs:element name="CompanyName">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="WebSite" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Logo" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Phone" type="PhoneType" minOccurs="0" maxOccurs="10"/>
					<!-- and possibly more -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonType">
		<xs:complexContent>
			<xs:extension base="IdentificationType">
				<xs:sequence>
					<xs:element name="Name">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="NamePrefix" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="FirstName">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="MiddleName" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="LastName">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="MaidenName" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="NameSuffix" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="50"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Phone" type="PhoneType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- and possibly more -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CompanyPersonContactType">
		<xs:sequence>
			<xs:element name="PersonContactRef" type="IdentificationType"/>
			<xs:element name="PersonContactRole" type="PersonCompanyRoleType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactsType">
		<xs:sequence>
			<xs:element name="PropertyContacts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PropertyContact" type="CompanyContactType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Companies">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Company" type="CompanyType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Persons">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Person" type="PersonType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PersonCompanyRoleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="manager"/>
			<xs:enumeration value="owner"/>
			<xs:enumeration value="vendor"/>
			<xs:enumeration value="accountant"/>
			<xs:enumeration value="tax accountant"/>
			<xs:enumeration value="lawyer"/>
			<xs:enumeration value="asset manager"/>
			<xs:enumeration value="lender"/>
			<xs:enumeration value="investor"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
		<!-- these are just exsamples -->
	</xs:simpleType>
	<xs:simpleType name="CompanyRoleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="management company"/>
			<xs:enumeration value="owner"/>
			<xs:enumeration value="vendor"/>
			<xs:enumeration value="asset managment"/>
			<xs:enumeration value="lending firm"/>
			<xs:enumeration value="investment company"/>
			<xs:enumeration value="employer"/>
			<xs:enumeration value="previous employer"/>
			<xs:enumeration value="bank"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
		<!-- these are just exsamples -->
	</xs:simpleType>
	<xs:simpleType name="addressinfo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="property"/>
			<xs:enumeration value="mailing"/>
			<xs:enumeration value="shipping"/>
			<xs:enumeration value="billing"/>
			<xs:enumeration value="current"/>
			<xs:enumeration value="previous"/>
			<xs:enumeration value="forwarding"/>
			<xs:enumeration value="legal notice"/>
			<xs:enumeration value="termination notice"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="phoneinfo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="office"/>
			<xs:enumeration value="cell"/>
			<xs:enumeration value="fax"/>
			<xs:enumeration value="personal"/>
			<xs:enumeration value="home"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="customerinfo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="guest"/>
			<xs:enumeration value="applicant"/>
			<xs:enumeration value="customer"/>
			<xs:enumeration value="current resident"/>
			<xs:enumeration value="former resident"/>
			<xs:enumeration value="future resident"/>
			<xs:enumeration value="prospect"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="propertyidinfo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="market rate apt"/>
			<xs:enumeration value="condominium"/>
			<xs:enumeration value="cooperative"/>
			<xs:enumeration value="senior"/>
			<xs:enumeration value="assisted living"/>
			<xs:enumeration value="subsidized"/>
			<xs:enumeration value="military"/>
			<xs:enumeration value="nursing"/>
			<xs:enumeration value="home"/>
			<xs:enumeration value="student"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="propertycontactsinfo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="manager"/>
			<xs:enumeration value="owner"/>
			<xs:enumeration value="vendor"/>
			<xs:enumeration value="accountant"/>
			<xs:enumeration value="tax accountant"/>
			<xs:enumeration value="lawyer"/>
			<xs:enumeration value="asset manager"/>
			<xs:enumeration value="lender"/>
			<xs:enumeration value="investor"/>
			<xs:enumeration value="employer"/>
			<xs:enumeration value="previous employer"/>
			<xs:enumeration value="bank"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unitsqftinfo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="internal"/>
			<xs:enumeration value="external"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uniteconstatusinfo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="residential"/>
			<xs:enumeration value="commercial"/>
			<xs:enumeration value="down"/>
			<xs:enumeration value="model"/>
			<xs:enumeration value="employee"/>
			<xs:enumeration value="construction"/>
			<xs:enumeration value="office"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unitoccpstatusinfo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="occupied"/>
			<xs:enumeration value="vacant"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MITS-Currency">
		<xs:annotation>
			<xs:documentation>MITS currency format updated 9/7/06 for negitive amounts - pattern based</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d*|\-\d*)?\.?(\d{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MITS-Integer">
		<xs:annotation>
			<xs:documentation>MITS Integer format - pattern based- to be phased out in future</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unitleasestatusinfo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="leased"/>
			<xs:enumeration value="available"/>
			<xs:enumeration value="approved"/>
			<xs:enumeration value="reserved"/>
			<xs:enumeration value="not ready"/>
			<xs:enumeration value="on notice"/>
			<xs:enumeration value="leased on notice"/>
			<xs:enumeration value="leased reserved"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
