vista-yardi/vista-yardi-interface-wsdl/src/main/resources/maintenance/Itf_ServiceRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ServiceRequests">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ServiceRequest" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ServiceRequestId" minOccurs="0"/>
				<xs:element ref="PropertyCode"/>
				<xs:element ref="UnitCode" minOccurs="0"/>
				<xs:element ref="TenantCode" minOccurs="0"/>
				<xs:element ref="VendorCode" minOccurs="0"/>
				<xs:element ref="ServiceRequestBriefDescription" minOccurs="0"/>
				<xs:element ref="ServiceRequestFullDescription" minOccurs="0"/>
				<xs:element ref="Priority" minOccurs="0"/>
				<xs:element ref="Category" minOccurs="0"/>
				<xs:element ref="SubCategory" minOccurs="0"/>
				<xs:element ref="HasPermissionToEnter" minOccurs="0"/>
				<xs:element ref="AccessNotes" minOccurs="0"/>
				<xs:element ref="ProblemDescriptionNotes" minOccurs="0"/>
				<xs:element ref="TechnicianNotes" minOccurs="0"/>
				<xs:element ref="TenantCaused" minOccurs="0"/>
				<xs:element ref="RequestorName" minOccurs="0"/>
				<xs:element ref="RequestorPhoneNumber" minOccurs="0"/>
				<xs:element ref="RequestorEmail" minOccurs="0"/>
				<xs:element ref="AuthorizedBy" minOccurs="0"/>
				<xs:element ref="ServiceRequestDate" minOccurs="0"/>
				<xs:element ref="CreatedBy" minOccurs="0"/>
				<xs:element ref="UpdateDate" minOccurs="0"/>
				<xs:element ref="UpdatedBy" minOccurs="0"/>
				<xs:element ref="CurrentStatus" minOccurs="0"/>
				<xs:element ref="StatusHistory" minOccurs="0"/>
				<xs:element ref="Resolution" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AccessNotes" type="xs:string"/>
	<xs:element name="AuthorizedBy" type="xs:string"/>
	<xs:element name="Category" type="xs:string"/>
	<xs:element name="CreatedBy" type="xs:string"/>
	<xs:element name="CurrentStatus" type="xs:string"/>
	<xs:element name="HasPermissionToEnter" type="xs:boolean"/>	
	<xs:element name="Priority" type="xs:string"/>
	<xs:element name="ProblemDescriptionNotes" type="xs:string"/>
	<xs:element name="PropertyCode" type="xs:string"/>
	<xs:element name="RequestorEmail" type="xs:string"/>
	<xs:element name="RequestorName" type="xs:string"/>
	<xs:element name="RequestorPhoneNumber" type="xs:long"/>
	<xs:element name="Resolution" type="xs:string"/>
	<xs:element name="ServiceRequestBriefDescription" type="xs:string"/>
	<xs:element name="ServiceRequestDate" type="xs:date"/>
	<xs:element name="ServiceRequestFullDescription" type="xs:string"/>
	<xs:element name="ServiceRequestId" type="xs:short"/>		
	<xs:element name="StatusHistory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Status" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Status">
		<xs:complexType>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="TimeStamp" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubCategory" type="xs:string"/>
	<xs:element name="TechnicianNotes" type="xs:string"/>
	<xs:element name="TenantCaused" type="xs:boolean"/>
	<xs:element name="TenantCode" type="xs:string"/>
	<xs:element name="UnitCode" type="xs:string"/>
	<xs:element name="UpdateDate" type="xs:dateTime"/>
	<xs:element name="UpdatedBy" type="xs:string"/>
	<xs:element name="VendorCode" type="xs:string"/>	
</xs:schema>
