vista-yardi/vista-yardi-interface-wsdl/src/main/resources/maintenance/Itf_CustomValues.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ServiceRequests">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomValues"/>
			</xs:sequence>
			<xs:attribute name="xsi" type="xs:anyURI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomValues">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Categories"/>
				<xs:element ref="Approvers"/>
				<xs:element ref="Priorities"/>
				<xs:element ref="Statuses"/>
				<xs:element ref="Resolutions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Categories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Category" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Category">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="SubCategory" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="SubCategory" type="xs:string"/>
	<xs:element name="Approvers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Approver" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Approver" type="xs:string"/>
	<xs:element name="Priorities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Priority" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Priority" type="xs:string"/>
	<xs:element name="Statuses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Status" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Status">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Status" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Resolutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Resolution" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Resolution" type="xs:string"/>
</xs:schema>
