vista-yardi/vista-yardi-interface/src/main/resources/MITS/2.0/Itf_MITS_ResidentTransactions2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by XMLSPY 2006 Professional Ed., Installed for 20 users (Yardi Systems) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:MITS="http://my-company.com/namespace" targetNamespace="http://yardi.com/ResidentTransactions20" xmlns="http://yardi.com/ResidentTransactions20" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://my-company.com/namespace" schemaLocation="./Itf_MITS_CoreData2.0.xsd"/>
	<xs:element name="ResidentTransactions">
		<xs:annotation>
			<xs:documentation>MITS Resident Transactions 2.0 Final Draft 12/18/06</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Property" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PropertyID" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>MITS PropertyID Core Data Module version 2.0</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="MITS:PropertyIDType"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="PropertyContacts" type="MITS:PropertyContactsType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>MITS PropertyContacts Core Data module version 2.0</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RT_Customer" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CustomerID" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Customers" type="MITS:CustomersType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>MITS Customers Core Data module version 2.0</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BuildingID" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AccountNumber" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Other resident account number</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RT_Unit" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="UnitID">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NumberOccupants" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="MITS-Integer">
																	<xs:attribute name="Total" type="MITS-Integer" use="required"/>
																	<xs:attribute name="Child" type="MITS-Integer" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Unit" type="MITS:UnitType">
														<xs:annotation>
															<xs:documentation>MITS Unit Core Data Module Version 2.0</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SpecialStatus" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PaymentAccepted" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RTServiceTransactions" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Services" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Detail" type="ServiceDetail"/>
															</xs:sequence>
															<xs:attribute name="Type" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="AirCon"/>
																		<xs:enumeration value="Heat"/>
																		<xs:enumeration value="Trash"/>
																		<xs:enumeration value="BroadbandInternet"/>
																		<xs:enumeration value="Cable"/>
																		<xs:enumeration value="Electric"/>
																		<xs:enumeration value="Gas"/>
																		<xs:enumeration value="HotWater"/>
																		<xs:enumeration value="Sewer"/>
																		<xs:enumeration value="Water"/>
																		<xs:enumeration value="Telephone"/>
																		<xs:enumeration value="Other"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="Transactions" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Charge" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Detail" type="ChargeDetail"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Payment" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Detail">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="BatchID" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="50"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="Description" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="100"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="TransactionID" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="50"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="DocumentNumber" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>check#,money order#, etc.</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="50"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="Reversal" minOccurs="0">
																							<xs:complexType>
																								<xs:attribute name="Type" use="required">
																									<xs:simpleType>
																										<xs:restriction base="xs:string">
																											<xs:enumeration value="NSF"/>
																											<xs:enumeration value="Chargeback"/>
																											<xs:enumeration value="Adjustment"/>
																											<xs:enumeration value="Other"/>
																										</xs:restriction>
																									</xs:simpleType>
																								</xs:attribute>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="ReversalDescription" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="100"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="ReversalTranID" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="50"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="TransactionDate" type="xs:date" minOccurs="0"/>
																						<xs:element name="Charge" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="ChargeAmount" minOccurs="0"/>
																									<xs:element name="ChargeCode" minOccurs="0"/>
																								</xs:sequence>
																								<xs:attribute name="ID" use="optional">
																									<xs:simpleType>
																										<xs:restriction base="xs:string">
																											<xs:maxLength value="50"/>
																										</xs:restriction>
																									</xs:simpleType>
																								</xs:attribute>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="BankBook" type="xs:string" minOccurs="0"/>
																						<xs:element name="GLAccountNumber" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>general ledger account number</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="50"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="CustomerID" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="50"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="UnitID" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="50"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="BuildingID" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="50"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="PaidBy" type="xs:string" minOccurs="0"/>
																						<xs:element name="Amount" type="MITS-Currency" minOccurs="0"/>
																						<xs:element name="AmountPaid" type="MITS-Currency" minOccurs="0"/>
																						<xs:element name="InvoiceNumber" minOccurs="0"/>
																						<xs:element name="BalanceDue" type="MITS-Currency" minOccurs="0"/>
																						<xs:element name="Comment" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="255"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="PropertyPrimaryID" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:maxLength value="50"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="Type" use="required">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="CreditCard"/>
																					<xs:enumeration value="DebitCard"/>
																					<xs:enumeration value="ACH"/>
																					<xs:enumeration value="Check"/>
																					<xs:enumeration value="Cash"/>
																					<xs:enumeration value="MoneyOrder"/>
																					<xs:enumeration value="Other"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="Channel" use="optional">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="Online"/>
																					<xs:enumeration value="Phone"/>
																					<xs:enumeration value="Onsite"/>
																					<xs:enumeration value="Mail"/>
																					<xs:enumeration value="Lockbox"/>
																					<xs:enumeration value="BankBillPayment"/>
																					<xs:enumeration value="Other"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Concession" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Detail" type="ChargeDetail"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RT_Messages" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PropertyText" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="500"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CustomerText" minOccurs="0" maxOccurs="10">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="MessageText" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="500"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="CustomerID" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="50"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Ledger" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Used for holding a customer's financial transactions.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Description" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LedgerID" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LedgerStatus" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LedgerClosedDate" type="xs:date" minOccurs="0"/>
													<xs:element name="AutoEnrollOptOut" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="BlockedUntilDate" type="xs:date" minOccurs="0"/>
													<xs:element name="CertifiedFundsRequiredUntilDate" type="xs:date" minOccurs="0"/>
												</xs:sequence>
												<xs:attribute name="Type" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Deposit"/>
															<xs:enumeration value="ResidentMain"/>
															<xs:enumeration value="Subsidy"/>
															<xs:enumeration value="Other"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="LeaseID" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="MITS-Currency">
		<xs:annotation>
			<xs:documentation>Standard MITS currency format updated 9/7/06 for negitive amounts</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d*|\-\d*)?\.?(\d{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MITS-Integer">
		<xs:annotation>
			<xs:documentation>Standard MITS Integer format</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceDetail">
		<xs:sequence>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Service" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Rent"/>
								<xs:enumeration value="AirCon"/>
								<xs:enumeration value="Heat"/>
								<xs:enumeration value="Trash"/>
								<xs:enumeration value="BroadbandInternet"/>
								<xs:enumeration value="Cable"/>
								<xs:enumeration value="Electric"/>
								<xs:enumeration value="Gas"/>
								<xs:enumeration value="HotWater"/>
								<xs:enumeration value="Sewer"/>
								<xs:enumeration value="Water"/>
								<xs:enumeration value="Telephone"/>
								<xs:enumeration value="Fitness"/>
								<xs:enumeration value="Parking"/>
								<xs:enumeration value="Fees"/>
								<xs:enumeration value="Other"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="ChargeCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GLAccountNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>general Ledger account number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Amount" type="MITS-Currency" minOccurs="0"/>
			<xs:element name="BalanceForward" type="MITS-Currency" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChargeDetail">
		<xs:sequence>
			<xs:element name="BatchID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Service" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Rent"/>
								<xs:enumeration value="AirCon"/>
								<xs:enumeration value="Heat"/>
								<xs:enumeration value="Trash"/>
								<xs:enumeration value="BroadbandInternet"/>
								<xs:enumeration value="Cable"/>
								<xs:enumeration value="Electric"/>
								<xs:enumeration value="Gas"/>
								<xs:enumeration value="HotWater"/>
								<xs:enumeration value="Sewer"/>
								<xs:enumeration value="Water"/>
								<xs:enumeration value="Telephone"/>
								<xs:enumeration value="Fitness"/>
								<xs:enumeration value="Parking"/>
								<xs:enumeration value="Fees"/>
								<xs:enumeration value="Other"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransactionDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ServiceToDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ServiceFromDate" type="xs:date" minOccurs="0"/>
			<xs:element name="TransactionID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChargeCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BankBook" type="xs:string" minOccurs="0"/>
			<xs:element name="GLAccountNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>General ledger account number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BuildingID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaidBy" type="xs:string" minOccurs="0"/>
			<xs:element name="AmountPaid" type="MITS-Currency" minOccurs="0"/>
			<xs:element name="InvoiceNumber" minOccurs="0"/>
			<xs:element name="BalanceDue" type="MITS-Currency" minOccurs="0"/>
			<xs:element name="Amount" type="MITS-Currency" minOccurs="0"/>
			<xs:element name="Comment" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Reversal" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="NSF"/>
								<xs:enumeration value="Chargeback"/>
								<xs:enumeration value="Adjustment"/>
								<xs:enumeration value="Other"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReversalDescription" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReversalTranID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PropertyPrimaryID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
