vista-biz/vista-biz-tenantsure-gen/src/main/resources/com/cfcprograms/api/wsdl/cfc_api.asmx-orig.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.cfcprograms.com/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://api.cfcprograms.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://api.cfcprograms.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ComplexClientUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="theClient" type="tns:ClientDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="company_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="country_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contact_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email_address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephone_number" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComplexClientUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ComplexClientUpdateResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gross_premium" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fee" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="total_payable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user_commission" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="discount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="quoteData" type="tns:QuoteOut" />
          <s:element minOccurs="0" maxOccurs="1" name="clientData" type="tns:ClientDetails" />
          <s:element minOccurs="0" maxOccurs="1" name="terrorism_location_breakdown" type="tns:ArrayOfTerrorismLocationDetails" />
          <s:element minOccurs="1" maxOccurs="1" name="effectiveDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QuoteOut">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="client_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expiring_policy_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="policy_period" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="jurisdiction" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ly_revenue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="us_exposure" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="target_premium" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="employee_count" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="wage_roll" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="activity_breakdown" type="tns:ArrayOfInsured_activity" />
          <s:element minOccurs="0" maxOccurs="1" name="insuring_clauses" type="tns:ArrayOfInsuring_clause" />
          <s:element minOccurs="0" maxOccurs="1" name="applicable_taxes" type="tns:ArrayOfOutput_tax" />
          <s:element minOccurs="0" maxOccurs="1" name="optional_extras" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="statement_of_fact" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="referral_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="quote_type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="gross_premium" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="fee" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="tax" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="discount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="quote_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="is_bound" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="bind_date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="quote_id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="is_final_quote" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="nsw_revenue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="inception_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="expiry_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="prop_signed_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="accounting_reference_date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="policy_number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="external_quote_id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="max_contract" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="option_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state_of_filing" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="finance_charge" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="monthly_charge" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInsured_activity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="insured_activity" type="tns:insured_activity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="insured_activity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Percentage" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInsuring_clause">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="insuring_clause" type="tns:insuring_clause" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="insuring_clause">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="limit" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="reinstatements" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="excess" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="retroactive_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primary_basis" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOutput_tax">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="output_tax" type="tns:output_tax" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="output_tax">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="absolute_amount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="business_line" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTerrorismLocationDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TerrorismLocationDetails" type="tns:TerrorismLocationDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TerrorismLocationDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="country_code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TIV" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="SimpleClientUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email_address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telephone_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SimpleClientUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SimpleClientUpdateResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuthentication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuthenticationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserAuthenticationResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComplexQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuoteObject" type="tns:QuoteIn" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QuoteIn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="client_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expiring_policy_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="policy_period" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="jurisdiction" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ly_revenue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="us_exposure" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="target_premium" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="employee_count" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="wage_roll" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="activity_breakdown" type="tns:ArrayOfInsured_activity" />
          <s:element minOccurs="0" maxOccurs="1" name="insuring_clauses" type="tns:ArrayOfInsuring_clause" />
          <s:element minOccurs="0" maxOccurs="1" name="optional_extras" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="statement_of_fact" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="referral_code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="max_contract" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="is_final_quote" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="nsw_revenue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="inception_date" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ComplexQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ComplexQuoteResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createComplexQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuoteObject" type="tns:QuoteIn" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createComplexQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="createComplexQuoteResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OptionCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ActivityCode" type="tns:insured_activity" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inception_date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="revenue" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="employee_count" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="us_exposure" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="retroDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="expiring_policy_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="policyPeriod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="optionalExtras" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referralCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OptionQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OptionQuoteResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TerrorismQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuoteObject" type="tns:QuoteIn" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locationDetails" type="tns:ArrayOfTerrorismLocationDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TerrorismQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TerrorismQuoteResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requestDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toEmailArray" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="bccEmailArray" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="requestDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestDocumentResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveQuoteInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="quoteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveQuoteInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetrieveQuoteInformationResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retrieveClientInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="client_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retrieveClientInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="retrieveClientInformationResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComplexClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theClient" type="tns:ClientDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComplexClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ComplexClientResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SimpleClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email_address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telephone_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SimpleClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SimpleClientResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requestBind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="quote_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requestBindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestBindResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requestAlteredBind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="quote_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inceptionDate" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requestAlteredBindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestAlteredBindResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateQuoteEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="quote_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateQuoteEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validateQuoteEmailResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateSOF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SOF" type="tns:ArrayOfSOFQuestion" />
            <s:element minOccurs="0" maxOccurs="1" name="Country_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Activity_Code" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Product_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Business_Line" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSOFQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SOFQuestion" type="tns:SOFQuestion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SOFQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="requiredAnswer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="validateSOFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validateSOFResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSOF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Country_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Activity_Code" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Product_Code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Business_Line" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSOFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSOFResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkSLBroker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkSLBrokerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkSLBrokerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBaseExcess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="revenue" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="product" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="line" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="countryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currencyCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="employeeCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="activities" type="tns:ArrayOfInsured_activity" />
            <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBaseExcessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getBaseExcessResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkClientExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="countryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkClientExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkClientExistsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUsersClients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dateFrom" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dateTo" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="searchString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUsersClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUsersClientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="testID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Pair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="First" />
          <s:element minOccurs="0" maxOccurs="1" name="Second" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pair" nillable="true" type="tns:Pair" />
        </s:sequence>
      </s:complexType>
      <s:element name="deleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteResult" type="tns:ArrayOfPair" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpeedyAppRefFromQuoteNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="quoteNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpeedyAppRefFromQuoteNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpeedyAppRefFromQuoteNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSpeedyAppRefFromQuoteNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quoteNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="speedyAppRef" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSpeedyAppRefFromQuoteNumberResponse">
        <s:complexType />
      </s:element>
      <s:element name="MarshSso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssoCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarshSsoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MarshSsoResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MTACancelPolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="policyID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="effectiveDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toAddress" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="bccAddress" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MTACancelPolicyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MTACancelPolicyResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MTAReinstatePolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="policyID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="effectiveDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toAddress" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="bccAddress" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MTAReinstatePolicyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MTAReinstatePolicyResult" type="tns:result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinesFromQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinesFromQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinesFromQuoteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientDetailsFromEditUrlGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BaseResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClientResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResult">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetClientDetailsFromEditUrlGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientDetailsFromEditUrlGuidResult" type="tns:ClientResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEditClientUrlFromGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="clientID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quoteInputID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEditClientUrlFromGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddEditClientUrlFromGuidResult" type="tns:BaseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClientDetailsFromEditUrlGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="clientID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="requiredLimit" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="targetPrice" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClientDetailsFromEditUrlGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateClientDetailsFromEditUrlGuidResult" type="tns:BaseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ComplexClientUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:ComplexClientUpdate" />
  </wsdl:message>
  <wsdl:message name="ComplexClientUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:ComplexClientUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SimpleClientUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:SimpleClientUpdate" />
  </wsdl:message>
  <wsdl:message name="SimpleClientUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:SimpleClientUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UserAuthenticationSoapIn">
    <wsdl:part name="parameters" element="tns:UserAuthentication" />
  </wsdl:message>
  <wsdl:message name="UserAuthenticationSoapOut">
    <wsdl:part name="parameters" element="tns:UserAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="ComplexQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:ComplexQuote" />
  </wsdl:message>
  <wsdl:message name="ComplexQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:ComplexQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="createComplexQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:createComplexQuote" />
  </wsdl:message>
  <wsdl:message name="createComplexQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:createComplexQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="OptionQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:OptionQuote" />
  </wsdl:message>
  <wsdl:message name="OptionQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:OptionQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="TerrorismQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:TerrorismQuote" />
  </wsdl:message>
  <wsdl:message name="TerrorismQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:TerrorismQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="requestDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:requestDocument" />
  </wsdl:message>
  <wsdl:message name="requestDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:requestDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveQuoteInformationSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveQuoteInformation" />
  </wsdl:message>
  <wsdl:message name="RetrieveQuoteInformationSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveQuoteInformationResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveClientInformationSoapIn">
    <wsdl:part name="parameters" element="tns:retrieveClientInformation" />
  </wsdl:message>
  <wsdl:message name="retrieveClientInformationSoapOut">
    <wsdl:part name="parameters" element="tns:retrieveClientInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ComplexClientSoapIn">
    <wsdl:part name="parameters" element="tns:ComplexClient" />
  </wsdl:message>
  <wsdl:message name="ComplexClientSoapOut">
    <wsdl:part name="parameters" element="tns:ComplexClientResponse" />
  </wsdl:message>
  <wsdl:message name="SimpleClientSoapIn">
    <wsdl:part name="parameters" element="tns:SimpleClient" />
  </wsdl:message>
  <wsdl:message name="SimpleClientSoapOut">
    <wsdl:part name="parameters" element="tns:SimpleClientResponse" />
  </wsdl:message>
  <wsdl:message name="requestBindSoapIn">
    <wsdl:part name="parameters" element="tns:requestBind" />
  </wsdl:message>
  <wsdl:message name="requestBindSoapOut">
    <wsdl:part name="parameters" element="tns:requestBindResponse" />
  </wsdl:message>
  <wsdl:message name="requestAlteredBindSoapIn">
    <wsdl:part name="parameters" element="tns:requestAlteredBind" />
  </wsdl:message>
  <wsdl:message name="requestAlteredBindSoapOut">
    <wsdl:part name="parameters" element="tns:requestAlteredBindResponse" />
  </wsdl:message>
  <wsdl:message name="validateQuoteEmailSoapIn">
    <wsdl:part name="parameters" element="tns:validateQuoteEmail" />
  </wsdl:message>
  <wsdl:message name="validateQuoteEmailSoapOut">
    <wsdl:part name="parameters" element="tns:validateQuoteEmailResponse" />
  </wsdl:message>
  <wsdl:message name="validateSOFSoapIn">
    <wsdl:part name="parameters" element="tns:validateSOF" />
  </wsdl:message>
  <wsdl:message name="validateSOFSoapOut">
    <wsdl:part name="parameters" element="tns:validateSOFResponse" />
  </wsdl:message>
  <wsdl:message name="getSOFSoapIn">
    <wsdl:part name="parameters" element="tns:getSOF" />
  </wsdl:message>
  <wsdl:message name="getSOFSoapOut">
    <wsdl:part name="parameters" element="tns:getSOFResponse" />
  </wsdl:message>
  <wsdl:message name="checkSLBrokerSoapIn">
    <wsdl:part name="parameters" element="tns:checkSLBroker" />
  </wsdl:message>
  <wsdl:message name="checkSLBrokerSoapOut">
    <wsdl:part name="parameters" element="tns:checkSLBrokerResponse" />
  </wsdl:message>
  <wsdl:message name="getBaseExcessSoapIn">
    <wsdl:part name="parameters" element="tns:getBaseExcess" />
  </wsdl:message>
  <wsdl:message name="getBaseExcessSoapOut">
    <wsdl:part name="parameters" element="tns:getBaseExcessResponse" />
  </wsdl:message>
  <wsdl:message name="checkClientExistsSoapIn">
    <wsdl:part name="parameters" element="tns:checkClientExists" />
  </wsdl:message>
  <wsdl:message name="checkClientExistsSoapOut">
    <wsdl:part name="parameters" element="tns:checkClientExistsResponse" />
  </wsdl:message>
  <wsdl:message name="getUsersClientsSoapIn">
    <wsdl:part name="parameters" element="tns:getUsersClients" />
  </wsdl:message>
  <wsdl:message name="getUsersClientsSoapOut">
    <wsdl:part name="parameters" element="tns:getUsersClientsResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSoapIn">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="deleteSoapOut">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpeedyAppRefFromQuoteNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpeedyAppRefFromQuoteNumber" />
  </wsdl:message>
  <wsdl:message name="GetSpeedyAppRefFromQuoteNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpeedyAppRefFromQuoteNumberResponse" />
  </wsdl:message>
  <wsdl:message name="SetSpeedyAppRefFromQuoteNumberSoapIn">
    <wsdl:part name="parameters" element="tns:SetSpeedyAppRefFromQuoteNumber" />
  </wsdl:message>
  <wsdl:message name="SetSpeedyAppRefFromQuoteNumberSoapOut">
    <wsdl:part name="parameters" element="tns:SetSpeedyAppRefFromQuoteNumberResponse" />
  </wsdl:message>
  <wsdl:message name="MarshSsoSoapIn">
    <wsdl:part name="parameters" element="tns:MarshSso" />
  </wsdl:message>
  <wsdl:message name="MarshSsoSoapOut">
    <wsdl:part name="parameters" element="tns:MarshSsoResponse" />
  </wsdl:message>
  <wsdl:message name="MTACancelPolicySoapIn">
    <wsdl:part name="parameters" element="tns:MTACancelPolicy" />
  </wsdl:message>
  <wsdl:message name="MTACancelPolicySoapOut">
    <wsdl:part name="parameters" element="tns:MTACancelPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="MTAReinstatePolicySoapIn">
    <wsdl:part name="parameters" element="tns:MTAReinstatePolicy" />
  </wsdl:message>
  <wsdl:message name="MTAReinstatePolicySoapOut">
    <wsdl:part name="parameters" element="tns:MTAReinstatePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinesFromQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinesFromQuote" />
  </wsdl:message>
  <wsdl:message name="GetLinesFromQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinesFromQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsFromEditUrlGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientDetailsFromEditUrlGuid" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsFromEditUrlGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientDetailsFromEditUrlGuidResponse" />
  </wsdl:message>
  <wsdl:message name="AddEditClientUrlFromGuidSoapIn">
    <wsdl:part name="parameters" element="tns:AddEditClientUrlFromGuid" />
  </wsdl:message>
  <wsdl:message name="AddEditClientUrlFromGuidSoapOut">
    <wsdl:part name="parameters" element="tns:AddEditClientUrlFromGuidResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateClientDetailsFromEditUrlGuidSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateClientDetailsFromEditUrlGuid" />
  </wsdl:message>
  <wsdl:message name="UpdateClientDetailsFromEditUrlGuidSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateClientDetailsFromEditUrlGuidResponse" />
  </wsdl:message>
  <wsdl:portType name="CFC_APISoap">
    <wsdl:operation name="runClientUpdate">
      <wsdl:input name="ComplexClientUpdate" message="tns:ComplexClientUpdateSoapIn" />
      <wsdl:output name="ComplexClientUpdate" message="tns:ComplexClientUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="runClientUpdate">
      <wsdl:input name="SimpleClientUpdate" message="tns:SimpleClientUpdateSoapIn" />
      <wsdl:output name="SimpleClientUpdate" message="tns:SimpleClientUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAuthentication">
      <wsdl:input message="tns:UserAuthenticationSoapIn" />
      <wsdl:output message="tns:UserAuthenticationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createQuote">
      <wsdl:input name="ComplexQuote" message="tns:ComplexQuoteSoapIn" />
      <wsdl:output name="ComplexQuote" message="tns:ComplexQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createComplexQuote">
      <wsdl:input message="tns:createComplexQuoteSoapIn" />
      <wsdl:output message="tns:createComplexQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createQuote">
      <wsdl:input name="OptionQuote" message="tns:OptionQuoteSoapIn" />
      <wsdl:output name="OptionQuote" message="tns:OptionQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createQuote">
      <wsdl:input name="TerrorismQuote" message="tns:TerrorismQuoteSoapIn" />
      <wsdl:output name="TerrorismQuote" message="tns:TerrorismQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="requestDocument">
      <wsdl:input message="tns:requestDocumentSoapIn" />
      <wsdl:output message="tns:requestDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveQuoteInformation">
      <wsdl:input message="tns:RetrieveQuoteInformationSoapIn" />
      <wsdl:output message="tns:RetrieveQuoteInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retrieveClientInformation">
      <wsdl:input message="tns:retrieveClientInformationSoapIn" />
      <wsdl:output message="tns:retrieveClientInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="runCreateClient">
      <wsdl:input name="ComplexClient" message="tns:ComplexClientSoapIn" />
      <wsdl:output name="ComplexClient" message="tns:ComplexClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="runCreateClient">
      <wsdl:input name="SimpleClient" message="tns:SimpleClientSoapIn" />
      <wsdl:output name="SimpleClient" message="tns:SimpleClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="requestBind">
      <wsdl:input message="tns:requestBindSoapIn" />
      <wsdl:output message="tns:requestBindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="requestAlteredBind">
      <wsdl:input message="tns:requestAlteredBindSoapIn" />
      <wsdl:output message="tns:requestAlteredBindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validateQuoteEmail">
      <wsdl:input message="tns:validateQuoteEmailSoapIn" />
      <wsdl:output message="tns:validateQuoteEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validateSOF">
      <wsdl:input message="tns:validateSOFSoapIn" />
      <wsdl:output message="tns:validateSOFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSOF">
      <wsdl:input message="tns:getSOFSoapIn" />
      <wsdl:output message="tns:getSOFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkSLBroker">
      <wsdl:input message="tns:checkSLBrokerSoapIn" />
      <wsdl:output message="tns:checkSLBrokerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBaseExcess">
      <wsdl:input message="tns:getBaseExcessSoapIn" />
      <wsdl:output message="tns:getBaseExcessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkClientExists">
      <wsdl:input message="tns:checkClientExistsSoapIn" />
      <wsdl:output message="tns:checkClientExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUsersClients">
      <wsdl:input message="tns:getUsersClientsSoapIn" />
      <wsdl:output message="tns:getUsersClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteSoapIn" />
      <wsdl:output message="tns:deleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpeedyAppRefFromQuoteNumber">
      <wsdl:input message="tns:GetSpeedyAppRefFromQuoteNumberSoapIn" />
      <wsdl:output message="tns:GetSpeedyAppRefFromQuoteNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSpeedyAppRefFromQuoteNumber">
      <wsdl:input message="tns:SetSpeedyAppRefFromQuoteNumberSoapIn" />
      <wsdl:output message="tns:SetSpeedyAppRefFromQuoteNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarshSso">
      <wsdl:input message="tns:MarshSsoSoapIn" />
      <wsdl:output message="tns:MarshSsoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MTACancelPolicy">
      <wsdl:input message="tns:MTACancelPolicySoapIn" />
      <wsdl:output message="tns:MTACancelPolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MTAReinstatePolicy">
      <wsdl:input message="tns:MTAReinstatePolicySoapIn" />
      <wsdl:output message="tns:MTAReinstatePolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinesFromQuote">
      <wsdl:input message="tns:GetLinesFromQuoteSoapIn" />
      <wsdl:output message="tns:GetLinesFromQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientDetailsFromEditUrlGuid">
      <wsdl:input message="tns:GetClientDetailsFromEditUrlGuidSoapIn" />
      <wsdl:output message="tns:GetClientDetailsFromEditUrlGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEditClientUrlFromGuid">
      <wsdl:input message="tns:AddEditClientUrlFromGuidSoapIn" />
      <wsdl:output message="tns:AddEditClientUrlFromGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientDetailsFromEditUrlGuid">
      <wsdl:input message="tns:UpdateClientDetailsFromEditUrlGuidSoapIn" />
      <wsdl:output message="tns:UpdateClientDetailsFromEditUrlGuidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CFC_APISoap" type="tns:CFC_APISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="runClientUpdate">
      <soap:operation soapAction="http://api.cfcprograms.com/ComplexClientUpdate" style="document" />
      <wsdl:input name="ComplexClientUpdate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ComplexClientUpdate">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runClientUpdate">
      <soap:operation soapAction="http://api.cfcprograms.com/SimpleClientUpdate" style="document" />
      <wsdl:input name="SimpleClientUpdate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SimpleClientUpdate">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthentication">
      <soap:operation soapAction="http://api.cfcprograms.com/UserAuthentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createQuote">
      <soap:operation soapAction="http://api.cfcprograms.com/ComplexQuote" style="document" />
      <wsdl:input name="ComplexQuote">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ComplexQuote">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createComplexQuote">
      <soap:operation soapAction="http://api.cfcprograms.com/createComplexQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createQuote">
      <soap:operation soapAction="http://api.cfcprograms.com/OptionQuote" style="document" />
      <wsdl:input name="OptionQuote">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OptionQuote">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createQuote">
      <soap:operation soapAction="http://api.cfcprograms.com/TerrorismQuote" style="document" />
      <wsdl:input name="TerrorismQuote">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TerrorismQuote">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestDocument">
      <soap:operation soapAction="http://api.cfcprograms.com/requestDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveQuoteInformation">
      <soap:operation soapAction="http://api.cfcprograms.com/RetrieveQuoteInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveClientInformation">
      <soap:operation soapAction="http://api.cfcprograms.com/retrieveClientInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runCreateClient">
      <soap:operation soapAction="http://api.cfcprograms.com/ComplexClient" style="document" />
      <wsdl:input name="ComplexClient">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ComplexClient">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runCreateClient">
      <soap:operation soapAction="http://api.cfcprograms.com/SimpleClient" style="document" />
      <wsdl:input name="SimpleClient">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SimpleClient">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestBind">
      <soap:operation soapAction="http://api.cfcprograms.com/requestBind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestAlteredBind">
      <soap:operation soapAction="http://api.cfcprograms.com/requestAlteredBind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateQuoteEmail">
      <soap:operation soapAction="http://api.cfcprograms.com/validateQuoteEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateSOF">
      <soap:operation soapAction="http://api.cfcprograms.com/validateSOF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOF">
      <soap:operation soapAction="http://api.cfcprograms.com/getSOF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkSLBroker">
      <soap:operation soapAction="http://api.cfcprograms.com/checkSLBroker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBaseExcess">
      <soap:operation soapAction="http://api.cfcprograms.com/getBaseExcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkClientExists">
      <soap:operation soapAction="http://api.cfcprograms.com/checkClientExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersClients">
      <soap:operation soapAction="http://api.cfcprograms.com/getUsersClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://api.cfcprograms.com/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeedyAppRefFromQuoteNumber">
      <soap:operation soapAction="http://api.cfcprograms.com/GetSpeedyAppRefFromQuoteNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSpeedyAppRefFromQuoteNumber">
      <soap:operation soapAction="http://api.cfcprograms.com/SetSpeedyAppRefFromQuoteNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarshSso">
      <soap:operation soapAction="http://api.cfcprograms.com/MarshSso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MTACancelPolicy">
      <soap:operation soapAction="http://api.cfcprograms.com/MTACancelPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MTAReinstatePolicy">
      <soap:operation soapAction="http://api.cfcprograms.com/MTAReinstatePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinesFromQuote">
      <soap:operation soapAction="http://api.cfcprograms.com/GetLinesFromQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientDetailsFromEditUrlGuid">
      <soap:operation soapAction="http://api.cfcprograms.com/GetClientDetailsFromEditUrlGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditClientUrlFromGuid">
      <soap:operation soapAction="http://api.cfcprograms.com/AddEditClientUrlFromGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientDetailsFromEditUrlGuid">
      <soap:operation soapAction="http://api.cfcprograms.com/UpdateClientDetailsFromEditUrlGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CFC_APISoap12" type="tns:CFC_APISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="runClientUpdate">
      <soap12:operation soapAction="http://api.cfcprograms.com/ComplexClientUpdate" style="document" />
      <wsdl:input name="ComplexClientUpdate">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ComplexClientUpdate">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runClientUpdate">
      <soap12:operation soapAction="http://api.cfcprograms.com/SimpleClientUpdate" style="document" />
      <wsdl:input name="SimpleClientUpdate">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SimpleClientUpdate">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAuthentication">
      <soap12:operation soapAction="http://api.cfcprograms.com/UserAuthentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createQuote">
      <soap12:operation soapAction="http://api.cfcprograms.com/ComplexQuote" style="document" />
      <wsdl:input name="ComplexQuote">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ComplexQuote">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createComplexQuote">
      <soap12:operation soapAction="http://api.cfcprograms.com/createComplexQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createQuote">
      <soap12:operation soapAction="http://api.cfcprograms.com/OptionQuote" style="document" />
      <wsdl:input name="OptionQuote">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OptionQuote">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createQuote">
      <soap12:operation soapAction="http://api.cfcprograms.com/TerrorismQuote" style="document" />
      <wsdl:input name="TerrorismQuote">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TerrorismQuote">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestDocument">
      <soap12:operation soapAction="http://api.cfcprograms.com/requestDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveQuoteInformation">
      <soap12:operation soapAction="http://api.cfcprograms.com/RetrieveQuoteInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveClientInformation">
      <soap12:operation soapAction="http://api.cfcprograms.com/retrieveClientInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runCreateClient">
      <soap12:operation soapAction="http://api.cfcprograms.com/ComplexClient" style="document" />
      <wsdl:input name="ComplexClient">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ComplexClient">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runCreateClient">
      <soap12:operation soapAction="http://api.cfcprograms.com/SimpleClient" style="document" />
      <wsdl:input name="SimpleClient">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SimpleClient">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestBind">
      <soap12:operation soapAction="http://api.cfcprograms.com/requestBind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestAlteredBind">
      <soap12:operation soapAction="http://api.cfcprograms.com/requestAlteredBind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateQuoteEmail">
      <soap12:operation soapAction="http://api.cfcprograms.com/validateQuoteEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateSOF">
      <soap12:operation soapAction="http://api.cfcprograms.com/validateSOF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSOF">
      <soap12:operation soapAction="http://api.cfcprograms.com/getSOF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkSLBroker">
      <soap12:operation soapAction="http://api.cfcprograms.com/checkSLBroker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBaseExcess">
      <soap12:operation soapAction="http://api.cfcprograms.com/getBaseExcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkClientExists">
      <soap12:operation soapAction="http://api.cfcprograms.com/checkClientExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersClients">
      <soap12:operation soapAction="http://api.cfcprograms.com/getUsersClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="http://api.cfcprograms.com/delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeedyAppRefFromQuoteNumber">
      <soap12:operation soapAction="http://api.cfcprograms.com/GetSpeedyAppRefFromQuoteNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSpeedyAppRefFromQuoteNumber">
      <soap12:operation soapAction="http://api.cfcprograms.com/SetSpeedyAppRefFromQuoteNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarshSso">
      <soap12:operation soapAction="http://api.cfcprograms.com/MarshSso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MTACancelPolicy">
      <soap12:operation soapAction="http://api.cfcprograms.com/MTACancelPolicy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MTAReinstatePolicy">
      <soap12:operation soapAction="http://api.cfcprograms.com/MTAReinstatePolicy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinesFromQuote">
      <soap12:operation soapAction="http://api.cfcprograms.com/GetLinesFromQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientDetailsFromEditUrlGuid">
      <soap12:operation soapAction="http://api.cfcprograms.com/GetClientDetailsFromEditUrlGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditClientUrlFromGuid">
      <soap12:operation soapAction="http://api.cfcprograms.com/AddEditClientUrlFromGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientDetailsFromEditUrlGuid">
      <soap12:operation soapAction="http://api.cfcprograms.com/UpdateClientDetailsFromEditUrlGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CFC_API">
    <wsdl:port name="CFC_APISoap" binding="tns:CFC_APISoap">
      <soap:address location="http://api.cfcprograms.com/cfc_api.asmx" />
    </wsdl:port>
    <wsdl:port name="CFC_APISoap12" binding="tns:CFC_APISoap12">
      <soap12:address location="http://api.cfcprograms.com/cfc_api.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>