vista-biz/vista-biz-yardi-interface/src/main/resources/YsiTranAll.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Chris C. (Yardi Systems) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AccountDescription" type="xs:string"/>
	<xs:element name="AccountId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Amount" type="xs:decimal"/>
	<xs:element name="AmountPaid" type="xs:decimal"/>
	<xs:element name="ApAccountId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ArAccountId" type="xs:string"/>
	<xs:element name="BankId"/>
	<xs:element name="BaseCurrencyId" type="xs:string"/>
	<xs:element name="BatchId" type="xs:string"/>
	<xs:element name="Book" type="xs:string"/>
	<xs:element name="CashAccountId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>	
	<xs:element name="CategoryId" type="xs:string"/>
	<xs:element name="ChargeCodeId" type="xs:string"/>
	<xs:element name="ChargeId"/>
	<xs:element name="CheckDate" type="xs:dateTime"/>
	<xs:element name="CheckId"/>
	<xs:element name="CheckNumber" type="xs:string"/>
	<xs:element name="CheckPostMonth" type="xs:dateTime"/>
	<xs:element name="CheckRunDate" type="xs:dateTime"/>
	<xs:element name="ContractId" type="xs:string"/>
	<xs:element name="CostCode" type="xs:string"/>
	<xs:element name="Custom1" type="xs:string"/>
	<xs:element name="Custom2" type="xs:string"/>
	<xs:element name="Custom3" type="xs:string"/>
	<xs:element name="Custom4" type="xs:string"/>
	<xs:element name="Custom5" type="xs:string"/>
	<xs:element name="Custom6" type="xs:string"/>
	<xs:element name="Custom7" type="xs:string"/>
	<xs:element name="Custom8" type="xs:string"/>
	<xs:element name="Custom9" type="xs:string"/>
	<xs:element name="Custom10" type="xs:string"/>
	<xs:element name="Date" type="xs:dateTime"/>
	<xs:element name="DateCreated" type="xs:dateTime"/>
	<xs:element name="DateLastModified" type="xs:dateTime"/>
	<xs:element name="Debit" type="xs:decimal"/>
	<xs:element name="DepositDate" type="xs:date"/>
	<xs:element name="DepositMemo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="512"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DepositNumber" type="xs:string"/>
	<xs:element name="DetailField1" type="xs:string"/>
	<xs:element name="DetailField2" type="xs:string"/>
	<xs:element name="DetailField3" type="xs:string"/>
	<xs:element name="DetailField4" type="xs:string"/>
	<xs:element name="DetailField5" type="xs:string"/>
	<xs:element name="DetailField6" type="xs:string"/>
	<xs:element name="DetailField7" type="xs:string"/>
	<xs:element name="DetailField8" type="xs:string"/>
	<xs:element name="DiscountAmount" type="xs:decimal"/>
	<xs:element name="DiscountDate" type="xs:dateTime"/>
	<xs:element name="DiscountPercent" type="xs:decimal"/>
	<xs:element name="DisplayId" type="xs:string"/>
	<xs:element name="DisplayIdWithPrefix" type="xs:string"/>
	<xs:element name="DocumentSequenceNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation>International; does not reference trans.uRef.  References trans.sInvNum</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DueDate" type="xs:dateTime"/>
	<xs:element name="EventType" type="xs:string"/>
	<xs:element name="EventDate" type="xs:dateTime"/>
	<xs:element name="ExchangeRate" type="xs:double"/>
	<xs:element name="ExchangeRateDate" type="xs:dateTime"/>
	<xs:element name="ExemptFrom1099" type="xs:boolean"/>
	<xs:element name="FromDate" type="xs:dateTime"/>
	<xs:element name="Id" type="xs:integer"/>
	<xs:element name="InterfaceVendor" type="xs:string"/>
	<xs:element name="InvoiceDate" type="xs:dateTime"/>
	<xs:element name="InvoiceNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="512"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IsAdjustment" type="xs:boolean"/>
	<xs:element name="IsCash" type="xs:boolean"/>
	<xs:element name="IsConsolidateChecks" type="xs:boolean"/>
	<xs:element name="IsCreditMemo" type="xs:boolean"/>
	<xs:element name="IsIntercompany" type="xs:boolean"/>
	<xs:element name="IsInvoiceReceived" type="xs:boolean"/>
	<xs:element name="IsNotReconciled"/>
	<xs:element name="IsOnHold" type="xs:boolean"/>
	<xs:element name="IsOpen" type="xs:boolean"/>
	<xs:element name="IsRetention" type="xs:boolean"/>
	<xs:element name="IsUnpaid" type="xs:boolean"/>
	<xs:element name="JeDate" type="xs:dateTime"/>
	<xs:element name="JobId" type="xs:string"/>
	<xs:element name="JobCategory" type="xs:string"/>
	<xs:element name="LegalEntityId" type="xs:string"/>
	<xs:element name="MtdBalance" type="xs:decimal"/>
	<xs:element name="MtdBudget" type="xs:decimal"/>
	<xs:element name="NormalBalance" type="xs:string"/>
	<xs:element name="Notes">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="512"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OriginalReceiptDate" type="xs:dateTime"/>
	<xs:element name="PayableId" type="xs:integer"/>
	<xs:element name="PayeeId"/>
	<xs:element name="PayerName" type="xs:string"/>
	<xs:element name="PaymentType">
		<xs:annotation>
			<xs:documentation>U.S. Domestic Payment Type.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ACH"/>
				<xs:enumeration value="Cash"/>
				<xs:enumeration value="Check"/>
				<xs:enumeration value="Credit Card"/>
				<xs:enumeration value="Money Order"/>
				<xs:enumeration value="Other"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InternationalPaymentType">
		<xs:annotation>
			<xs:documentation>International Payment Type (Calculated differently)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PostMonth" type="xs:date"/>
	<xs:element name="PropertyId" type="xs:string"/>
	<xs:element name="Reference" type="xs:string"/>
	<xs:element name="ReportType" type="xs:string"/>
	<xs:element name="Responsible" type="xs:string"/>
	<xs:element name="RetentionAmount" type="xs:decimal"/>
	<xs:element name="ReturnType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Reverse"/>
				<xs:enumeration value="NSF"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ReverseeId">
		<xs:annotation>
			<xs:documentation>Unique Yardi Id to locate original receipt.  If not available, use PersonId, TotalAmount, OriginalDate, PropertyId, and CheckNumber.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReverseNextMonth" type="xs:boolean"/>
	<xs:element name="Segment1" type="xs:string"/>
	<xs:element name="Segment2" type="xs:string"/>
	<xs:element name="Segment3" type="xs:string"/>
	<xs:element name="Segment4" type="xs:string"/>
	<xs:element name="Source" type="xs:string"/>
	<xs:element name="TaxAmount1" type="xs:decimal"/>
	<xs:element name="TaxAmount2" type="xs:decimal"/>
	<xs:element name="TaxPointDate" type="xs:dateTime"/>
	<xs:element name="Text" type="xs:string"/>
	<xs:element name="ToDate" type="xs:dateTime"/>
	<xs:element name="TotalAmount" type="xs:decimal"/>
	<xs:element name="TranAmount" type="xs:decimal"/>
	<xs:element name="TranCurrencyId" type="xs:string"/>
	<xs:element name="UnitId" type="xs:string"/>
	<xs:element name="UserDefinedFields_1" type="xs:string"/>
	<xs:element name="UserDefinedFields_2" type="xs:string"/>
	<xs:element name="UserDefinedFields_3" type="xs:string"/>
	<xs:element name="UserDefinedFields_4" type="xs:string"/>
	<xs:element name="UserDefinedFields_5" type="xs:string"/>
	<xs:element name="UserDefinedFields_6" type="xs:string"/>
	<xs:element name="UserDefinedFields_7" type="xs:string"/>
	<xs:element name="UserDefinedFields_8" type="xs:string"/>
	<xs:element name="UserDefinedFields_9" type="xs:string"/>
	<xs:element name="UserDefinedFields_10" type="xs:string"/>
	<xs:element name="VATRateId" type="xs:string"/>
	<xs:element name="VATTranTypeId" type="xs:string"/>
	<xs:element name="YtdBalance" type="xs:decimal"/>
	<xs:element name="YtdBudget" type="xs:decimal"/>
	<xs:complexType name="CheckType">
		<xs:sequence>
			<xs:element ref="BatchId" minOccurs="0"/>
			<xs:element ref="BankId"/>
			<xs:element ref="CheckNumber"/>
			<xs:element ref="PayeeId"/>
			<xs:element ref="PostMonth" minOccurs="0"/>
			<xs:element ref="CheckRunDate"/>
			<xs:element ref="TotalAmount"/>
			<xs:element ref="IsNotReconciled"/>
			<xs:element ref="Notes" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_1" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_2" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_3" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_4" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_5" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_6" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_7" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_8" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_9" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_10" minOccurs="0"/>
			<xs:element ref="TranAmount" minOccurs="0"/>
			<xs:element ref="TranCurrencyId" minOccurs="0"/>
			<xs:element ref="ExchangeRate" minOccurs="0"/>
			<xs:element ref="ExchangeRateDate" minOccurs="0"/>
			<xs:element name="Details" type="CheckDetailsType"/>
			<xs:element name="Memos" type="MemosType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CheckDetailType">
		<xs:sequence>
			<xs:element ref="PayableId" minOccurs="0"/>
			<xs:element ref="InvoiceNumber" minOccurs="0"/>
			<xs:element ref="Amount"/>
			<xs:element ref="AccountId"/>
			<xs:element ref="CashAccountId" minOccurs="0"/>
			<xs:element ref="PropertyId" minOccurs="0"/>
			<xs:element ref="Notes" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CheckDetailsType">
		<xs:sequence>
			<xs:element name="Detail" type="CheckDetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetailType">
		<xs:annotation>
			<xs:documentation>Not used, split between different Detail types</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Amount"/>
			<xs:element ref="AccountId"/>
			<xs:element ref="ArAccountId" minOccurs="0"/>
			<xs:element ref="PropertyId" minOccurs="0"/>
			<xs:element ref="Notes" minOccurs="0"/>
			<xs:element ref="CheckNumber" minOccurs="0"/>
			<xs:element ref="CheckDate" minOccurs="0"/>
			<xs:element ref="CheckPostMonth" minOccurs="0"/>
			<xs:element ref="JobId" minOccurs="0"/>
			<xs:element ref="CategoryId" minOccurs="0"/>
			<xs:element ref="ContractId" minOccurs="0"/>
			<xs:element ref="IsRetention" minOccurs="0"/>
			<xs:element ref="RetentionAmount" minOccurs="0"/>
			<xs:element ref="CostCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JeDetailType">
		<xs:sequence>
			<xs:element ref="Amount"/>
			<xs:element ref="AccountId"/>
			<xs:element ref="PropertyId"/>
			<xs:element ref="Notes" minOccurs="0"/>
			<xs:element ref="JobId" minOccurs="0"/>
			<xs:element ref="CategoryId" minOccurs="0"/>
			<xs:element ref="ContractId" minOccurs="0"/>
			<xs:element ref="CostCode" minOccurs="0"/>
			<xs:element ref="Segment1" minOccurs="0"/>
			<xs:element ref="Segment2" minOccurs="0"/>
			<xs:element ref="Segment3" minOccurs="0"/>
			<xs:element ref="Segment4" minOccurs="0"/>
			<xs:element ref="TranAmount" minOccurs="0"/>
			<xs:element ref="TaxAmount1" minOccurs="0"/>
			<xs:element ref="TaxAmount2" minOccurs="0"/>
			<xs:element ref="VATTranTypeId" minOccurs="0"/>
			<xs:element ref="VATRateId" minOccurs="0"/>
			<xs:element ref="DetailField1" minOccurs="0"/>
			<xs:element ref="DetailField2" minOccurs="0"/>
			<xs:element ref="DetailField3" minOccurs="0"/>
			<xs:element ref="DetailField4" minOccurs="0"/>
			<xs:element ref="DetailField5" minOccurs="0"/>
			<xs:element ref="DetailField6" minOccurs="0"/>
			<xs:element ref="DetailField7" minOccurs="0"/>
			<xs:element ref="DetailField8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MemoType">
		<xs:sequence>
			<xs:element ref="EventType"/>
			<xs:element ref="EventDate"/>
			<xs:element ref="Responsible"/>
			<xs:element ref="Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetailsType">
		<xs:sequence>
			<xs:element name="Detail" type="DetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JeDetailsType">
		<xs:sequence>
			<xs:element name="Detail" type="JeDetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MemosType">
		<xs:sequence>
			<xs:element name="Memo" type="MemoType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayableType">
		<xs:sequence>
			<xs:element ref="BatchId" minOccurs="0"/>
			<xs:element ref="Id" minOccurs="0"/>
			<xs:element ref="PersonId"/>
			<xs:element ref="InvoiceNumber"/>
			<xs:element ref="CashAccountId" minOccurs="0"/>
			<xs:element ref="ApAccountId" minOccurs="0"/>
			<xs:element ref="PostMonth" minOccurs="0"/>
			<xs:element ref="InvoiceDate"/>
			<xs:element ref="DueDate" minOccurs="0"/>
			<xs:element ref="DiscountDate" minOccurs="0"/>
			<xs:element ref="DiscountPercent" minOccurs="0"/>
			<xs:element ref="DiscountAmount" minOccurs="0"/>
			<xs:element ref="IsUnpaid" minOccurs="0"/>
			<xs:element ref="TotalAmount"/>
			<xs:element ref="AmountPaid" minOccurs="0"/>
			<xs:element ref="Notes" minOccurs="0"/>
			<xs:element ref="IsCreditMemo" minOccurs="0"/>
			<xs:element ref="IsAdjustment" minOccurs="0"/>
			<xs:element ref="IsConsolidateChecks" minOccurs="0"/>
			<xs:element ref="ExemptFrom1099" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_1" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_2" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_3" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_4" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_5" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_6" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_7" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_8" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_9" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_10" minOccurs="0"/>
			<xs:element ref="ContractId" minOccurs="0"/>
			<xs:element ref="LegalEntityId" minOccurs="0"/>
			<xs:element ref="BaseCurrencyId" minOccurs="0"/>
			<xs:element ref="TranAmount" minOccurs="0"/>
			<xs:element ref="TranCurrencyId" minOccurs="0"/>
			<xs:element ref="ExchangeRate" minOccurs="0"/>
			<xs:element ref="ExchangeRateDate" minOccurs="0"/>
			<xs:element ref="FromDate" minOccurs="0"/>
			<xs:element ref="ToDate" minOccurs="0"/>
			<xs:element ref="TaxPointDate" minOccurs="0"/>
			<xs:element ref="DocumentSequenceNumber" minOccurs="0"/>
			<xs:element ref="IsInvoiceReceived" minOccurs="0"/>
			<xs:element name="Details" type="PayableDetailsType"/>
			<xs:element name="Memos" type="MemosType" minOccurs="0"/>
			<xs:element name="Custom" type="CustomType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayableDetailsType">
		<xs:sequence>
			<xs:element name="Detail" type="PayableDetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayableDetailType">
		<xs:sequence>
			<xs:element ref="Amount"/>
			<xs:element ref="AccountId"/>
			<xs:element ref="PropertyId"/>
			<xs:element ref="Notes" minOccurs="0"/>
			<xs:element ref="CheckNumber" minOccurs="0"/>
			<xs:element ref="CheckDate" minOccurs="0"/>
			<xs:element ref="CheckPostMonth" minOccurs="0"/>
			<xs:element ref="JobId" minOccurs="0"/>
			<xs:element ref="CategoryId" minOccurs="0"/>
			<xs:element ref="ContractId" minOccurs="0"/>
			<xs:element ref="CostCode" minOccurs="0"/>
			<xs:element ref="IsRetention" minOccurs="0"/>
			<xs:element ref="RetentionAmount" minOccurs="0"/>
			<xs:element ref="Segment1" minOccurs="0"/>
			<xs:element ref="Segment2" minOccurs="0"/>
			<xs:element ref="Segment3" minOccurs="0"/>
			<xs:element ref="Segment4" minOccurs="0"/>
			<xs:element ref="TranAmount" minOccurs="0"/>
			<xs:element ref="TaxAmount1" minOccurs="0"/>
			<xs:element ref="TaxAmount2" minOccurs="0"/>
			<xs:element ref="VATTranTypeId" minOccurs="0"/>
			<xs:element ref="VATRateId" minOccurs="0"/>
			<xs:element ref="DetailField1" minOccurs="0"/>
			<xs:element ref="DetailField2" minOccurs="0"/>
			<xs:element ref="DetailField3" minOccurs="0"/>
			<xs:element ref="DetailField4" minOccurs="0"/>
			<xs:element ref="DetailField5" minOccurs="0"/>
			<xs:element ref="DetailField6" minOccurs="0"/>
			<xs:element ref="DetailField7" minOccurs="0"/>
			<xs:element ref="DetailField8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceiptType">
		<xs:sequence>
			<xs:element ref="BatchId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The BatchId is ignored when inside a Deposit node.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Id" minOccurs="0"/>
			<xs:element ref="CashAccountId" minOccurs="0"/>
			<xs:element ref="PersonId" minOccurs="0"/>
			<xs:element ref="TotalAmount"/>
			<xs:element ref="IsCash" minOccurs="0"/>
			<xs:element ref="CheckNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Should be unique; good locator for receipt to reverse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Date"/>
			<xs:element ref="Notes" minOccurs="0"/>
			<xs:element ref="PayerName" minOccurs="0"/>
			<xs:element ref="PaymentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ACH. Cash, Credit Card, Check, Money Order</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="InternationalPaymentType" minOccurs="0"/>
			<xs:element ref="PostMonth" minOccurs="0"/>
			<xs:element ref="PropertyId"/>
			<xs:element ref="UnitId" minOccurs="0"/>
			<xs:element ref="ReturnType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NSF, Reverse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ReverseeId" minOccurs="0"/>
			<xs:element ref="OriginalReceiptDate" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_1" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_2" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_3" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_4" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_5" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_6" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_7" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_8" minOccurs="0"/>
			<xs:element ref="DateCreated" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ReadOnly; export only</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="DateLastModified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ReadOnly; export only</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="LegalEntityId" minOccurs="0"/>
			<xs:element ref="BaseCurrencyId" minOccurs="0"/>
			<xs:element ref="TranAmount" minOccurs="0"/>
			<xs:element ref="TranCurrencyId" minOccurs="0"/>
			<xs:element ref="ExchangeRate" minOccurs="0"/>
			<xs:element ref="ExchangeRateDate" minOccurs="0"/>
			<xs:element ref="DocumentSequenceNumber" minOccurs="0"/>
			<xs:element name="Details" type="ReceiptDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceiptDetailsType">
		<xs:sequence>
			<xs:element name="Detail" type="ReceiptDetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceiptDetailType">
		<xs:sequence>
			<xs:element ref="Amount"/>
			<xs:element ref="AccountId"/>
			<xs:element ref="ArAccountId" minOccurs="0"/>
			<xs:element ref="ChargeId" minOccurs="0"/>
			<xs:element ref="PropertyId" minOccurs="0"/>
			<xs:element ref="JobId" minOccurs="0"/>
			<xs:element ref="CategoryId" minOccurs="0"/>
			<xs:element ref="ContractId" minOccurs="0"/>
			<xs:element ref="CostCode" minOccurs="0"/>
			<xs:element ref="Segment1" minOccurs="0"/>
			<xs:element ref="Segment2" minOccurs="0"/>
			<xs:element ref="Segment3" minOccurs="0"/>
			<xs:element ref="Segment4" minOccurs="0"/>
			<xs:element ref="TranAmount" minOccurs="0"/>
			<xs:element ref="TaxAmount1" minOccurs="0"/>
			<xs:element ref="TaxAmount2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChargeType">
		<xs:sequence>
			<xs:element ref="BatchId" minOccurs="0"/>
			<xs:element ref="Id" minOccurs="0"/>
			<xs:element ref="Amount"/>
			<xs:element ref="AccountId" minOccurs="0"/>
			<xs:element ref="ArAccountId" minOccurs="0"/>
			<xs:element ref="AmountPaid" minOccurs="0"/>
			<xs:element ref="ChargeCodeId"/>
			<xs:element ref="Date"/>
			<xs:element ref="DisplayId" minOccurs="0"/>
			<xs:element ref="DisplayIdWithPrefix" minOccurs="0"/>
			<xs:element ref="IsOnHold" minOccurs="0"/>
			<xs:element ref="IsOpen" minOccurs="0"/>
			<xs:element ref="Notes" minOccurs="0"/>
			<xs:element ref="PersonId"/>
			<xs:element ref="PostMonth" minOccurs="0"/>
			<xs:element ref="PropertyId"/>
			<xs:element ref="Reference" minOccurs="0"/>
			<xs:element ref="UnitId" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_1" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_2" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_3" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_4" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_5" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_6" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_7" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_8" minOccurs="0"/>
			<xs:element ref="LegalEntityId" minOccurs="0"/>
			<xs:element ref="BaseCurrencyId" minOccurs="0"/>
			<xs:element ref="TranAmount" minOccurs="0"/>
			<xs:element ref="TranCurrencyId" minOccurs="0"/>
			<xs:element ref="ExchangeRate" minOccurs="0"/>
			<xs:element ref="ExchangeRateDate" minOccurs="0"/>
			<xs:element ref="TaxAmount1" minOccurs="0"/>
			<xs:element ref="TaxAmount2" minOccurs="0"/>
			<xs:element ref="FromDate" minOccurs="0"/>
			<xs:element ref="ToDate" minOccurs="0"/>
			<xs:element ref="TaxPointDate" minOccurs="0"/>
			<xs:element ref="VATTranTypeId" minOccurs="0"/>
			<xs:element ref="VATRateId" minOccurs="0"/>
			<xs:element ref="DocumentSequenceNumber" minOccurs="0"/>
			<xs:element ref="InternationalPaymentType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JournalType">
		<xs:sequence>
			<xs:element ref="BatchId" minOccurs="0"/>
			<xs:element ref="PersonId" minOccurs="0"/>
			<xs:element ref="JeDate"/>
			<xs:element ref="PostMonth"/>
			<xs:element ref="Reference"/>
			<xs:element ref="Source"/>
			<xs:element ref="Book"/>
			<xs:element ref="Notes" minOccurs="0"/>
			<xs:element ref="ReverseNextMonth" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_1" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_2" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_3" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_4" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_5" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_6" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_7" minOccurs="0"/>
			<xs:element ref="UserDefinedFields_8" minOccurs="0"/>
			<xs:element ref="LegalEntityId" minOccurs="0"/>
			<xs:element ref="BaseCurrencyId" minOccurs="0"/>
			<xs:element ref="TranAmount" minOccurs="0"/>
			<xs:element ref="TranCurrencyId" minOccurs="0"/>
			<xs:element ref="ExchangeRate" minOccurs="0"/>
			<xs:element ref="ExchangeRateDate" minOccurs="0"/>
			<xs:element ref="TaxPointDate" minOccurs="0"/>
			<xs:element ref="DocumentSequenceNumber" minOccurs="0"/>
			<xs:element ref="IsIntercompany" minOccurs="0"/>
			<xs:element name="Details" type="JeDetailsType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomType">
		<xs:sequence>
			<xs:element ref="InterfaceVendor" minOccurs="0"/>
			<xs:element ref="Custom1" minOccurs="0"/>
			<xs:element ref="Custom2" minOccurs="0"/>
			<xs:element ref="Custom3" minOccurs="0"/>
			<xs:element ref="Custom4" minOccurs="0"/>
			<xs:element ref="Custom5" minOccurs="0"/>
			<xs:element ref="Custom6" minOccurs="0"/>
			<xs:element ref="Custom7" minOccurs="0"/>
			<xs:element ref="Custom8" minOccurs="0"/>
			<xs:element ref="Custom9" minOccurs="0"/>
			<xs:element ref="Custom10" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DepositType">
		<xs:sequence>
			<xs:element ref="DepositDate"/>
			<xs:element ref="DepositMemo" minOccurs="0"/>
			<xs:element ref="DepositNumber" minOccurs="0"/>
			<xs:element name="Receipt" type="ReceiptType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BalanceType">
		<xs:sequence>
			<xs:element ref="AccountId"/>
			<xs:element ref="AccountDescription"/>
			<xs:element ref="ReportType"/>
			<xs:element ref="NormalBalance"/>
			<xs:element ref="MtdBalance"/>
			<xs:element ref="YtdBalance"/>
			<xs:element ref="MtdBudget"/>
			<xs:element ref="YtdBudget"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrialBalanceType">
		<xs:sequence>
			<xs:element ref="PostMonth"/>
			<xs:element ref="PropertyId"/>
			<xs:element ref="Book"/>
			<xs:element name="Balances">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Balance" type="BalanceType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="YsiTran">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Payables" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Payable" type="PayableType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Checks" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Check" type="CheckType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Charges" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Charge" type="ChargeType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:choice minOccurs="0">
					<xs:element name="Receipts" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Receipt" type="ReceiptType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Deposit" type="DepositType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:element name="Journals" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Journal" type="JournalType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
