vista-yardi/vista-yardi-voyager-wsdl/src/main/resources/maintenance/ItfServiceRequests.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/YSI.Interfaces.WebServices/ItfServiceRequests" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/YSI.Interfaces.WebServices/ItfServiceRequests" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/YSI.Interfaces.WebServices/ItfServiceRequests">
      <s:element name="GetPropertyConfigurations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPropertyConfigurationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPropertyConfigurationsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResident_Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YardiPropertyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnitCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResidentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResident_SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResident_SearchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceRequest_Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YardiPropertyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnitCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResidentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OpenOrClosed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceRequest_SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceRequest_SearchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrEditServiceRequests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YardiPropertyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceRequestXml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOrEditServiceRequestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateOrEditServiceRequestsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomValuesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceRequests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YardiPropertyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceRequestIdArray" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServiceRequestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceRequestsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionNumber">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPropertyConfigurationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPropertyConfigurations" />
  </wsdl:message>
  <wsdl:message name="GetPropertyConfigurationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPropertyConfigurationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetResident_SearchSoapIn">
    <wsdl:part name="parameters" element="tns:GetResident_Search" />
  </wsdl:message>
  <wsdl:message name="GetResident_SearchSoapOut">
    <wsdl:part name="parameters" element="tns:GetResident_SearchResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceRequest_SearchSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceRequest_Search" />
  </wsdl:message>
  <wsdl:message name="GetServiceRequest_SearchSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceRequest_SearchResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOrEditServiceRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOrEditServiceRequests" />
  </wsdl:message>
  <wsdl:message name="CreateOrEditServiceRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOrEditServiceRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomValuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomValues" />
  </wsdl:message>
  <wsdl:message name="GetCustomValuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomValuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceRequests" />
  </wsdl:message>
  <wsdl:message name="GetServiceRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersionNumber" />
  </wsdl:message>
  <wsdl:message name="GetVersionNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionNumberResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="ItfServiceRequestsSoap">
    <wsdl:operation name="GetPropertyConfigurations">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Allows the export of a list of properties from the Yardi Voyager database that are associated with an agency for Service Requests. Can be used thru 1/1/13 without an InterfaceLicense.</documentation>
      <wsdl:input message="tns:GetPropertyConfigurationsSoapIn" />
      <wsdl:output message="tns:GetPropertyConfigurationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResident_Search">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Searches for residents given the search criteria determined by the web method parameters. This method will allows a search for a resident based on any of the following: 1)Unit Code 2)Resident Code 3)Resident Name 4)Phone number 5)Address. Can be used thru 1/1/13 without an InterfaceLicense.</documentation>
      <wsdl:input message="tns:GetResident_SearchSoapIn" />
      <wsdl:output message="tns:GetResident_SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceRequest_Search">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Searches for work orders given the search criteria determined by the web method parameters. This method will allow a service request search based on any of the following: 1)Unit Code 2)Resident Code 3)Resident Name 4)Unit Address 5)Resident Phone Number 6)Current Status 7)Open Or Closed 8)Date Last Modified From Date(MM/DD/YYYY) 9)Date Last Modified To Date(MM/DD/YYYY). Can be used thru 1/1/13 without an InterfaceLicense.</documentation>
      <wsdl:input message="tns:GetServiceRequest_SearchSoapIn" />
      <wsdl:output message="tns:GetServiceRequest_SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrEditServiceRequests">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Accepts an xml file of work order information, creates or updates work orders based on the work order ID, and returns information on those work orders in the response xml. Can be used thru 1/1/13 without an InterfaceLicense.</documentation>
      <wsdl:input message="tns:CreateOrEditServiceRequestsSoapIn" />
      <wsdl:output message="tns:CreateOrEditServiceRequestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomValues">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns client specified custom values in the response xml. Can be used thru 1/1/13 without an InterfaceLicense.</documentation>
      <wsdl:input message="tns:GetCustomValuesSoapIn" />
      <wsdl:output message="tns:GetCustomValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceRequests">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Accepts an array of WorkOrderIds (seperated by commas) and returns information regarding those work orders in the response xml. Can be used thru 1/1/13 without an InterfaceLicense.</documentation>
      <wsdl:input message="tns:GetServiceRequestsSoapIn" />
      <wsdl:output message="tns:GetServiceRequestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionNumber">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns current version number of Interfaces concatenated with Service Requests Plugin version (XX_Y)</documentation>
      <wsdl:input message="tns:GetVersionNumberSoapIn" />
      <wsdl:output message="tns:GetVersionNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItfServiceRequestsSoap" type="tns:ItfServiceRequestsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetPropertyConfigurations">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfServiceRequests/GetPropertyConfigurations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResident_Search">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfServiceRequests/GetResident_Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceRequest_Search">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfServiceRequests/GetServiceRequest_Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrEditServiceRequests">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfServiceRequests/CreateOrEditServiceRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomValues">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfServiceRequests/GetCustomValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceRequests">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfServiceRequests/GetServiceRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionNumber">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfServiceRequests/GetVersionNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ItfServiceRequests/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItfServiceRequests">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="ItfServiceRequestsSoap" binding="tns:ItfServiceRequestsSoap">
      <soap:address location="http://www.iyardiasp.com/8223thirddev/webservices/ItfServiceRequests.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>