vista-yardi/vista-yardi-interface-wsdl/src/main/resources/ils/Itf_MITS_PropertyMarketingILS2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:MITS="http://my-company.com/namespace" elementFormDefault="qualified" attributeFormDefault="unqualified" >
	<xs:import namespace="http://my-company.com/namespace" schemaLocation="./Itf_MITS_CoreData2.0.xsd"/>
	<xs:element name="PhysicalProperty">
		<xs:annotation>
			<xs:documentation>MITS Property v2.0 Final DRAFT updated 1/23/07</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Management" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Id</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PropertyContacts" type="MITS:PropertyContactsType">
								<xs:annotation>
									<xs:documentation>MITS PropertyContacts Core Data module version 2.0</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Id, Active</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Id" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Property" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>managementID</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PropertyID" type="MITS:PropertyIDType">
								<xs:annotation>
									<xs:documentation>MITS PropertyID Core Data Module version 2.0</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="General_ID" type="GeneralIDType" minOccurs="0" maxOccurs="10"/>
							<xs:element name="ILS_Identification">
								<xs:annotation>
									<xs:documentation>Type, RentalType</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Latitude" type="xs:decimal" minOccurs="0"/>
										<xs:element name="Longitude" type="xs:decimal" minOccurs="0"/>
										<xs:element name="DaylightSaving" type="xs:boolean" minOccurs="0"/>
										<xs:element name="TimeZone" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LastUpdate" minOccurs="0">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Type" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Apartment"/>
												<xs:enumeration value="Condo"/>
												<xs:enumeration value="Duplex"/>
												<xs:enumeration value="Triplex"/>
												<xs:enumeration value="4plex"/>
												<xs:enumeration value="Senior"/>
												<xs:enumeration value="Assisted Living"/>
												<xs:enumeration value="Subsidized"/>
												<xs:enumeration value="High Rise"/>
												<xs:enumeration value="Garden Style"/>
												<xs:enumeration value="Mid Rise"/>
												<xs:enumeration value="Mixed Use"/>
												<xs:enumeration value="Townhouse"/>
												<xs:enumeration value="Vacation"/>
												<xs:enumeration value="Campus"/>
												<xs:enumeration value="Military"/>
												<xs:enumeration value="House for Rent"/>
												<xs:enumeration value="Corporate"/>
												<xs:enumeration value="Unspecified"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="RentalType" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Subsidized"/>
												<xs:enumeration value="Assisted Senior"/>
												<xs:enumeration value="Assisted Living"/>
												<xs:enumeration value="Market Rate"/>
												<xs:enumeration value="Unspecified"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Information">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="StructureType">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Standard"/>
													<xs:enumeration value="High Rise"/>
													<xs:enumeration value="Garden Style"/>
													<xs:enumeration value="Mid Rise"/>
													<xs:enumeration value="Mixed Use"/>
													<xs:enumeration value="Unspecified"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BuildingCount" type="xs:integer" minOccurs="0"/>
										<xs:element name="UnitCount" type="xs:integer"/>
										<xs:element name="NumberOfAcres" type="xs:decimal" minOccurs="0"/>
										<xs:element name="YearBuilt" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="MITS-Year"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="YearRemodeled" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="MITS-Year"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AcquisitionDate" minOccurs="0">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="OfficeHour" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="OpenTime">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CloseTime">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Day">
														<xs:annotation>
															<xs:documentation>Days open: Su, M, T, W, Th, F, Sa </xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ShortDescription" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LongDescription" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LeaseLength" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Rents" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SalePrice" type="MITS-Currency" minOccurs="0"/>
													<xs:element name="StartRent" type="MITS-Currency" minOccurs="0"/>
													<xs:element name="StandardRent" type="MITS-Currency" minOccurs="0"/>
													<xs:element name="CorporateRent" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Min" type="MITS-Currency" use="optional"/>
															<xs:attribute name="Max" type="MITS-Currency" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="IncomeRentQual" minOccurs="0" maxOccurs="6">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="IncomeLimit" type="MITS-Currency" minOccurs="0"/>
													<xs:element name="QualifiedRent" type="MITS-Currency" minOccurs="0"/>
												</xs:sequence>
												<xs:attribute name="Persons" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
															<xs:enumeration value="3"/>
															<xs:enumeration value="4"/>
															<xs:enumeration value="5"/>
															<xs:enumeration value="6"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Parking" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Type</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Assigned" type="xs:boolean" minOccurs="0"/>
													<xs:element name="AssignedFee" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="Free"/>
																<xs:enumeration value="Paid"/>
																<xs:enumeration value="Both"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SpaceFee" type="MITS-Currency" minOccurs="0"/>
													<xs:element name="Spaces" type="xs:integer" minOccurs="0"/>
													<xs:element name="Comment" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Type" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Surface Lot"/>
															<xs:enumeration value="Garage Lot"/>
															<xs:enumeration value="Covered Lot"/>
															<xs:enumeration value="Street"/>
															<xs:enumeration value="Other"/>
															<xs:enumeration value="None"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="DrivingDirections" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Services" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Nearest</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="200"/>
																<xs:enumeration value="Bus"/>
																<xs:enumeration value="Elementary School"/>
																<xs:enumeration value="Middle School"/>
																<xs:enumeration value="High School"/>
																<xs:enumeration value="Highway"/>
																<xs:enumeration value="Laundromat"/>
																<xs:enumeration value="Drycleaner"/>
																<xs:enumeration value="Park"/>
																<xs:enumeration value="Train"/>
																<xs:enumeration value="Other"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Detail" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DistanceTo" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Comment" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Nearest" type="xs:boolean" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="PropertyAvailabilityURL" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="250"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Accounting" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LiveDate">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="LiveFlag" type="xs:boolean"/>
										<xs:element name="LastDayBegin">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="LastDayEnd">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="LastAccMthEnd">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="AcctMthEndFlag">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Preliminary"/>
													<xs:enumeration value="Changes"/>
													<xs:enumeration value="Month Closed"/>
													<xs:enumeration value="None"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LastInvoiceNumber" default="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LastReceiptNumber">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CashReserve" type="MITS-Currency"/>
										<xs:element name="EndOfYear">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="AccountsReceivable">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="AccountsPayable">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="GeneralLedger">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="CurrentAccountingPeriod">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="CurrentAccountingPeriodAR">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="CurrentAccountingPeriodAP">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="TaxCredit">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Payment" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RemitTo" type="xs:string"/>
										<xs:element name="CheckPayable">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Fee" minOccurs="0">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="FeeType">
											<xs:sequence>
												<xs:element name="AdminFee" type="MITS-Currency"/>
												<xs:element name="ApplicationFee" type="MITS-Currency"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Concession" minOccurs="0" maxOccurs="10">
								<xs:annotation>
									<xs:documentation>Active</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ConcessionType"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Amenity" type="GeneralAmenityType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Deposit" type="DepositType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Type</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Policy" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Pet" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Type, Allowed</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Comment" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MaxCount" type="xs:integer" minOccurs="0"/>
													<xs:element name="Deposit" type="MITS-Currency" minOccurs="0"/>
													<xs:element name="Fee" type="MITS-Currency" minOccurs="0"/>
													<xs:element name="Rent" type="MITS-Currency" minOccurs="0"/>
													<xs:element name="Weight" type="xs:decimal" minOccurs="0"/>
													<xs:element name="FeeRange" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Min, Max </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="Min" type="MITS-Currency" use="optional"/>
															<xs:attribute name="Max" type="MITS-Currency" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Restrictions" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PetCare" type="xs:boolean" minOccurs="0"/>
												</xs:sequence>
												<xs:attribute name="Type" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Allowed" type="xs:boolean" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="General" minOccurs="0">
											<xs:annotation>
												<xs:documentation>General Policy</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Phase" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Id, BuildingID</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Description">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UnitCount" type="xs:integer"/>
										<xs:element name="RentableUnits" type="xs:integer"/>
										<xs:element name="TotalSquareFeet" type="xs:integer"/>
										<xs:element name="RentableSquareFeet" type="xs:integer"/>
										<xs:element name="Amenity" type="GeneralAmenityType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Id, Active</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Promotional" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Promotional Bullet Points for ILS Listings</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Id" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="BuildingID" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Building" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Id, Type</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Description">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UnitCount" type="xs:integer"/>
										<xs:element name="SquareFeet" type="xs:integer"/>
										<xs:element name="Amenity" type="GeneralAmenityType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Id, Active</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Id" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Type" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="High Rise"/>
												<xs:enumeration value="Garden Style"/>
												<xs:enumeration value="Mid Rise"/>
												<xs:enumeration value="Mixed Use"/>
												<xs:enumeration value="Standard"/>
												<xs:enumeration value="Unspecified"/>
												<xs:enumeration value="Low Rise"/>
												<xs:enumeration value="House for Rent"/>
												<xs:enumeration value="Condo for Rent"/>
												<xs:enumeration value="Walkup"/>
												<xs:enumeration value="Coach House"/>
												<xs:enumeration value="Townhouse"/>
												<xs:enumeration value="Courtyard"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Floorplan" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Id, Type, BuildingID</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Comment" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UnitCount" type="xs:integer"/>
										<xs:element name="FloorplanAvailabilityURL" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="250"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UnitsAvailable" type="xs:integer" minOccurs="0"/>
										<xs:element name="DisplayedUnitsAvailable" type="xs:integer" minOccurs="0"/>
										<xs:element name="FloorCount" type="xs:integer" minOccurs="0"/>
										<xs:element name="TotalRoomCount" type="xs:integer" minOccurs="0"/>
										<xs:element name="Room" type="RoomType" maxOccurs="unbounded"/>
										<xs:element name="SquareFeet">
											<xs:annotation>
												<xs:documentation>Average, Min, Max</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attributeGroup ref="MITS-RangeGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="MarketRent">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-RangeGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="EffectiveRent">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-RangeGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="LeaseTerm" minOccurs="0">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-RangeGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Concession" type="ConcessionType" minOccurs="0" maxOccurs="10">
											<xs:annotation>
												<xs:documentation>Active</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Deposit" type="DepositType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Type</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Fee" minOccurs="0">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="FeeType">
														<xs:sequence>
															<xs:element name="AdminFee" type="MITS-Currency"/>
															<xs:element name="ApplicationFee" type="MITS-Currency"/>
														</xs:sequence>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="Amenity" type="SpecificAmenityType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Id, Active</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Promotional" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Promotional Bullet Points for ILS Listings</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Id" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Type" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
												<xs:enumeration value="Internal"/>
												<xs:enumeration value="External"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="BuildingID" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ILS_Unit" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Id, FloorplanID, BuildingID</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Unit" type="MITS:UnitType">
											<xs:annotation>
												<xs:documentation>MITS Unit Core Data Module Version 2.0</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Comment" minOccurs="0"/>
										<xs:element name="EffectiveRent" minOccurs="0">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-RangeGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Concession" type="ConcessionType" minOccurs="0" maxOccurs="10">
											<xs:annotation>
												<xs:documentation>Active</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Deposit" type="DepositType" minOccurs="0"/>
										<xs:element name="SpecialAccess" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Description of special accomodations for subject unit.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EntryFloor" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PriorMarket" type="MITS-Currency" minOccurs="0"/>
										<xs:element name="ChangeDate" minOccurs="0">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="StandardRenewal" type="MITS-Currency" minOccurs="0"/>
										<xs:element name="UserOption" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ProfitCenter" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FloorLevel" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NumberOfFloors" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ApplianceColorCode" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CarpetCode" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CarpetReplacedDate" minOccurs="0">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="PaintedDate" minOccurs="0">
											<xs:complexType>
												<xs:attributeGroup ref="MITS-DateGroup"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Affordable" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Type</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Program">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ContractRent">
														<xs:simpleType>
															<xs:restriction base="MITS-Currency"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Allowance" type="MITS-Currency"/>
												</xs:sequence>
												<xs:attribute name="Type" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Tax Credit"/>
															<xs:enumeration value="HUD"/>
															<xs:enumeration value="Other"/>
															<xs:enumeration value="Unspecified"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Availability" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MoveOutCode" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MoveOutDescription" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="1000"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CancellationCode" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CancellationDescription" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="1000"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="VacateDate">
														<xs:complexType>
															<xs:attributeGroup ref="MITS-DateGroup"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="VacancyClass">
														<xs:annotation>
															<xs:documentation>Vacancy status of subject unit.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="256"/>
																<xs:enumeration value="Occupied"/>
																<xs:enumeration value="Unoccupied"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MadeReadyDate">
														<xs:complexType>
															<xs:attributeGroup ref="MITS-DateGroup"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="UnitAvailabilityURL" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="250"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Cancellation" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Reason">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Fee" type="FeeType" minOccurs="0"/>
										<xs:element name="Amenity" type="SpecificAmenityType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Id, Active</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Promotional" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Promotional Bullet Points for ILS Listings</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Id" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="FloorplanID" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="BuildingID" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Utility" minOccurs="0">
								<xs:annotation>
									<xs:documentation>MajorUtility</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AirCon" type="xs:boolean"/>
										<xs:element name="BroadbandInternet" type="xs:boolean"/>
										<xs:element name="Cable" type="xs:boolean"/>
										<xs:element name="Electric" type="xs:boolean"/>
										<xs:element name="Gas" type="xs:boolean"/>
										<xs:element name="Heat" type="xs:boolean"/>
										<xs:element name="HotWater" type="xs:boolean"/>
										<xs:element name="Satellite" type="xs:boolean"/>
										<xs:element name="Sewer" type="xs:boolean"/>
										<xs:element name="Telephone" type="xs:boolean"/>
										<xs:element name="Trash" type="xs:boolean"/>
										<xs:element name="Water" type="xs:boolean"/>
										<xs:element name="UtilityPortionIncluded" type="xs:decimal" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="MajorUtility" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Some"/>
												<xs:enumeration value="None"/>
												<xs:enumeration value="Unspecified"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ILS" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Commission">
											<xs:annotation>
												<xs:documentation>Type</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Amount" type="xs:integer"/>
													<xs:element name="Minimum" type="xs:integer"/>
													<xs:element name="AmountPosted" type="MITS-Currency"/>
													<xs:element name="ContractExpire">
														<xs:complexType>
															<xs:attributeGroup ref="MITS-DateGroup"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Type" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="200"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Id, Active</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Promotional" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Promotional Bullet Points for ILS Listings</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ManagementID" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ConcessionType">
		<xs:sequence>
			<xs:element name="Value" type="MITS-Currency" minOccurs="0"/>
			<xs:element name="Term" type="xs:integer" minOccurs="0"/>
			<xs:element name="DescriptionHeader" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DescriptionBody" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DescriptionFooter" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Active" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="FeeType">
		<xs:sequence>
			<xs:element name="ProrateType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="Standard"/>
						<xs:enumeration value="Annualized"/>
						<xs:enumeration value="DaysInMonth"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LateType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LatePercent" type="xs:decimal"/>
			<xs:element name="LateMinFee" type="MITS-Currency"/>
			<xs:element name="LateFeePerDay" type="MITS-Currency"/>
			<xs:element name="NonRefundableHoldFee" type="MITS-Currency"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralAmenityType">
		<xs:annotation>
			<xs:documentation>Amenities that belongs to phase or community level 11/28/06</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rank" type="xs:integer" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Other"/>
					<xs:enumeration value="Availability24Hours"/>
					<xs:enumeration value="BasketballCourt"/>
					<xs:enumeration value="BusinessCenter"/>
					<xs:enumeration value="ChildCare"/>
					<xs:enumeration value="ClubDiscount"/>
					<xs:enumeration value="ClubHouse"/>
					<xs:enumeration value="Concierge"/>
					<xs:enumeration value="CoverPark"/>
					<xs:enumeration value="DoorAttendant"/>
					<xs:enumeration value="FitnessCenter"/>
					<xs:enumeration value="Elevator"/>
					<xs:enumeration value="FreeWeights"/>
					<xs:enumeration value="Garage"/>
					<xs:enumeration value="Gate"/>
					<xs:enumeration value="GroupExcercise"/>
					<xs:enumeration value="GuestRoom"/>
					<xs:enumeration value="HighSpeed"/>
					<xs:enumeration value="Housekeeping"/>
					<xs:enumeration value="HouseSitting"/>
					<xs:enumeration value="Laundry"/>
					<xs:enumeration value="Library"/>
					<xs:enumeration value="MealService"/>
					<xs:enumeration value="NightPatrol"/>
					<xs:enumeration value="OnSiteMaintenance"/>
					<xs:enumeration value="OnSiteManagement"/>
					<xs:enumeration value="PackageReceiving"/>
					<xs:enumeration value="Pool"/>
					<xs:enumeration value="PlayGround"/>
					<xs:enumeration value="Racquetball"/>
					<xs:enumeration value="RecRoom"/>
					<xs:enumeration value="Sauna"/>
					<xs:enumeration value="ShortTermLease"/>
					<xs:enumeration value="Spa"/>
					<xs:enumeration value="StorageSpace"/>
					<xs:enumeration value="Sundeck"/>
					<xs:enumeration value="TennisCourt"/>
					<xs:enumeration value="Transportation"/>
					<xs:enumeration value="TVLounge"/>
					<xs:enumeration value="Vintage"/>
					<xs:enumeration value="VolleyballCourt"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="SubType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Attached"/>
					<xs:enumeration value="Detached"/>
					<xs:enumeration value="Both"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SpecificAmenityType">
		<xs:annotation>
			<xs:documentation>Amenities that belongs to unit or floorplan level 11/28/06</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rank" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:integer"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Other"/>
					<xs:enumeration value="AdditionalStorage"/>
					<xs:enumeration value="AirConditioner"/>
					<xs:enumeration value="Alarm"/>
					<xs:enumeration value="Balcony"/>
					<xs:enumeration value="Cable"/>
					<xs:enumeration value="Carport"/>
					<xs:enumeration value="CeilingFan"/>
					<xs:enumeration value="ControlledAccess"/>
					<xs:enumeration value="Courtyard"/>
					<xs:enumeration value="DishWasher"/>
					<xs:enumeration value="Disposal"/>
					<xs:enumeration value="Dryer"/>
					<xs:enumeration value="Fireplace"/>
					<xs:enumeration value="Furnished"/>
					<xs:enumeration value="Garage"/>
					<xs:enumeration value="Handrails"/>
					<xs:enumeration value="Heat"/>
					<xs:enumeration value="IndividualClimateControl"/>
					<xs:enumeration value="LargeClosets"/>
					<xs:enumeration value="Microwave"/>
					<xs:enumeration value="Patio"/>
					<xs:enumeration value="PrivateBalcony"/>
					<xs:enumeration value="PrivatePatio"/>
					<xs:enumeration value="Range"/>
					<xs:enumeration value="Refrigerator"/>
					<xs:enumeration value="Satellite"/>
					<xs:enumeration value="Skylight"/>
					<xs:enumeration value="View"/>
					<xs:enumeration value="Washer"/>
					<xs:enumeration value="WheelChair"/>
					<xs:enumeration value="WD_Hookup"/>
					<xs:enumeration value="WindowCoverings"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="SubType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Central"/>
					<xs:enumeration value="Window"/>
					<xs:enumeration value="Wall"/>
					<xs:enumeration value="Gas"/>
					<xs:enumeration value="Gas or Electric"/>
					<xs:enumeration value="Luxury"/>
					<xs:enumeration value="Wood"/>
					<xs:enumeration value="Electric"/>
					<xs:enumeration value="Radiant"/>
					<xs:enumeration value="Decorative"/>
					<xs:enumeration value="Unspecified"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="MITS-Currency">
		<xs:annotation>
			<xs:documentation>Standard MITS currency format updated 9/06/06 to include negitive amounts</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d*|\-\d*)?\.?(\d{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DepositType">
		<xs:annotation>
			<xs:documentation>Type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amount" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="Value" type="xs:decimal"/>
						<xs:element name="Range">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="min" type="xs:decimal"/>
									<xs:element name="max" type="xs:decimal"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="MonthMultiple"/>
								<xs:enumeration value="Minimum"/>
								<xs:enumeration value="Maximum"/>
								<xs:enumeration value="Actual"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PercentRefundable" type="xs:decimal" minOccurs="0"/>
			<xs:element name="PortionRefundable" type="MITS-Currency" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="MITS-DateGroup">
		<xs:annotation>
			<xs:documentation>Standard MITS date format</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Month" type="xs:string" use="required"/>
		<xs:attribute name="Day" type="xs:string" use="required"/>
		<xs:attribute name="Year" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="MITS-MonthYearGroup">
		<xs:annotation>
			<xs:documentation>Standard MITS month, year format</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Month" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Year" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:simpleType name="MITS-Integer">
		<xs:annotation>
			<xs:documentation>Standard MITS Integer format</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MITS-Boolean">
		<xs:annotation>
			<xs:documentation>Standard MITS Boolean format</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(true)?|(false)?|(0)?|(1)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MITS-Decimal">
		<xs:annotation>
			<xs:documentation>Standard MITS Decimal format</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="-?(\d*)?\.?(\d*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MITS-Year">
		<xs:annotation>
			<xs:documentation>Standard MITS Year format</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="(\d{0,4})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RoomType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Count" type="xs:decimal"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Size" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GeneralType" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Bedroom"/>
					<xs:enumeration value="Bathroom"/>
					<xs:enumeration value="Dining Room"/>
					<xs:enumeration value="Kitchen"/>
					<xs:enumeration value="Sunroom"/>
					<xs:enumeration value="Eat in Kitchen"/>
					<xs:enumeration value="Den"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GeneralIDType">
		<xs:annotation>
			<xs:documentation>Use for general ID's</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="MITS-RangeGroup">
		<xs:annotation>
			<xs:documentation>Attribute group for avg, min, and max values</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Avg" type="MITS-Integer" use="optional"/>
		<xs:attribute name="Min" type="MITS-Integer" use="required"/>
		<xs:attribute name="Max" type="MITS-Integer" use="required"/>
	</xs:attributeGroup>
	<xs:complexType name="FileType">
		<xs:annotation>
			<xs:documentation>Use for attaching files to Property,Building,Floorplan,Unit, and Phase</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type">
				<xs:annotation>
					<xs:documentation>Example: photo, floorplan, logo, etc.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="Photo"/>
						<xs:enumeration value="Floorplan"/>
						<xs:enumeration value="Logo"/>
						<xs:enumeration value="Video"/>
						<xs:enumeration value="Blueprint"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Caption" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Text description specified for subject</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Format">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Src">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Width" type="xs:integer" minOccurs="0"/>
			<xs:element name="Height" type="xs:integer" minOccurs="0"/>
			<xs:element name="Rank">
				<xs:annotation>
					<xs:documentation>Relative ranking of subject file among files of similar type</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdID" minOccurs="0"/>
			<xs:element name="AffiliateID" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Active" type="xs:boolean" use="required"/>
	</xs:complexType>
</xs:schema>
