vista-yardi/vista-yardi-interface/src/main/resources/MITS/4.0/Itf_MITS_PropertyMarketingILS4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by ShawnJ (Kroll Factual Data) -->
<!-- MITS Property XML Standard v4.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:MITS="http://my-company.com/namespace" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="./Itf_MITS_CustomExtension.xsd"/>
	<xs:include schemaLocation="./Itf_MITS_CoreData4.0.xsd"/>
	<xs:element name="PhysicalProperty">
		<xs:annotation>
			<xs:documentation>MITS Property v4.0 Initial Draft 04/2/2011</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Management" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="Identification">
								<xs:sequence>
									<xs:element name="PropertyContacts" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Node contians CompanyType and PersonType</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Companies" type="CompanyType" minOccurs="0" maxOccurs="unbounded"/>
												<xs:element name="Persons" type="PersonType" minOccurs="0" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>FileID, Active</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Property" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="Identification">
								<xs:sequence>
									<xs:element name="PropertyID">
										<xs:annotation>
											<xs:documentation>MITS 4.0 PropertyType</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="PropertyType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="General_ID" type="Identification" minOccurs="0" maxOccurs="10"/>
									<xs:element name="ILS_Identification">
										<xs:annotation>
											<xs:documentation>ILS_IdentificationType, RentalType</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Latitude" type="xs:decimal" minOccurs="0"/>
												<xs:element name="Longitude" type="xs:decimal" minOccurs="0"/>
												<xs:element name="DaylightSaving" type="xs:boolean" minOccurs="0"/>
												<xs:element name="TimeZone" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="LastUpdate" minOccurs="0">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="ILS_IdentificationType" use="required">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="Apartment"/>
														<xs:enumeration value="Condo"/>
														<xs:enumeration value="Duplex"/>
														<xs:enumeration value="Triplex"/>
														<xs:enumeration value="4plex"/>
														<xs:enumeration value="Senior"/>
														<xs:enumeration value="Assisted Living"/>
														<xs:enumeration value="Subsidized"/>
														<xs:enumeration value="High Rise"/>
														<xs:enumeration value="Garden Style"/>
														<xs:enumeration value="Mid Rise"/>
														<xs:enumeration value="Mixed Use"/>
														<xs:enumeration value="Townhouse"/>
														<xs:enumeration value="Vacation"/>
														<xs:enumeration value="Campus"/>
														<xs:enumeration value="Military"/>
														<xs:enumeration value="House for Rent"/>
														<xs:enumeration value="Corporate"/>
														<xs:enumeration value="Unspecified"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="RentalType" use="required">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="Subsidized"/>
														<xs:enumeration value="Assisted Senior"/>
														<xs:enumeration value="Assisted Living"/>
														<xs:enumeration value="Market Rate"/>
														<xs:enumeration value="Unspecified"/>
														<xs:enumeration value="Broker"/>
														<xs:enumeration value="Student"/>
														<xs:enumeration value="Temporary"/>
														<!-- Added 4/12/2011 -->
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="Information">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="StructureType">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Standard"/>
															<xs:enumeration value="High Rise"/>
															<xs:enumeration value="Garden Style"/>
															<xs:enumeration value="Mid Rise"/>
															<xs:enumeration value="Mixed Use"/>
															<xs:enumeration value="Unspecified"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="BuildingCount" type="xs:integer" minOccurs="0"/>
												<xs:element name="UnitCount" type="xs:integer"/>
												<xs:element name="NumberOfAcres" type="xs:decimal" minOccurs="0"/>
												<xs:element name="YearBuilt" type="xs:gYear" minOccurs="0"/>
												<xs:element name="YearRemodeled" type="xs:gYear" minOccurs="0"/>
												<xs:element name="AcquisitionDate" minOccurs="0">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="OfficeHour" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="OpenTime">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="50"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="CloseTime">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="50"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Day">
																<xs:annotation>
																	<xs:documentation>Days open: Su, M, T, W, Th, F, Sa </xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="ShortDescription" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="500"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="LongDescription" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="LeaseLength" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Rents" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SalePrice" type="xs:decimal" minOccurs="0"/>
															<xs:element name="StartRent" type="xs:decimal" minOccurs="0"/>
															<xs:element name="StandardRent" type="xs:decimal" minOccurs="0"/>
															<xs:element name="CorporateRent" minOccurs="0">
																<xs:complexType>
																	<xs:attribute name="Min" type="xs:decimal" use="optional"/>
																	<xs:attribute name="Max" type="xs:decimal" use="optional"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="IncomeRentQual" minOccurs="0" maxOccurs="6">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="IncomeLimit" type="xs:decimal" minOccurs="0"/>
															<xs:element name="QualifiedRent" type="xs:decimal" minOccurs="0"/>
														</xs:sequence>
														<xs:attribute name="Persons" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:integer">
																	<xs:enumeration value="1"/>
																	<xs:enumeration value="2"/>
																	<xs:enumeration value="3"/>
																	<xs:enumeration value="4"/>
																	<xs:enumeration value="5"/>
																	<xs:enumeration value="6"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
												<xs:element name="Parking" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Type</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Assigned" type="xs:boolean" minOccurs="0"/>
															<xs:element name="AssignedFee" minOccurs="0">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Free"/>
																		<xs:enumeration value="Paid"/>
																		<xs:enumeration value="Both"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="SpaceFee" type="xs:decimal" minOccurs="0"/>
															<xs:element name="Spaces" type="xs:integer" minOccurs="0"/>
															<xs:element name="Comment" minOccurs="0">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="500"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="ParkingType" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="Surface Lot"/>
																	<xs:enumeration value="Garage Lot"/>
																	<xs:enumeration value="Covered Lot"/>
																	<xs:enumeration value="Street"/>
																	<xs:enumeration value="Other"/>
																	<xs:enumeration value="None"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
												<xs:element name="DrivingDirections" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Services" minOccurs="0" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Nearest</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Name">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="200"/>
																		<xs:enumeration value="Bus"/>
																		<xs:enumeration value="Elementary School"/>
																		<xs:enumeration value="Middle School"/>
																		<xs:enumeration value="High School"/>
																		<xs:enumeration value="Highway"/>
																		<xs:enumeration value="Laundromat"/>
																		<xs:enumeration value="Drycleaner"/>
																		<xs:enumeration value="Park"/>
																		<xs:enumeration value="Train"/>
																		<xs:enumeration value="University"/>
																		<xs:enumeration value="Other"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Detail" minOccurs="0">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="500"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="DistanceTo" minOccurs="0">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="100"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Comment" minOccurs="0">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="500"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="Nearest" type="xs:boolean" use="required"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="PropertyAvailabilityURL" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="250"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Accounting" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="LiveDate">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="LiveFlag" type="xs:boolean"/>
												<xs:element name="LastDayBegin">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="LastDayEnd">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="LastAccMthEnd">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="AcctMthEndFlag">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Preliminary"/>
															<xs:enumeration value="Changes"/>
															<xs:enumeration value="Month Closed"/>
															<xs:enumeration value="None"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="LastInvoiceNumber" default="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="LastReceiptNumber">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CashReserve" type="xs:decimal"/>
												<xs:element name="EndOfYear">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="AccountsReceivable">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="AccountsPayable">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="GeneralLedger">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="CurrentAccountingPeriod">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="CurrentAccountingPeriodAR">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="CurrentAccountingPeriodAP">
													<xs:complexType>
														<xs:attributeGroup ref="MITS-DateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="TaxCredit">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Payment" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="RemitTo" type="xs:string"/>
												<xs:element name="CheckPayable">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Method">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Cash"/>
															<xs:enumeration value="Check"/>
															<xs:enumeration value="CreditCard"/>
															<xs:enumeration value="Insurance"/>
															<xs:enumeration value="CorporateBilling"/>
															<xs:enumeration value="PerDiem"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Fee" minOccurs="0">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="FeeType">
													<xs:sequence>
														<xs:element name="AdminFee" type="xs:decimal"/>
														<xs:element name="ApplicationFee" type="xs:decimal"/>
														<!-- Added in ILS 4.0 -->
														<xs:element name="BrokerFee" type="xs:decimal"/>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="Concession" minOccurs="0" maxOccurs="10">
										<xs:annotation>
											<xs:documentation>Active</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="ConcessionType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="Amenity" type="GeneralAmenityType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="Deposit" type="DepositType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Type</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Policy" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Pet" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Allowed</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Pets" minOccurs="0" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Details about various prospect pets</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="PetType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
															<xs:element name="Comment" minOccurs="0">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="500"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="Deposit" type="xs:decimal" minOccurs="0"/>
															<xs:element name="Fee" type="xs:decimal" minOccurs="0"/>
															<xs:element name="Rent" type="xs:decimal" minOccurs="0"/>
															<xs:element name="FeeRange" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Min, Max </xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:attribute name="Min" type="xs:decimal" use="optional"/>
																	<xs:attribute name="Max" type="xs:decimal" use="optional"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="Restrictions" minOccurs="0">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="500"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="PetCare" type="xs:boolean" minOccurs="0"/>
														</xs:sequence>
														<xs:attribute name="Allowed" type="xs:boolean" use="required"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="General" minOccurs="0">
													<xs:annotation>
														<xs:documentation>General Policy</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="500"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Phase" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="Identification">
													<xs:sequence>
														<xs:element name="Name">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="100"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Description">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="1000"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="UnitCount" type="xs:integer"/>
														<xs:element name="RentableUnits" type="xs:integer"/>
														<xs:element name="TotalSquareFeet" type="xs:integer"/>
														<xs:element name="RentableSquareFeet" type="xs:integer"/>
														<xs:element name="Amenity" type="GeneralAmenityType" minOccurs="0" maxOccurs="unbounded"/>
														<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Id, Active</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Promotional" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Promotional Bullet Points for ILS Listings</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="500"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="Building" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="Identification">
													<xs:sequence>
														<xs:element name="BuildingType" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="High Rise"/>
																	<xs:enumeration value="Garden Style"/>
																	<xs:enumeration value="Mid Rise"/>
																	<xs:enumeration value="Mixed Use"/>
																	<xs:enumeration value="Standard"/>
																	<xs:enumeration value="Unspecified"/>
																	<xs:enumeration value="Low Rise"/>
																	<xs:enumeration value="House for Rent"/>
																	<xs:enumeration value="Condo for Rent"/>
																	<xs:enumeration value="Walkup"/>
																	<xs:enumeration value="Coach House"/>
																	<xs:enumeration value="Townhouse"/>
																	<xs:enumeration value="Courtyard"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Name">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="100"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Description">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="1000"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="UnitCount" type="xs:integer"/>
														<xs:element name="SquareFeet" type="xs:integer"/>
														<xs:element name="Amenity" type="GeneralAmenityType" minOccurs="0" maxOccurs="unbounded"/>
														<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Id, Active</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="Floorplan" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="Identification">
													<xs:sequence>
														<xs:element name="FloorplanType" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																	<xs:enumeration value="Internal"/>
																	<xs:enumeration value="External"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Name">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="100"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Comment" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="1000"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="UnitCount" type="xs:integer"/>
														<xs:element name="FloorplanAvailabilityURL" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="250"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="UnitsAvailable" type="xs:integer" minOccurs="0"/>
														<xs:element name="DisplayedUnitsAvailable" type="xs:integer" minOccurs="0"/>
														<xs:element name="FloorCount" type="xs:integer" minOccurs="0"/>
														<xs:element name="TotalRoomCount" type="xs:integer" minOccurs="0"/>
														<xs:element name="Room" type="RoomType" maxOccurs="unbounded"/>
														<xs:element name="SquareFeet">
															<xs:annotation>
																<xs:documentation>Average, Min, Max</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attributeGroup ref="MITS-RangeGroup"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="MarketRent">
															<xs:complexType>
																<xs:attributeGroup ref="MITS-RangeGroup"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="EffectiveRent">
															<xs:complexType>
																<xs:attributeGroup ref="MITS-RangeGroup"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="LeaseTerm" minOccurs="0">
															<xs:complexType>
																<xs:attributeGroup ref="MITS-RangeGroup"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="Concession" type="ConcessionType" minOccurs="0" maxOccurs="10">
															<xs:annotation>
																<xs:documentation>Active</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Deposit" type="DepositType" minOccurs="0" maxOccurs="unbounded"/>
														<xs:element name="Fee" minOccurs="0">
															<xs:complexType>
																<xs:complexContent>
																	<xs:extension base="FeeType">
																		<xs:sequence>
																			<xs:element name="AdminFee" type="xs:decimal"/>
																			<xs:element name="ApplicationFee" type="xs:decimal"/>
																			<!-- Added in ILS 4.0 -->
																			<xs:element name="BrokerFee" type="xs:decimal"/>
																		</xs:sequence>
																	</xs:extension>
																</xs:complexContent>
															</xs:complexType>
														</xs:element>
														<xs:element name="Amenity" type="SpecificAmenityType" minOccurs="0" maxOccurs="unbounded"/>
														<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Id, Active</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Promotional" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Promotional Bullet Points for ILS Listings</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="500"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="ILS_Unit" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="Identification">
													<xs:sequence>
														<xs:element name="Units" type="UnitsType">
															<xs:annotation>
																<xs:documentation>MITS 4.0 UnitsType</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Comment" minOccurs="0"/>
														<xs:element name="Pricing" type="PricingType" minOccurs="0"/>
														<xs:element name="EffectiveRent" minOccurs="0">
															<xs:complexType>
																<xs:attributeGroup ref="MITS-RangeGroup"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="Concession" type="ConcessionType" minOccurs="0" maxOccurs="10">
															<xs:annotation>
																<xs:documentation>Active</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Deposit" type="DepositType" minOccurs="0"/>
														<xs:element name="SpecialAccess" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Description of special accomodations for subject unit.</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="100"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="EntryFloor" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PriorMarket" type="xs:decimal" minOccurs="0"/>
														<xs:element name="ChangeDate" minOccurs="0">
															<xs:complexType>
																<xs:attributeGroup ref="MITS-DateGroup"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="StandardRenewal" type="xs:decimal" minOccurs="0"/>
														<xs:element name="UserOption" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="500"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ProfitCenter" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="100"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="FloorLevel" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="NumberOfFloors" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="100"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ApplianceColorCode" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CarpetCode" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="50"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CarpetReplacedDate" minOccurs="0">
															<xs:complexType>
																<xs:attributeGroup ref="MITS-DateGroup"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="PaintedDate" minOccurs="0">
															<xs:complexType>
																<xs:attributeGroup ref="MITS-DateGroup"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="Affordable" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Type</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Program">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="100"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="ContractRent">
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal"/>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="Allowance" type="xs:decimal"/>
																</xs:sequence>
																<xs:attribute name="AffordableType" use="required">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Tax Credit"/>
																			<xs:enumeration value="HUD"/>
																			<xs:enumeration value="Other"/>
																			<xs:enumeration value="Unspecified"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="Availability" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="MoveOutCode" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="100"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="MoveOutDescription" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="1000"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="CancellationCode" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="100"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="CancellationDescription" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="1000"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="VacateDate">
																		<xs:complexType>
																			<xs:attributeGroup ref="MITS-DateGroup"/>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="VacancyClass">
																		<xs:annotation>
																			<xs:documentation>Vacancy status of subject unit.</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="256"/>
																				<xs:enumeration value="Occupied"/>
																				<xs:enumeration value="Unoccupied"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="MadeReadyDate">
																		<xs:complexType>
																			<xs:attributeGroup ref="MITS-DateGroup"/>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="UnitAvailabilityURL" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="250"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="Cancellation" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Reason">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="500"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="Fee" type="FeeType" minOccurs="0"/>
														<xs:element name="Amenity" type="SpecificAmenityType" minOccurs="0" maxOccurs="unbounded"/>
														<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Id, Active</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Promotional" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Promotional Bullet Points for ILS Listings</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="500"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="Utility" minOccurs="0">
										<xs:annotation>
											<xs:documentation>MajorUtility</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="AirCon" type="xs:boolean"/>
												<xs:element name="BroadbandInternet" type="xs:boolean"/>
												<xs:element name="Cable" type="xs:boolean"/>
												<xs:element name="Electric" type="xs:boolean"/>
												<xs:element name="Gas" type="xs:boolean"/>
												<xs:element name="Heat" type="xs:boolean"/>
												<xs:element name="HotWater" type="xs:boolean"/>
												<xs:element name="Satellite" type="xs:boolean"/>
												<xs:element name="Sewer" type="xs:boolean"/>
												<xs:element name="Telephone" type="xs:boolean"/>
												<xs:element name="Trash" type="xs:boolean"/>
												<xs:element name="Water" type="xs:boolean"/>
												<xs:element name="UtilityPortionIncluded" type="xs:decimal" minOccurs="0"/>
											</xs:sequence>
											<xs:attribute name="MajorUtility" use="required">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="Some"/>
														<xs:enumeration value="None"/>
														<xs:enumeration value="Unspecified"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="ILS" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Commission">
													<xs:annotation>
														<xs:documentation>Type</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Amount" type="xs:integer"/>
															<xs:element name="Minimum" type="xs:integer"/>
															<xs:element name="AmountPosted" type="xs:decimal"/>
															<xs:element name="ContractExpire">
																<xs:complexType>
																	<xs:attributeGroup ref="MITS-DateGroup"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="CommissionType" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="200"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="File" type="FileType" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Id, Active</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Promotional" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Promotional Bullet Points for ILS Listings</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="500"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SeniorServices" type="SeniorLivingAmenityType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="PropertyDataUploadResponse" type="PropertyDataUploadResponseType" minOccurs="0"/>
				<xs:element ref="CustomRecords" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PropertyDataUploadResponseType">
		<xs:all>
			<xs:element name="Property" type="PropertyTypeExtended"/>
		</xs:all>
		<xs:attribute name="completeDocumentRecieved" type="StatusTypes"/>
	</xs:complexType>
	<xs:complexType name="PropertyTypeExtended">
		<xs:complexContent>
			<xs:extension base="PropertyType">
				<xs:sequence>
					<xs:element name="Reason">
						<xs:complexType>
							<xs:attribute name="Code"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="status" type="StatusTypes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:attributeGroup name="MITS-DateGroup">
		<xs:annotation>
			<xs:documentation>Standard MITS date format</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Month" type="xs:string" use="required"/>
		<xs:attribute name="Day" type="xs:string" use="required"/>
		<xs:attribute name="Year" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="MITS-MonthYearGroup">
		<xs:annotation>
			<xs:documentation>Standard MITS month, year format</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Month" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Year" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="ConcessionType">
		<xs:sequence>
			<xs:element name="Value" type="xs:decimal" minOccurs="0"/>
			<xs:choice>
				<xs:element name="Term" type="xs:integer" minOccurs="0"/>
				<xs:element name="DateRange">
					<xs:complexType>
						<xs:all>
							<xs:element name="StartDate" minOccurs="0">
								<xs:complexType>
									<xs:attributeGroup ref="MITS-DateGroup"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="EndDate" minOccurs="0">
								<xs:complexType>
									<xs:attributeGroup ref="MITS-DateGroup"/>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="DescriptionHeader" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DescriptionBody" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DescriptionFooter" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Active" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="FeeType">
		<xs:sequence>
			<xs:element name="ProrateType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="Standard"/>
						<xs:enumeration value="Annualized"/>
						<xs:enumeration value="DaysInMonth"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LateType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LatePercent" type="xs:decimal"/>
			<xs:element name="LateMinFee" type="xs:decimal"/>
			<xs:element name="LateFeePerDay" type="xs:decimal"/>
			<xs:element name="NonRefundableHoldFee" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralAmenityType">
		<xs:annotation>
			<xs:documentation>Amenities that belongs to phase or community level 11/28/06</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rank" type="xs:integer" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="AmenityType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Other"/>
					<xs:enumeration value="Availability24Hours"/>
					<xs:enumeration value="AccentWalls"/>
					<xs:enumeration value="BasketballCourt"/>
					<xs:enumeration value="Bilingual"/>
					<xs:enumeration value="BoatDocks"/>
					<xs:enumeration value="BusinessCenter"/>
					<xs:enumeration value="CarWashArea"/>
					<xs:enumeration value="ChildCare"/>
					<xs:enumeration value="ClubDiscount"/>
					<xs:enumeration value="ClubHouse"/>
					<xs:enumeration value="ConferenceRoom"/>
					<xs:enumeration value="Concierge"/>
					<xs:enumeration value="CoverPark"/>
					<xs:enumeration value="DoorAttendant"/>
					<xs:enumeration value="FitnessCenter"/>
					<xs:enumeration value="Elevator"/>
					<xs:enumeration value="FreeWeights"/>
					<xs:enumeration value="FurnishedAvailable"/>
					<xs:enumeration value="GamingStations"/>
					<xs:enumeration value="Garage"/>
					<xs:enumeration value="Gate"/>
					<xs:enumeration value="GroceryService"/>
					<xs:enumeration value="GroupExcercise"/>
					<xs:enumeration value="GuestRoom"/>
					<xs:enumeration value="HighSpeed"/>
					<xs:enumeration value="Housekeeping"/>
					<xs:enumeration value="HouseSitting"/>
					<xs:enumeration value="JoggingWalkingTrails"/>
					<xs:enumeration value="LakeFront"/>
					<xs:enumeration value="LakeAccess"/>
					<xs:enumeration value="Laundry"/>
					<xs:enumeration value="Library"/>
					<xs:enumeration value="MealService"/>
					<xs:enumeration value="MediaRoom"/>
					<xs:enumeration value="MultiUseRoom"/>
					<xs:enumeration value="NightPatrol"/>
					<xs:enumeration value="OnSiteMaintenance"/>
					<xs:enumeration value="OnSiteManagement"/>
					<xs:enumeration value="PackageReceiving"/>
					<xs:enumeration value="PerDiemAccepted"/>
					<xs:enumeration value="Pool"/>
					<xs:enumeration value="PlayGround"/>
					<xs:enumeration value="Racquetball"/>
					<xs:enumeration value="RecRoom"/>
					<xs:enumeration value="Recycling"/>
					<xs:enumeration value="Sauna"/>
					<xs:enumeration value="ShortTermLease"/>
					<xs:enumeration value="SmokeFree"/>
					<xs:enumeration value="Spa"/>
					<xs:enumeration value="StorageSpace"/>
					<xs:enumeration value="Sundeck"/>
					<xs:enumeration value="TennisCourt"/>
					<xs:enumeration value="Transportation"/>
					<xs:enumeration value="TVLounge"/>
					<xs:enumeration value="ValetTrash"/>
					<xs:enumeration value="Vintage"/>
					<xs:enumeration value="VolleyballCourt"/>
					<xs:enumeration value="WirelessInternet"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AmenitySubType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Attached"/>
					<xs:enumeration value="Detached"/>
					<xs:enumeration value="Both"/>
					<xs:enumeration value="SameLevelParking"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SpecificAmenityType">
		<xs:annotation>
			<xs:documentation>Amenities that belongs to unit or floorplan level 11/28/06</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rank" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:integer"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="AmenityType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Other"/>
					<xs:enumeration value="AdditionalStorage"/>
					<xs:enumeration value="AirConditioner"/>
					<xs:enumeration value="Alarm"/>
					<xs:enumeration value="Balcony"/>
					<xs:enumeration value="Cable"/>
					<xs:enumeration value="Carpet"/>
					<xs:enumeration value="Carport"/>
					<xs:enumeration value="CeilingFan"/>
					<xs:enumeration value="ControlledAccess"/>
					<xs:enumeration value="Courtyard"/>
					<xs:enumeration value="DishWasher"/>
					<xs:enumeration value="Disposal"/>
					<xs:enumeration value="DoubleSinkVanity"/>
					<xs:enumeration value="Dryer"/>
					<xs:enumeration value="Fireplace"/>
					<xs:enumeration value="FramedMirrors"/>
					<xs:enumeration value="Furnished"/>
					<xs:enumeration value="Garage"/>
					<xs:enumeration value="Handrails"/>
					<xs:enumeration value="HardwoodFlooring"/>
					<xs:enumeration value="HardSurfaceCounterTops"/>
					<xs:enumeration value="Heat"/>
					<xs:enumeration value="IndividualClimateControl"/>
					<xs:enumeration value="IslandKitchen"/>
					<xs:enumeration value="LaminateCounterTops"/>
					<xs:enumeration value="VinylFlooring"/>
					<xs:enumeration value="LargeClosets"/>
					<xs:enumeration value="LinenCloset"/>
					<xs:enumeration value="Microwave"/>
					<xs:enumeration value="Pantry"/>
					<xs:enumeration value="Patio"/>
					<xs:enumeration value="PrivateBalcony"/>
					<xs:enumeration value="PrivatePatio"/>
					<xs:enumeration value="Range"/>
					<xs:enumeration value="Refrigerator"/>
					<xs:enumeration value="Satellite"/>
					<xs:enumeration value="Skylight"/>
					<xs:enumeration value="TileFlooring"/>
					<xs:enumeration value="VaultedCeiling"/>
					<xs:enumeration value="View"/>
					<xs:enumeration value="Washer"/>
					<xs:enumeration value="WheelChair"/>
					<xs:enumeration value="WD_Hookup"/>
					<xs:enumeration value="WindowCoverings"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AmenitySubType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Central"/>
					<xs:enumeration value="Window"/>
					<xs:enumeration value="Wall"/>
					<xs:enumeration value="Gas"/>
					<xs:enumeration value="Gas or Electric"/>
					<xs:enumeration value="Luxury"/>
					<xs:enumeration value="Wood"/>
					<xs:enumeration value="Electric"/>
					<xs:enumeration value="Radiant"/>
					<xs:enumeration value="Decorative"/>
					<xs:enumeration value="Unspecified"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SeniorLivingAmenityType">
		<xs:annotation>
			<xs:documentation>Amenities that belong to Properties with Senior Living Facilities</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rank" type="xs:integer" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="AmenityType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Other"/>
					<xs:enumeration value="SkilledNursing"/>
					<xs:enumeration value="IndependentLiving"/>
					<xs:enumeration value="ContinuedCareRetirement"/>
					<xs:enumeration value="AdultDayCare"/>
					<xs:enumeration value="AlzheimersMemoryCare"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DepositType">
		<xs:sequence>
			<xs:element name="Amount" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ValueRange" type="CurrencyRangeType"/>
					</xs:sequence>
					<xs:attribute name="AmountType" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="MonthMultiple"/>
								<xs:enumeration value="Minimum"/>
								<xs:enumeration value="Maximum"/>
								<xs:enumeration value="Actual"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PercentRefundable" type="xs:decimal" minOccurs="0"/>
			<xs:element name="PortionRefundable" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="DepositType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RoomType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Count" type="xs:decimal"/>
			<xs:element name="Comment" type="xs:string"/>
			<xs:element name="Size" type="xs:decimal" minOccurs="0"/>
			<xs:element name="GeneralType" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="RoomType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Bedroom"/>
					<xs:enumeration value="Bathroom"/>
					<xs:enumeration value="Dining Room"/>
					<xs:enumeration value="Kitchen"/>
					<xs:enumeration value="Sunroom"/>
					<xs:enumeration value="Eat in Kitchen"/>
					<xs:enumeration value="Den"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="MITS-RangeGroup">
		<xs:annotation>
			<xs:documentation>Attribute group for avg, min, and max values</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Avg" type="xs:integer" use="optional"/>
		<xs:attribute name="Min" type="xs:integer" use="required"/>
		<xs:attribute name="Max" type="xs:integer" use="required"/>
	</xs:attributeGroup>
	<xs:complexType name="PetType">
		<xs:annotation>
			<xs:documentation>Pet</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PetType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Dog"/>
					<xs:enumeration value="Cat"/>
					<xs:enumeration value="Bird"/>
					<xs:enumeration value="Reptile"/>
					<xs:enumeration value="Fish"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Description" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Count" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Size" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Huge"/>
					<xs:enumeration value="Large"/>
					<xs:enumeration value="Medium"/>
					<xs:enumeration value="Small"/>
					<xs:enumeration value="Tiny"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Weight" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="FileType">
		<xs:annotation>
			<xs:documentation>Use for attaching files to Property,Building,Floorplan,Unit, and Phase</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FileType">
				<xs:annotation>
					<xs:documentation>Example: photo, floorplan, logo, etc.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="Photo"/>
						<xs:enumeration value="Floorplan"/>
						<xs:enumeration value="Logo"/>
						<xs:enumeration value="Video"/>
						<xs:enumeration value="Blueprint"/>
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Caption" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Text description specified for subject</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Format">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Src">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Width" type="xs:integer" minOccurs="0"/>
			<xs:element name="Height" type="xs:integer" minOccurs="0"/>
			<xs:element name="Rank">
				<xs:annotation>
					<xs:documentation>Relative ranking of subject file among files of similar type</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdID" minOccurs="0"/>
			<xs:element name="AffiliateID" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="FileID" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Active" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:simpleType name="StatusTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Success"/>
			<xs:enumeration value="Failure"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PricingType">
		<xs:sequence>
			<xs:element name="MITS-OfferTerm" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="OfferTermType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OfferTermType">
		<xs:sequence>
			<xs:element name="EffectiveRent" type="Money"/>
			<xs:element name="Term" type="xs:integer"/>
			<xs:element name="DateRange">
				<xs:complexType>
					<xs:all>
						<xs:element name="StartDate" minOccurs="0">
							<xs:complexType>
								<xs:attributeGroup ref="MITS-DateGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="EndDate" minOccurs="0">
							<xs:complexType>
								<xs:attributeGroup ref="MITS-DateGroup"/>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
