vista-yardi/vista-yardi-interface-wsdl/src/main/resources/common/ItfResidentTransactions20_SysBatch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch">
      <s:element name="OpenReceiptBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YardiPropertyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BatchDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenReceiptBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OpenReceiptBatchResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenReceiptBatch_DepositDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YardiPropertyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BatchDescription" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DepositDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="DepositMemo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenReceiptBatch_DepositDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OpenReceiptBatch_DepositDateResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddReceiptsToBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionXml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddReceiptsToBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddReceiptsToBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReviewReceiptBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReviewReceiptBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReviewReceiptBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostReceiptBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostReceiptBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostReceiptBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnOpenReceiptBatches">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnOpenReceiptBatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnOpenReceiptBatchesResult" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelReceiptBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelReceiptBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelReceiptBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenChargeBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YardiPropertyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BatchDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenChargeBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OpenChargeBatchResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChargesToBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionXml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChargesToBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddChargesToBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReviewChargeBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReviewChargeBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReviewChargeBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostChargeBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostChargeBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostChargeBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnOpenChargeBatches">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnOpenChargeBatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnOpenChargeBatchesResult" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelChargeBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelChargeBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelChargeBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenPayableBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YardiPropertyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BatchDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenPayableBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OpenPayableBatchResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPayablesToBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionXml">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPayablesToBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPayablesToBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReviewPayableBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReviewPayableBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReviewPayableBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostPayableBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostPayableBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostPayableBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnOpenPayableBatches">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnOpenPayableBatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnOpenPayableBatchesResult" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPayableBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Platform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceEntity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfaceLicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BatchId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelPayableBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelPayableBatchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionNumber_Str">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionNumber_StrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionNumber_StrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionNumber">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OpenReceiptBatchSoapIn">
    <wsdl:part name="parameters" element="tns:OpenReceiptBatch" />
  </wsdl:message>
  <wsdl:message name="OpenReceiptBatchSoapOut">
    <wsdl:part name="parameters" element="tns:OpenReceiptBatchResponse" />
  </wsdl:message>
  <wsdl:message name="OpenReceiptBatch_DepositDateSoapIn">
    <wsdl:part name="parameters" element="tns:OpenReceiptBatch_DepositDate" />
  </wsdl:message>
  <wsdl:message name="OpenReceiptBatch_DepositDateSoapOut">
    <wsdl:part name="parameters" element="tns:OpenReceiptBatch_DepositDateResponse" />
  </wsdl:message>
  <wsdl:message name="AddReceiptsToBatchSoapIn">
    <wsdl:part name="parameters" element="tns:AddReceiptsToBatch" />
  </wsdl:message>
  <wsdl:message name="AddReceiptsToBatchSoapOut">
    <wsdl:part name="parameters" element="tns:AddReceiptsToBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ReviewReceiptBatchSoapIn">
    <wsdl:part name="parameters" element="tns:ReviewReceiptBatch" />
  </wsdl:message>
  <wsdl:message name="ReviewReceiptBatchSoapOut">
    <wsdl:part name="parameters" element="tns:ReviewReceiptBatchResponse" />
  </wsdl:message>
  <wsdl:message name="PostReceiptBatchSoapIn">
    <wsdl:part name="parameters" element="tns:PostReceiptBatch" />
  </wsdl:message>
  <wsdl:message name="PostReceiptBatchSoapOut">
    <wsdl:part name="parameters" element="tns:PostReceiptBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnOpenReceiptBatchesSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnOpenReceiptBatches" />
  </wsdl:message>
  <wsdl:message name="ReturnOpenReceiptBatchesSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnOpenReceiptBatchesResponse" />
  </wsdl:message>
  <wsdl:message name="CancelReceiptBatchSoapIn">
    <wsdl:part name="parameters" element="tns:CancelReceiptBatch" />
  </wsdl:message>
  <wsdl:message name="CancelReceiptBatchSoapOut">
    <wsdl:part name="parameters" element="tns:CancelReceiptBatchResponse" />
  </wsdl:message>
  <wsdl:message name="OpenChargeBatchSoapIn">
    <wsdl:part name="parameters" element="tns:OpenChargeBatch" />
  </wsdl:message>
  <wsdl:message name="OpenChargeBatchSoapOut">
    <wsdl:part name="parameters" element="tns:OpenChargeBatchResponse" />
  </wsdl:message>
  <wsdl:message name="AddChargesToBatchSoapIn">
    <wsdl:part name="parameters" element="tns:AddChargesToBatch" />
  </wsdl:message>
  <wsdl:message name="AddChargesToBatchSoapOut">
    <wsdl:part name="parameters" element="tns:AddChargesToBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ReviewChargeBatchSoapIn">
    <wsdl:part name="parameters" element="tns:ReviewChargeBatch" />
  </wsdl:message>
  <wsdl:message name="ReviewChargeBatchSoapOut">
    <wsdl:part name="parameters" element="tns:ReviewChargeBatchResponse" />
  </wsdl:message>
  <wsdl:message name="PostChargeBatchSoapIn">
    <wsdl:part name="parameters" element="tns:PostChargeBatch" />
  </wsdl:message>
  <wsdl:message name="PostChargeBatchSoapOut">
    <wsdl:part name="parameters" element="tns:PostChargeBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnOpenChargeBatchesSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnOpenChargeBatches" />
  </wsdl:message>
  <wsdl:message name="ReturnOpenChargeBatchesSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnOpenChargeBatchesResponse" />
  </wsdl:message>
  <wsdl:message name="CancelChargeBatchSoapIn">
    <wsdl:part name="parameters" element="tns:CancelChargeBatch" />
  </wsdl:message>
  <wsdl:message name="CancelChargeBatchSoapOut">
    <wsdl:part name="parameters" element="tns:CancelChargeBatchResponse" />
  </wsdl:message>
  <wsdl:message name="OpenPayableBatchSoapIn">
    <wsdl:part name="parameters" element="tns:OpenPayableBatch" />
  </wsdl:message>
  <wsdl:message name="OpenPayableBatchSoapOut">
    <wsdl:part name="parameters" element="tns:OpenPayableBatchResponse" />
  </wsdl:message>
  <wsdl:message name="AddPayablesToBatchSoapIn">
    <wsdl:part name="parameters" element="tns:AddPayablesToBatch" />
  </wsdl:message>
  <wsdl:message name="AddPayablesToBatchSoapOut">
    <wsdl:part name="parameters" element="tns:AddPayablesToBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ReviewPayableBatchSoapIn">
    <wsdl:part name="parameters" element="tns:ReviewPayableBatch" />
  </wsdl:message>
  <wsdl:message name="ReviewPayableBatchSoapOut">
    <wsdl:part name="parameters" element="tns:ReviewPayableBatchResponse" />
  </wsdl:message>
  <wsdl:message name="PostPayableBatchSoapIn">
    <wsdl:part name="parameters" element="tns:PostPayableBatch" />
  </wsdl:message>
  <wsdl:message name="PostPayableBatchSoapOut">
    <wsdl:part name="parameters" element="tns:PostPayableBatchResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnOpenPayableBatchesSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnOpenPayableBatches" />
  </wsdl:message>
  <wsdl:message name="ReturnOpenPayableBatchesSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnOpenPayableBatchesResponse" />
  </wsdl:message>
  <wsdl:message name="CancelPayableBatchSoapIn">
    <wsdl:part name="parameters" element="tns:CancelPayableBatch" />
  </wsdl:message>
  <wsdl:message name="CancelPayableBatchSoapOut">
    <wsdl:part name="parameters" element="tns:CancelPayableBatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionNumber_StrSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersionNumber_Str" />
  </wsdl:message>
  <wsdl:message name="GetVersionNumber_StrSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionNumber_StrResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersionNumber" />
  </wsdl:message>
  <wsdl:message name="GetVersionNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionNumberResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="ItfResidentTransactions20_SysBatchSoap">
    <wsdl:operation name="OpenReceiptBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Open Receipt Batch: Return values: 0 = could not open receipt batch; -1 = web service user can insuffient rights; -2 = Interface Entity does not have access to Yardi Property; -3 = Interface Entity or License Error. Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:OpenReceiptBatchSoapIn" />
      <wsdl:output message="tns:OpenReceiptBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenReceiptBatch_DepositDate">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Open Receipt Batch: Return values: 0 = could not open receipt batch; -1 = web service user can insuffient rights; -2 = Interface Entity does not have access to Yardi Property; -3 = Interface Entity or License Error.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:OpenReceiptBatch_DepositDateSoapIn" />
      <wsdl:output message="tns:OpenReceiptBatch_DepositDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddReceiptsToBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Add Receipts to a Batch; 500 limit max.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:AddReceiptsToBatchSoapIn" />
      <wsdl:output message="tns:AddReceiptsToBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReviewReceiptBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Review an Open Receipt Batch.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:ReviewReceiptBatchSoapIn" />
      <wsdl:output message="tns:ReviewReceiptBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostReceiptBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Close an open receipt batch.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:PostReceiptBatchSoapIn" />
      <wsdl:output message="tns:PostReceiptBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnOpenReceiptBatches">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return the Batch ID's of all Open Receipt Batches.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:ReturnOpenReceiptBatchesSoapIn" />
      <wsdl:output message="tns:ReturnOpenReceiptBatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelReceiptBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Cancel a receipt batch.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:CancelReceiptBatchSoapIn" />
      <wsdl:output message="tns:CancelReceiptBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenChargeBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Open Charge Batch: Return values: 0 = could not open charge batch; -1 = web service user can insuffient rights; -2 = Interface Entity does not have access to Yardi Property; -3 = Interface Entity or License Error.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:OpenChargeBatchSoapIn" />
      <wsdl:output message="tns:OpenChargeBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddChargesToBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Add Charges to a Batch; 500 limit max.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:AddChargesToBatchSoapIn" />
      <wsdl:output message="tns:AddChargesToBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReviewChargeBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Review an Open Charge Batch.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:ReviewChargeBatchSoapIn" />
      <wsdl:output message="tns:ReviewChargeBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostChargeBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Close an Open Charge Batch.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:PostChargeBatchSoapIn" />
      <wsdl:output message="tns:PostChargeBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnOpenChargeBatches">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return the Batch ID's of all Open Charge Batches.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:ReturnOpenChargeBatchesSoapIn" />
      <wsdl:output message="tns:ReturnOpenChargeBatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelChargeBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Cancel a charge batch.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:CancelChargeBatchSoapIn" />
      <wsdl:output message="tns:CancelChargeBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenPayableBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Open Payable Batch: Return values: 0 = could not open Payable batch; -1 = web service user can insuffient rights; -2 = Interface Entity does not have access to Yardi Property; -3 = Interface Entity or License Error.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:OpenPayableBatchSoapIn" />
      <wsdl:output message="tns:OpenPayableBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPayablesToBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Add Payables to a Batch; 500 limit max.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:AddPayablesToBatchSoapIn" />
      <wsdl:output message="tns:AddPayablesToBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReviewPayableBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Review Open Payable Batch.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:ReviewPayableBatchSoapIn" />
      <wsdl:output message="tns:ReviewPayableBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostPayableBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Close an Open Payable Batch.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:PostPayableBatchSoapIn" />
      <wsdl:output message="tns:PostPayableBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnOpenPayableBatches">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Return the Batch ID's of all Open Payable Batches.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:ReturnOpenPayableBatchesSoapIn" />
      <wsdl:output message="tns:ReturnOpenPayableBatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelPayableBatch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Cancel a payable batch.  Can be used thru 1/1/13 without an InterfaceLicense</documentation>
      <wsdl:input message="tns:CancelPayableBatchSoapIn" />
      <wsdl:output message="tns:CancelPayableBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionNumber_Str">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">(Deprecated)</documentation>
      <wsdl:input message="tns:GetVersionNumber_StrSoapIn" />
      <wsdl:output message="tns:GetVersionNumber_StrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionNumber">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns current version number of Interfaces concatenated with Billing and Payments Plugin version (XX_Y)</documentation>
      <wsdl:input message="tns:GetVersionNumberSoapIn" />
      <wsdl:output message="tns:GetVersionNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItfResidentTransactions20_SysBatchSoap" type="tns:ItfResidentTransactions20_SysBatchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="OpenReceiptBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/OpenReceiptBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenReceiptBatch_DepositDate">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/OpenReceiptBatch_DepositDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReceiptsToBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/AddReceiptsToBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviewReceiptBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/ReviewReceiptBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostReceiptBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/PostReceiptBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnOpenReceiptBatches">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/ReturnOpenReceiptBatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelReceiptBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/CancelReceiptBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenChargeBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/OpenChargeBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChargesToBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/AddChargesToBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviewChargeBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/ReviewChargeBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostChargeBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/PostChargeBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnOpenChargeBatches">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/ReturnOpenChargeBatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelChargeBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/CancelChargeBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenPayableBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/OpenPayableBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPayablesToBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/AddPayablesToBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviewPayableBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/ReviewPayableBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostPayableBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/PostPayableBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnOpenPayableBatches">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/ReturnOpenPayableBatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPayableBatch">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/CancelPayableBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionNumber_Str">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/GetVersionNumber_Str" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersionNumber">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/GetVersionNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/YSI.Interfaces.WebServices/ResidentTransactions20_SysBatch/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItfResidentTransactions20_SysBatch">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="ItfResidentTransactions20_SysBatchSoap" binding="tns:ItfResidentTransactions20_SysBatchSoap">
      <soap:address location="http://www.iyardiasp.com/8223thirddev/webservices/ItfResidentTransactions20_SysBatch.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>