vista-yardi/vista-yardi-interface-wsdl/src/main/resources/common/ScreeningService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
		xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:s="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://propertyvista.com/interfaces/ws/ApplicantScreening"
		targetNamespace="http://propertyvista.com/interfaces/ws/ApplicantScreening"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
	<s:schema elementFormDefault="qualified" targetNamespace="http://propertyvista.com/interfaces/ws/ApplicantScreening">
	  <s:element name="ServiceRequest" minOccurs="0" maxOccurs="1" type="s:string"/>
      <s:element name="ServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetScreeningReportSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceRequest"/>
  </wsdl:message>
  <wsdl:message name="GetScreeningReportSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceResponse"/>
  </wsdl:message>
  <wsdl:portType name="WSScreeningService">
    <wsdl:operation name="GetScreeningReport">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Accepts ServiceRequest as string representation of Resident Screening xml. Returns reports in according to MITS ResidentScreening 2.0 format.</documentation>
      <wsdl:input message="tns:GetScreeningReportSoapIn" />
      <wsdl:output message="tns:GetScreeningReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSScreeningService" type="tns:WSScreeningService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetScreeningReport">
      <soap:operation soapAction="http://propertyvista.com/interfaces/ws/ApplicantScreening/GetScreeningReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScreeningService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Service interface for screening requests processing.</documentation>
    <wsdl:port name="WSScreeningService" binding="tns:WSScreeningService">
      <soap:address location="http://localhost:7771/vista/interfaces/ws/ApplicantScreening"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>