vista-shared/vista-equifax-gen/src/main/resources/CNCommCreditTypeReport2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by KAREN PILKINGTON (EQUIFAX, INC) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Karen Pilkington (Equifax, Inc.) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Daniel Aubé (Equifax Canada) -->
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="CNCommCreditSegTypesReport2.0.xsd"/>
	<!-- Standard Canadian Commercial Credit Report -->
	<xs:complexType name="CNCommercialCreditTypeReport2.0">
		<xs:sequence>
			<xs:element name="CNBusinessInformation" type="CNBusinessInformationType" minOccurs="0"/>
			<xs:element name="CNAdditionalBusinessInfo" type="CNAdditionalInformationType" minOccurs="0"/>
			<xs:element name="CNDecisions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNDecision" type="CNScoreType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNScoreSummary" type="CNScoreSummaryType" minOccurs="0"/>
			<xs:element name="CNReportHighlight" type="CNReportHighlightType" minOccurs="0"/>
			<xs:element name="CNScoreDetail" type="CNScoreDetailType" minOccurs="0"/>
			<xs:element name="CNDerogatorySummaries" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNDerogatorySummary" type="CNDerogatorySummaryType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNCreditReferenceSummaries" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNCreditReferenceSummary" type="CNCreditReferenceSummaryType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNCreditReferenceDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNCreditReferenceDetail" type="CNCreditReferenceDetailType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comments" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNPaymentTrendQuarterlys" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNPaymentTrendQuarterly" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="CNPaymentTrendQuarterlyType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNReturnedCheques" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNReturnedCheque" type="CNReturnedChequeType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comments" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNCollectionDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNCollectionDetail" type="CNCollectionDetailType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comments" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNLegalDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNLegalDetail" type="CNLegalDetailsType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comments" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNCorporateSearchAndAdditionalBusinessInfo" type="CNCorporateSearchAndAdditionalInfoType" minOccurs="0"/>
			<xs:element name="CNBankruptcies" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNBankruptcy" type="CNBankruptcyType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNBankingReportDetail" type="CNBankingDetailType" minOccurs="0"/>
			<xs:element name="CNLienDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNLienDetail" type="CNLienDetailsType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comments" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNOtherFilesIncludes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNOtherFilesInclude" type="CNOtherFilesIncludeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNInquiries" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNInquiry" type="CNInquiryType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comments" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNSubjectComments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNSubjectComment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
