vista-shared/vista-equifax-gen/src/main/resources/CNCommCreditSegTypesReport2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by KAREN PILKINGTON (EQUIFAX, INC) -->
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by KAREN PILKINGTON (EQUIFAX, INC) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Karen Pilkington (Equifax, Inc.) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Daniel Aubé (Equifax Canada) -->
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="CNEfxCommon.xsd"/>
	<!-- Declaration of All Standard Canadian Commercial Segments-->
	<xs:complexType name="CNAdditionalInformationType">
		<xs:sequence>
			<xs:element ref="TradeStyles" minOccurs="0"/>
			<xs:element name="IncorporationAndOwner" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Owners" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Owner" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="LastName"/>
												<xs:element ref="FirstName" minOccurs="0"/>
												<xs:element ref="MiddleName" minOccurs="0"/>
												<xs:element ref="Title" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="RegistrationNumber" minOccurs="0"/>
						<xs:element ref="DateEffective" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="reportedDate" type="xs:date" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="EmployeeInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="EmployeeSize"/>
						<xs:element ref="EmployeeDetail" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="reportedDate" type="xs:date" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="SalesInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="SalesVolume"/>
						<xs:element ref="SalesDetail" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="reportedDate" type="xs:date" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="SicInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Sic" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NAICs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NAIC" type="CodeDescriptionType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNBankingDetailType">
		<xs:sequence>
			<xs:element name="FinancialInstitution" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FinancialInstitutionDetail">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="InstitutionName"/>
									<xs:element ref="BranchDomicil" minOccurs="0"/>
									<xs:element ref="InstitutionNumber" minOccurs="0"/>
									<xs:element ref="TransitNumber" minOccurs="0"/>
									<xs:element ref="Address" minOccurs="0"/>
									<xs:element ref="Telephone" minOccurs="0"/>
									<xs:element ref="Fax" minOccurs="0"/>
									<xs:element ref="LastChangedDate" minOccurs="0"/>
									<xs:element name="ReferencePhone" type="TelephoneType" minOccurs="0"/>
									<xs:element name="ReferenceFax" type="TelephoneType" minOccurs="0"/>
									<xs:element name="SigningOfficers" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SigningOfficer" maxOccurs="unbounded">
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="NameType">
																<xs:attribute name="Suffix" type="xs:string"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
												<xs:element name="SigningOfficerComment" type="CodeDescriptionType" minOccurs="0"/>
												<xs:element ref="SpecialComment" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:choice>
							<xs:element name="BankAccounts">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BankAccount" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:choice minOccurs="0">
														<xs:element ref="OpenedDate" minOccurs="0"/>
														<xs:element ref="OpenedPeriod" minOccurs="0"/>
													</xs:choice>
													<xs:element name="NumberOfAccounts" type="CodeDescriptionType" minOccurs="0"/>
													<xs:element name="AccountTypes" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="AccountType" type="CodeDescriptionType" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Balance" minOccurs="0">
														<xs:complexType>
															<xs:choice>
																<xs:element ref="AmountRange"/>
																<xs:element ref="FiguresRange"/>
																<xs:element name="Reason">
																	<xs:complexType>
																		<xs:attributeGroup ref="CodeDescription"/>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element name="AccountReturnedCheques" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:choice minOccurs="0">
																	<xs:element ref="NumberOfReturnedCheques" minOccurs="0"/>
																	<xs:element ref="ReturnChequeComment" minOccurs="0"/>
																</xs:choice>
																<xs:element name="Frequency" type="CodeDescriptionType" minOccurs="0"/>
																<xs:element name="Reason" minOccurs="0">
																	<xs:complexType>
																		<xs:attributeGroup ref="CodeDescription"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Message"/>
						</xs:choice>
						<xs:choice>
							<xs:element name="LinesOfCredit">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LineOfCredit" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:choice minOccurs="0">
														<xs:element ref="OpenedDate" minOccurs="0"/>
														<xs:element ref="OpenedPeriod" minOccurs="0"/>
													</xs:choice>
													<xs:element name="NumberOfCreditLines" type="CodeDescriptionType" minOccurs="0"/>
													<xs:element name="CreditLinesType" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CreditLineType" type="CodeDescriptionType" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element ref="SecuredLines" minOccurs="0"/>
													<xs:element name="Rating" type="CodeDescriptionType" minOccurs="0"/>
													<xs:element name="AuthorizedAmount" minOccurs="0">
														<xs:complexType>
															<xs:choice>
																<xs:element ref="AmountRange"/>
																<xs:element ref="FiguresRange"/>
																<xs:element name="Reason">
																	<xs:complexType>
																		<xs:attributeGroup ref="CodeDescription"/>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element name="UtilizedAmount" minOccurs="0">
														<xs:complexType>
															<xs:choice>
																<xs:element ref="AmountRange"/>
																<xs:element ref="FiguresRange"/>
																<xs:element name="Reason">
																	<xs:complexType>
																		<xs:attributeGroup ref="CodeDescription"/>
																	</xs:complexType>
																</xs:element>
																<xs:element ref="UtilizationPercentage"/>
															</xs:choice>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Message"/>
						</xs:choice>
						<xs:choice>
							<xs:element name="Loans">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Loan" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:choice minOccurs="0">
														<xs:element ref="OpenedDate" minOccurs="0"/>
														<xs:element ref="OpenedPeriod" minOccurs="0"/>
													</xs:choice>
													<xs:element name="NumberOfLoans" type="CodeDescriptionType" minOccurs="0"/>
													<xs:element name="LoanTypes" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LoanType" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="MortgageAddress" minOccurs="0"/>
																		</xs:sequence>
																		<xs:attributeGroup ref="CodeDescription"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Rating" type="CodeDescriptionType" minOccurs="0"/>
													<xs:element name="TermsPaymentFrequency" type="CodeDescriptionType" minOccurs="0"/>
													<xs:element name="Terms" minOccurs="0">
														<xs:complexType>
															<xs:choice>
																<xs:element ref="AmountRange"/>
																<xs:element ref="FiguresRange"/>
																<xs:element name="Reason">
																	<xs:complexType>
																		<xs:attributeGroup ref="CodeDescription"/>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element name="SecuredLines" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SecuredLine" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attributeGroup ref="CodeDescription"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="AuthorizedAmount" minOccurs="0">
														<xs:complexType>
															<xs:choice>
																<xs:element ref="AmountRange"/>
																<xs:element ref="FiguresRange"/>
																<xs:element name="Reason">
																	<xs:complexType>
																		<xs:attributeGroup ref="CodeDescription"/>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element name="BalanceOwing" minOccurs="0">
														<xs:complexType>
															<xs:choice>
																<xs:element ref="AmountRange"/>
																<xs:element ref="FiguresRange"/>
																<xs:element name="Reason">
																	<xs:complexType>
																		<xs:attributeGroup ref="CodeDescription"/>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Message"/>
						</xs:choice>
						<xs:element name="Comments" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="informationDate" type="xs:date" use="required"/>
					<xs:attributeGroup ref="CodeDescription"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Comments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNBankruptcyType">
		<xs:sequence>
			<xs:element name="Estate">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Name" minOccurs="0"/>
						<xs:element ref="Address" minOccurs="0"/>
						<xs:element ref="DischargeDate" minOccurs="0"/>
						<xs:element ref="RegionalOffice" minOccurs="0"/>
						<xs:element ref="CreditorMeetingDate" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CourtInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="CourtName" minOccurs="0"/>
						<xs:element ref="CourtProvince" minOccurs="0"/>
						<xs:element ref="HearingDate" minOccurs="0"/>
						<xs:element ref="DischargeType" minOccurs="0"/>
						<xs:element ref="EstateType" minOccurs="0"/>
						<xs:element ref="DivisionNumber" minOccurs="0"/>
						<xs:element ref="District" minOccurs="0"/>
						<xs:element ref="Dividends" minOccurs="0"/>
						<xs:element ref="AssetValue" minOccurs="0"/>
						<xs:element ref="LiabilityValue" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="courtFileNumber" type="xs:string" use="required"/>
					<xs:attribute name="FiledDate" type="xs:date" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Receiver" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Name" minOccurs="0"/>
						<xs:element ref="Address" minOccurs="0"/>
						<xs:element ref="Phone" minOccurs="0"/>
						<xs:element ref="Fax" minOccurs="0"/>
						<xs:element ref="RegionalOffice" minOccurs="0"/>
						<xs:element ref="IndividualLicense" minOccurs="0"/>
						<xs:element ref="CorporateLicense" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Trustee" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Name" minOccurs="0"/>
						<xs:element ref="Address" minOccurs="0"/>
						<xs:element ref="Phone" minOccurs="0"/>
						<xs:element ref="DischargeDate" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Comments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="reportedDate" type="xs:date" use="required"/>
		<xs:attribute name="estateNumber" type="xs:long" use="required"/>
	</xs:complexType>
	<xs:complexType name="CNBusinessInformationType">
		<xs:sequence>
			<xs:element name="CompanyInfo" type="CompanyType"/>
			<xs:element name="RequestorAndReportDetails" type="FileInformationType"/>
			<xs:element ref="LastDateOfBankruptcy" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNCreditReferenceDetailType">
		<xs:sequence>
			<xs:element ref="AccountSecured"/>
			<xs:element ref="Supplier" minOccurs="0"/>
			<xs:element ref="Phone" minOccurs="0"/>
			<xs:element ref="AccountOpenedDate" minOccurs="0"/>
			<xs:element ref="AccountClosedDate" minOccurs="0"/>
			<xs:element ref="TotalPastDueAmount"/>
			<xs:element name="WriteOff" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="AmountAndDate"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="OriginalCreditLimit" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="AmountAndDate"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreditLimit">
				<xs:complexType>
					<xs:attributeGroup ref="AmountAndDate"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="HighCredit">
				<xs:complexType>
					<xs:attributeGroup ref="AmountAndDate"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="TotalBalanceAmount"/>
			<xs:element ref="CurrentBalanceAmount"/>
			<xs:element name="BalancePeriodAmounts">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="BalancePeriodAmount" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentTerm" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="CodeDescription"/>
					<xs:attribute name="duration" type="xs:short"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentHabits" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="CodeDescription"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentStatuses" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PaymentStatus" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attributeGroup ref="CodeDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Sic" minOccurs="0"/>
			<xs:element name="Comments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="dateReported" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="CNCreditReferenceSummaryType">
		<xs:annotation>
			<xs:documentation>enumeration value: CR90</xs:documentation>
			<xs:documentation>enumeration value: CR13</xs:documentation>
			<xs:documentation>enumeration value: CRAL</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PaymentIndex" minOccurs="0"/>
			<xs:element ref="NumberOfCreditReferences"/>
			<xs:element ref="HighCreditAmount"/>
			<xs:element ref="TotalBalanceAmount"/>
			<xs:element ref="CurrentBalanceAmount"/>
			<xs:element ref="PastDuePeriodAmounts"/>
		</xs:sequence>
		<xs:attributeGroup ref="CodeDescription"/>
	</xs:complexType>
	<xs:complexType name="CNCollectionDetailType">
		<xs:sequence>
			<xs:element ref="ClaimDate"/>
			<xs:element ref="CreditorName" minOccurs="0"/>
			<xs:element ref="DebtorName" minOccurs="0"/>
			<xs:element ref="ClaimAmount"/>
			<xs:element ref="AmountPaid"/>
			<xs:element ref="AccountBalance"/>
			<xs:element name="ReportCode" type="CodeDescriptionType" minOccurs="0"/>
			<xs:element ref="AgencyName" minOccurs="0"/>
			<xs:element ref="StatusDate" minOccurs="0"/>
			<xs:element ref="DatePaid" minOccurs="0"/>
			<xs:element ref="ClosedDate" minOccurs="0"/>
			<xs:element name="Comments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="reportedDate" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="CNCorporateSearchAndAdditionalInfoType">
		<xs:sequence>
			<xs:element name="IncorporationsAndRegistrations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IncorporationsAndRegistration" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="RegistrationNumber" minOccurs="0"/>
									<xs:element name="RegistrationType" type="CodeDescriptionType" minOccurs="0"/>
									<xs:element name="JurisdictionLocation" type="CodeDescriptionType" minOccurs="0"/>
									<xs:element name="JurisdictionType" type="CodeDescriptionType" minOccurs="0"/>
									<xs:element ref="DateEffective" minOccurs="0"/>
									<xs:element name="Comments" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="informationDate" type="xs:date" use="required"/>
								<xs:attributeGroup ref="CodeDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OwnerPrincipals" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OwnerPrincipal" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Owner">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="NameType">
													<xs:sequence minOccurs="0">
														<xs:element ref="NameSuffix"/>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element ref="Title" minOccurs="0"/>
									<xs:element ref="SharesOwned" minOccurs="0"/>
									<xs:element name="Comments" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="informationDate" type="xs:date" use="required"/>
								<xs:attributeGroup ref="CodeDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Properties" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Property" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Ownership" type="CodeDescriptionType"/>
									<xs:element name="OwnershipSource" type="CodeDescriptionType" minOccurs="0"/>
									<xs:element name="PropertyCovered" type="CodeDescriptionType" minOccurs="0"/>
									<xs:element ref="PropertyValue"/>
									<xs:element ref="AddressLine1" minOccurs="0"/>
									<xs:element ref="EvaluationDate" minOccurs="0"/>
									<xs:element name="Comments" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="informationDate" type="xs:date" use="required"/>
								<xs:attributeGroup ref="CodeDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SalesInfos" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SalesInfo" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="SalesVolume"/>
									<xs:element ref="SalesDetail" minOccurs="0"/>
									<xs:element name="Comments" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="informationDate" type="xs:date" use="required"/>
								<xs:attributeGroup ref="CodeDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Employees" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EmployeeInfo" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="EmployeeSize"/>
									<xs:element ref="EmployeeDetail" minOccurs="0"/>
									<xs:element name="Comments" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="informationDate" type="xs:date" use="required"/>
								<xs:attributeGroup ref="CodeDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNDerogatorySummaryType">
		<xs:annotation>
			<xs:documentation>Returned cheques  (RET)</xs:documentation>
			<xs:documentation>Collections   (COL)</xs:documentation>
			<xs:documentation>Legal suits  (ACT)</xs:documentation>
			<xs:documentation>Judgments  (JGM)</xs:documentation>
			<xs:documentation>Other legal info  (OTH)</xs:documentation>
			<xs:documentation>Liens  (LIEN)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Count"/>
			<xs:element ref="Amount"/>
			<xs:element ref="DateOfLastActivity" minOccurs="0"/>
			<xs:element ref="DebtorComment"/>
		</xs:sequence>
		<xs:attributeGroup ref="CodeDescription"/>
	</xs:complexType>
	<xs:complexType name="CNInquiryType">
		<xs:sequence>
			<xs:element ref="Sic" minOccurs="0"/>
			<xs:element ref="CompanyName" minOccurs="0"/>
			<xs:element ref="Phone" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="inquiryDate" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="CNLegalDetailsType">
		<xs:sequence>
			<xs:element ref="ClaimDate"/>
			<xs:element ref="CourtFileNumber"/>
			<xs:element ref="Defendant"/>
			<xs:element ref="Plaintiff"/>
			<xs:element ref="LegalAmount"/>
			<xs:element name="LegalItemTypeDetail" type="CodeDescriptionType" minOccurs="0"/>
			<xs:element name="LegalNature" type="CodeDescriptionType" minOccurs="0"/>
			<xs:element name="CourtId" type="CodeDescriptionType"/>
			<xs:element ref="CourtLocation"/>
			<xs:element name="CourtProvince" type="CodeDescriptionType"/>
			<xs:element ref="SecuredItem" minOccurs="0"/>
			<xs:element ref="SecurityType" minOccurs="0"/>
			<xs:element name="Comments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="reportedDate" type="xs:date" use="required"/>
		<xs:attributeGroup ref="CodeDescription"/>
	</xs:complexType>
	<xs:complexType name="CNLienDetailsType">
		<xs:sequence>
			<xs:element name="Lien">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ReportedDate"/>
						<xs:element ref="LienNumber"/>
						<xs:element ref="CautionFiling" minOccurs="0"/>
						<xs:element ref="PrincipalAmount" minOccurs="0"/>
						<xs:element ref="LienPeriod" minOccurs="0"/>
						<xs:element name="CollateralClasses" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CollateralClass" type="CodeDescriptionType" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="DateRegistered" minOccurs="0"/>
						<xs:element ref="DateAmendment" minOccurs="0"/>
						<xs:element ref="DateMatured" minOccurs="0"/>
						<xs:element ref="RenewalPeriod" minOccurs="0"/>
						<xs:element name="Debtor" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="DebtorName"/>
									<xs:element ref="Address" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SecuredParty" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="SecuredPartyName"/>
									<xs:element ref="Address" minOccurs="0"/>
									<xs:element ref="PartyAssignor" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Vins" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Vin" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="VinNumber"/>
									<xs:element ref="MotorVehicleYear" minOccurs="0"/>
									<xs:element ref="MotorVehicleMake" minOccurs="0"/>
									<xs:element ref="MotorVehicleBodyStyle" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OtherRegisteredDebtors" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OtherRegisteredDebtor" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="DebtorName"/>
									<xs:element ref="Address" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Comments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNOtherFilesIncludeType">
		<xs:sequence>
			<xs:element ref="FileNumber"/>
			<xs:element ref="CompanyName"/>
			<xs:element ref="SubjectNumber"/>
			<xs:element ref="Address"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNPaymentTrendQuarterlyType">
		<xs:sequence>
			<xs:element name="Quarters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Quarter" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="PaymentIndex" minOccurs="0"/>
									<xs:element ref="CompositeIndex" minOccurs="0"/>
									<xs:element ref="NumberOfCreditReferences"/>
									<xs:element ref="TotalBalanceAmount"/>
									<xs:element ref="CurrentBalanceAmount"/>
									<xs:element ref="PastDuePeriodAmounts"/>
								</xs:sequence>
								<xs:attribute name="number" type="xs:short" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="trendYear" type="xs:gYear" use="required"/>
	</xs:complexType>
	<xs:complexType name="CNReportHighlightType">
		<xs:sequence>
			<xs:element name="BankReportOnFile">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="Date"/>
						<xs:element ref="Message"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="CorporateSearchOnFile">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="Date"/>
						<xs:element ref="Message"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="NumberOfInquiries"/>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="NumberOfAccounts"/>
					<xs:element name="Delinquencies">
						<xs:complexType>
							<xs:attributeGroup ref="NumberAndAmount"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="MostSevereStatus">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="CodeDescriptionType">
									<xs:attribute name="date" type="xs:date"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ChargeOff">
						<xs:complexType>
							<xs:attributeGroup ref="NumberAndAmount"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="LargestWriteOff">
						<xs:complexType>
							<xs:attributeGroup ref="AmountAndDate"/>
						</xs:complexType>
					</xs:element>
					<xs:element ref="TotalCurrentCreditExposure"/>
					<xs:element ref="TotalOutstanding"/>
					<xs:element ref="TotalCurrentBalance"/>
				</xs:sequence>
				<xs:element ref="Message"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNReturnedChequeType">
		<xs:sequence>
			<xs:element ref="ChequeAmount"/>
			<xs:element name="BankInfo" type="CodeDescriptionType" minOccurs="0"/>
			<xs:element ref="CreditorName" minOccurs="0"/>
			<xs:element ref="ReasonCode"/>
			<xs:element ref="StatusCode"/>
			<xs:element name="Comments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comment" type="CNSubjectCommentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="bankDate" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="CNScoreDetailType">
		<xs:annotation>
			<xs:documentation>enumeration value: CDS</xs:documentation>
			<xs:documentation>enumeration value: BFRS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CIPIScores" type="CIPIScoreType" minOccurs="0"/>
			<xs:element name="Scores" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Score" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Value"/>
									<xs:choice minOccurs="0">
										<xs:element name="ReasonCodes" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ReasonCode" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RejectCodes" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Reject" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:sequence>
								<xs:attributeGroup ref="CodeDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RiskClasses" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RiskClass" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Value" minOccurs="0"/>
									<xs:choice minOccurs="0">
										<xs:element name="ReasonCodes" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ReasonCode" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RejectCodes" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Reject" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:sequence>
								<xs:attributeGroup ref="CodeDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ScoreTrends" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ScoreTrend" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Quarters">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Quarter" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element ref="Value"/>
														</xs:sequence>
														<xs:attribute name="trendYear" type="xs:gYear" use="required"/>
														<xs:attribute name="number" type="xs:short" use="required"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attributeGroup ref="CodeDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNScoreSummaryType">
		<xs:annotation>
			<xs:documentation>enumeration value: CDS</xs:documentation>
			<xs:documentation>enumeration value: BFRS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CIScore" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="CompositeIndex"/>
						<xs:element ref="LevelOfRisk"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="PaymentIndex" minOccurs="0"/>
			<xs:element name="Scores" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Score" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Value"/>
									<xs:element ref="LevelOfRisk"/>
								</xs:sequence>
								<xs:attributeGroup ref="CodeDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RiskClasses" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RiskClass" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Value"/>
									<xs:element ref="LevelOfRisk"/>
								</xs:sequence>
								<xs:attributeGroup ref="CodeDescription"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CNSubjectCommentType">
		<xs:sequence>
			<xs:element ref="Lines"/>
		</xs:sequence>
		<xs:attribute name="timeStamp" type="xs:dateTime" use="required"/>
	</xs:complexType>
</xs:schema>
