vista-shared/vista-equifax-gen/src/main/resources/CNConsCreditType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Patrice Magnan (EQUIFAX CANADA INC.) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Louis (SHI) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Daniel Aubé (Equifax Canada) -->
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="CNConsCreditSegTypes.xsd"/>
	<!-- Standard Canadian Consumer Credit Report -->
	<xs:complexType name="CNConsumerCreditReportType">
		<xs:sequence>
			<xs:element name="CNHeader" type="CNHeaderType"/>
			<xs:element name="CNAddresses" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNAddress" type="CNAddressType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNOtherNames" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNOtherName" type="CNOtherNameType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNEmployments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNEmployment" type="CNEmploymentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNOtherIncomes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNOtherIncome" type="CNOtherIncomeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNBankruptciesOrActs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNBankruptcyOrAct" type="CNBankruptcyOrActType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNCollections" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNCollection" type="CNCollectionType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNLegalItems" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNLegalItem" type="CNLegalItemType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNSecuredLoans" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNSecuredLoan" type="CNSecuredLoanType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNNonResponsibilityNotices" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNNonResponsibilityNotice" type="CNNonResponsibilityNoticeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNMaritalItems" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNMaritalItem" type="CNMaritalItemType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNNSFs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNNSF" type="CNNSFType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNGarnishments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNGarnishment" type="CNGarnishmentType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNTrades" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNTrade" type="CNTradeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNNonMemberTrades" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNNonMemberTrade" type="CNNonMemberTradeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNBankAccounts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNBankAccount" type="CNBankAccountType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNLocalInquiries" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNLocalInquiry" type="CNLocalInquiryType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNForeignInquiries" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNForeignInquiry" type="CNForeignInquiryType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNSpecialServices" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNSpecialService" type="CNSpecialServiceType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNConsumerStatements" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNConsumerStatement" type="CNConsumerStatementType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNDepositAlerts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNDepositAlert" type="CNDepositAlertType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNScores" type="CNScoresType" minOccurs="0"/>
			<xs:element name="CNFraudWarnings" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNFraudWarning" type="CNFraudWarningType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNEIDs" type="CNEIDsType" minOccurs="0"/>
			<xs:element name="CNOtherSources" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNOtherSource" type="CNOtherSourceType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNExtendedTrades" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNExtendedTrade" type="CNExtendedTradeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNDateOfBirths" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNDateOfBirth" type="CNDateOfBirthType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNSocialInsuranceNumbers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNSocialInsuranceNumber" type="CNSocialInsuranceNumberType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNTelephoneNumbers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNTelephoneNumber" type="CNTelephoneNumberType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNPassportNumbers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNPassportNumber" type="CNPassportNumberType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNDriverLicenseNumbers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNDriverLicenseNumber" type="CNDriverLicenseNumberType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNConsentIndicators" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNConsentIndicator" type="CNConsentIndicatorType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="SubjectAndMultiple"/>
	</xs:complexType>
</xs:schema>
