vista-shared/vista-equifax-gen/src/main/resources/CNEfxReportType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by KAREN PILKINGTON (EQUIFAX, INC) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Guy Plourde (SHI) -->
<!-- edited with XML Spy v4.1 (http://www.xmlspy.com) by Daniel Aubé (Equifax Canada) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="CNCommCreditType.xsd"/>
	<xs:include schemaLocation="CNCommCreditTypeReport2.0.xsd"/>
	<xs:include schemaLocation="CNCommCreditSegTypes.xsd"/>
	<xs:include schemaLocation="CNCommCreditSegTypesReport2.0.xsd"/>
	<xs:include schemaLocation="CNConsCreditType.xsd"/>
	<xs:include schemaLocation="CNConsCreditSegTypes.xsd"/>
	<xs:include schemaLocation="CNEfxCommon.xsd"/>
	<!--Standard Canadian Report of Consumer, Commercial and all others related products-->
	<xs:complexType name="EfxReportType">
		<xs:choice>
			<xs:element name="CNConsumerCreditReports">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNConsumerCreditReport" type="CNConsumerCreditReportType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNCommercialMultiples">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="CNCommercialMultiple" type="MultipleType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="commercialHitIndicator" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNCommercialCreditReports">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="CNCommercialCreditReport" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="CNCommercialCreditReportType">
										<xs:attribute name="commercialHitIndicator" type="xs:string"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNCommercialCreditReports2.0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CNCommercialCreditReport2.0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="CNCommercialCreditTypeReport2.0">
										<xs:attribute name="commercialHitIndicator" type="xs:string" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CNSignonAcknowledgment">
				<xs:complexType>
					<xs:attribute name="signonStatus" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="RequestAndReportId"/>
	</xs:complexType>
</xs:schema>
